<apex:page showHeader="false" standardStylesheets="false" controller="wct_checkinARinternal" id="pg">

    <apex:includeScript value="{!URLFOR($Resource.jQuery_BlogForce9_162, 'js/jquery-1.6.2.min.js')}"/>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1"></meta>
<apex:stylesheet value="{!$Resource.CommonCSS}"/>

 <style type="text/css">
       .customPopup{
            background-color: white;
            border-style: solid;
            border-width: 2px;
            left: 50%;
            padding:10px;
            position: absolute;
            z-index: 9999;
            /* These are the 3 css properties you will need to tweak so the pop 
            up displays in the center of the screen. First set the width. Then set 
            margin-left to negative half of what the width is. You can also add 
            the height property for a fixed size pop up.*/
            width: 500px;
            margin-left: -250px;
            top:150px;
        }
    </style>
    <script>
function fnARChecknon()
{
var Aratt = document.getElementById("pg:frm:nir_pi").value;
var vdoyou = document.getElementById("pg:frm:nir_doyou").value;
var vfname = document.getElementById("pg:frm:ARInFN").value;
var vlname = document.getElementById("pg:frm:ARInLN").value;
var vemail = document.getElementById("pg:frm:ARInEM").value;
var vnamtag = document.getElementById("pg:frm:ARInNT").value;
var vnirfp = document.getElementById("pg:frm:nir_fp").value;
try{
var varsub = document.getElementById("pg:frm:Arintsub").value;
}catch(error){
}
var varsubcon = document.getElementById("pg:frm:Arsubman").value;

 if(vfname=="" || vfname ==null)
{
alert('Please Provide First Name');

 }
else
  if(vlname=="" || vlname ==null)
{
alert('Please Provide Last Name');
}
else
  if((vnamtag=="" && Aratt=='Yes') || (vnamtag ==null && Aratt=='Yes'))
{
alert('Please Provide Nickname for Nametag ');
}
else
  if(vemail=="" || vemail ==null)
{
alert('Please Provide Email ');
}
else
  if((varsub=="" || varsub ==null||varsub =='--None--') && varsubcon>1 && Aratt=='Yes')
{
alert('Please Provide Event Option ');
}
  else
  if((vnirfp=="" && Aratt=='Yes') || (vnirfp ==null && Aratt=='Yes')||(vnirfp =='--None--' && Aratt=='Yes'))
{
alert('Please Provide Function ');
}
else
if((vdoyou=="" && Aratt=='Yes') || (vdoyou ==null && Aratt=='Yes')||(vdoyou =='--None--'&& Aratt=='Yes'))
{
alert('Please Provide Do you consent to having your name and employer visible to Deloitte alums and current professionals?');
}
  
 else{

 nircallsave();
}
return null;
}

window.onload = function(e){
var Aratt = document.getElementById("pg:frm:nir_pi").value;
  if(Aratt=='No')
{
document.getElementById('nametag1').style.display='none';
document.getElementById('doyou').style.display='none';
document.getElementById('whatis').style.display='none';
document.getElementById('spe').style.display='none';
document.getElementById('fun').style.display='none';
try{
document.getElementById('eventop').style.display='none';
}catch(error){
}
document.getElementById('Ainfo').style.display='none';
document.getElementById('hainfo').style.display='none';
}
}    
function fnARCheckattno()
{
var Aratt = document.getElementById("pg:frm:nir_pi").value;
  if(Aratt=='No')
{
document.getElementById('nametag1').style.display='none';
document.getElementById('doyou').style.display='none';
document.getElementById('whatis').style.display='none';
document.getElementById('spe').style.display='none';
document.getElementById('fun').style.display='none';
try{
document.getElementById('eventop').style.display='none';
}catch(error){
}
document.getElementById('Ainfo').style.display='none';
document.getElementById('hainfo').style.display='none';

}
  if(Aratt=='Yes')
{
document.getElementById('nametag1').style.display='table-row';
document.getElementById('fun').style.display='table-row';
document.getElementById('doyou').style.display='table-row';
document.getElementById('whatis').style.display='table-row';
try{
document.getElementById('eventop').style.display='table-row';
}catch(error){
}
document.getElementById('spe').style.display='table-row';
document.getElementById('Ainfo').style.display='table-row';
document.getElementById('hainfo').style.display='block';
}

}
</script>
  <apex:form id="frm" >
  <apex:inputHidden value="{!countsubschedule}" id="Arsubman"/>
   <div >
    <div style="padding: 0px 32px; left: 0px; top: 0px; height: 100px; clear: both;">
     <img src="{!$Resource.Deloitte_Sites_Logo}" alt="Deloitte United States" title="Deloitte United States" name="logo" border="0" id="logo" width="124" height="27"></img>
      </div>
      <div>
      <apex:outputpanel rendered="{!attendingno}" >
      <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        
         <tr valign="top">
          <td style ="width:20px">
           <div >
            <apex:image id="theImage51" url="{!DocumentImageUrl}" width="300" height="92"/>
            
           </div><br></br>
          </td>
          <td align="left">
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.name}</b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;"><apex:outputText value="{0,date,MMMM dd', 'yyyy}"><apex:param value="{!sitestartdate}" /> </apex:outputText></b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.Venue_City_AR__c}, {!event.Venue_state_AR__c}</b><br></br>
           <br></br><br></br>
            
            <apex:outputpanel rendered="{!attendingno}"><span style="align-left;padding-left:15px;">Thank you for submitting the event registration form. We are sorry that you cannot join us.</span></apex:outputpanel>
            
            <span style="height:500px;"></span> </td>
          <tr>
          <td ></td>
         <td style="padding-left:300px" vAlign="top"> <br/> <br/><br/> 
          </td>
         </tr>
         </tr>
        </tbody>
       </table>
       </apex:outputpanel>
      <apex:outputpanel rendered="{!thankyoumess}" >
      <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr><td></td><td  style="padding-left: 750px;"></td></tr>
         <tr valign="top">
          <td style ="width:20px">
           <div >
            <apex:image id="theImage5" url="{!DocumentImageUrl}" width="300" height="92"/>
            
           </div><br></br>
          </td>
          <td align="left">
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.name}</b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;"><apex:outputText value="{0,date,MMMM dd', 'yyyy}"><apex:param value="{!sitestartdate}" /> </apex:outputText></b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.Venue_City_AR__c}, {!event.Venue_state_AR__c}</b><br></br>
           <br></br><br></br>
            <span style="align-left;padding-left:15px;">Thank you for submitting the event registration form. You will receive your confirmation email shortly.</span>
            <span style="height:500px;"></span> </td>
          <tr>
          <td ></td>
         <td style="padding-left:300px" vAlign="top"> <br/> <br/><br/> 
          </td>
         </tr>
         </tr>
        </tbody>
       </table>
       </apex:outputpanel>
       <apex:outputPanel rendered="{!EventRegistrationClosed}">
       <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
        <tbody>
         <tr valign="top">
          <td style ="width:20px">
           <div >
            <apex:image id="theImage1" url="{!DocumentImageUrl}" width="300" height="92"/>
            
           </div><br></br>
          </td>
          <td align="left">
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.name}</b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;"><apex:outputText value="{0,date,MMMM dd', 'yyyy}"><apex:param value="{!sitestartdate}" /> </apex:outputText></b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.Venue_City_AR__c}, {!event.Venue_state_AR__c}</b><br></br>
           <br></br><br></br>
           <span style="padding-left:5px;">Important Notice</span>
           <hr style="display: block; height: 1px;border: 0; border-top: 2px solid #002776;margin-left:4px;" />
           <span style="padding-left:5px"> Thank you for your interest in attending our {!event.name}. Online registration is now closed.</span><br/><br/>
           <span style="padding-left:5px"> Please contact Lauren Leimkuehler at <span style="color: #00a1de;padding-left:0px">lleimkuehler@deloitte.com</span> with any questions about the seminar.</span>
          </td>
          <tr>
          <td ></td>
         <td style="padding-left:300px" vAlign="top"> <br/> <br/><br/> 
         <!--<p><apex:commandlink action="{!showPopup}" rerender="popup">Contact Registration Assistance </apex:commandLink></p>--> </td>
         </tr>
         </tr>
        </tbody>
       </table>
       
       
       </apex:outputPanel>
      
      <apex:outputPanel rendered="{!AReventended}">
       <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
        <tbody>
         <tr valign="top">
          <td style ="width:20px">
           <div >
            <apex:image id="theImage2" url="{!DocumentImageUrl}" width="300" height="92"/>
           </div><br></br>
          </td>
          <td align="left">
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.name}</b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;"><apex:outputText value="{0,date,MMMM dd', 'yyyy}"><apex:param value="{!sitestartdate}" /> </apex:outputText></b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.Venue_City_AR__c}, {!event.Venue_state_AR__c}</b><br></br>
           <br></br><br></br>
           <span style="padding-left:5px;">Important Notice</span>
           <hr style="display: block; height: 1px;border: 0; border-top: 2px solid #002776;padding: 0px;margin-left:4px;" />
           <span style="padding-left:5px"> This event has ended. For information about the event, or registration for the next event, please contact the event registration service</span>
          </td>
         </tr>
        </tbody>
       </table>
       
       
       </apex:outputPanel>
     <apex:outputPanel rendered="{!ARpage1}" id="mainpage">
       
       
       
       <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr><td></td><td><apex:pageMessages ></apex:pageMessages></td></tr>
         <tr valign="top">
          <td style ="width:20px">
           <div >
             <apex:image id="theImage4" url="{!DocumentImageUrl}" width="300" height="92"/>
           </div><br></br>
          </td>
          <td align="left">
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.name}</b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;"><apex:outputText value="{0,date,MMMM dd', 'yyyy}"><apex:param value="{!sitestartdate}" /> </apex:outputText></b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.Venue_City_AR__c}, {!event.Venue_state_AR__c}</b><br></br><br></br><br></br>
           <apex:outputPanel rendered="{!ARpage1error}"><span style="color:#FF0000;padding-left:5px;"> Please correct the Email Address, Last Name and try again</span>  </apex:outputPanel>
           <br/><br/>
           <span style="padding-left:5px;"><b>Will you attend this event?:</b></span>&nbsp; *&nbsp;<apex:selectList value="{!EventAttendance}" id="nir_pi" size="1" onchange="fnARCheckattno()"><apex:selectOptions value="{!ARattendance}" /></apex:selectList><br></br><br></br>
           <b><span style="padding-left:5px;">Personal Profile</span></b><b><span style="float:right">* denotes field is required</span></b>
           <hr style="display: block; height: 1px;border: 0; border-top: 2px solid #002776;margin-left: 5px;" />
           
           <table style="margin-right: 10%; width:80%;padding-left: 3px;" align="left" >
        
        <tr >
         <td style ="text-align:left; width:50%" width="30%" vAlign="top">First Name </td>
         <td  style ="text-align:left; width:50%;  padding-left: 2px;" width="70%" vAlign="top"> *&nbsp;<apex:inputField id="ARInFN" value="{!con.firstname}" style="width:150px;"  /></td>
        </tr>
        
        <tr >
         <td style ="text-align:left; width:40%;" vAlign="top">Last Name</td>
         <td style ="text-align:left; width:40%;" vAlign="top;"> <div style="float:left">*</div><div style="float-left:2px"><apex:inputfield id="ARInLN" value="{!con.lastname}" style="width:150px;margin-left: 4px;"/></div></td>
         
        </tr> 
        <tr id="nametag1">
         <td style ="text-align:left; width:50%" vAlign="top">Nickname for Nametag </td>
         <td style ="text-align:left; width:50%;padding-left:2px" vAlign="top" > *&nbsp;<apex:inputfield id="ARInNT" value="{!eve.First_Nickname_for_Nametag__c}" style="width:150px"/></td>
        </tr>
        
        <tr>
         <td style ="text-align:left; width:50%" vAlign="top">Email Address </td>
         <td style ="text-align:left; width:50%;padding-left: 2px;" vAlign="top;">*&nbsp; <apex:inputfield value="{!con.email}" id="ARInEM" style="width:150px"/></td>
        </tr>
        <apex:outputPanel rendered="{!if(event.Subschedule_1_Title__c !=''||event.Subschedule_2_Title__c !=''||event.Subschedule_3_Title__c !='', true,false)}" >
        <tr id="eventop">
         <td style ="text-align:left; " vAlign="top">Event Option </td>
         <td style ="text-align:left;  padding-left: 2px; " vAlign="top">*&nbsp;<apex:selectList id="Arintsub" value="{!Subschedule}" size="1" multiselect="false"><apex:selectOptions value="{!Subscheduledet}"></apex:selectOptions></apex:selectList> </td>
        </tr>
       </apex:outputPanel> 
        
       </table>
           </td>
           </tr>
           <tr>
           <td></td>
           <td><hr style="display: block; height: 1px;border: 0; border-top: 2px solid #ffffff;padding: 0px;" />
           <hr style="display: block; height: 1px;border: 0; border-top: 2px solid #ffffff;padding: 0px;" /></td>
           </tr>
           <tr style="margin-top: 3%;">
           <td></td>
        <td  align="left">
           <b><span id="Ainfo">Additional Information</span></b>
           <hr id="hainfo" style="display: block; height: 1px;border: 0; border-top: 2px solid #002776;padding: 0px;" />
           <table style="margin-right: 10%;width:100%;margin-top: -22px;" >
           <tr id="fun">
         <td style ="text-align:left; width:40%" vAlign="top">Function </td>
         <td  style ="text-align:left; width:75%;  padding-left: 8px;" vAlign="top"> *&nbsp;<apex:selectList value="{!confp}" id="nir_fp" size="1"><apex:selectOptions value="{!nirfss}" /></apex:selectList></td>
        </tr><br/>
        <tr id="doyou">
         <td style ="text-align:left; width:25%" vAlign="top">Do you consent to having your name and employer visible to Deloitte alums and current professionals?</td>
         <td  style ="text-align:left; width:75%;  padding-left: 8px;" vAlign="top">*&nbsp;<apex:inputfield id="nir_doyou" value="{!eve.Do_you_consent_to_having_your_name_and_e__c}" style="width:150px"/></td>
        </tr><br/>
        
         <tr id="whatis">
         <td style ="text-align:left; width:30%" vAlign="top">What is the primary reason for attending this event</td>
         <td  style ="text-align:left; width:30%;  padding-left: 8px;" vAlign="top">&nbsp;&nbsp; <apex:inputfield value="{!eve.What_is_your_primary_reason__c}" style="width:auto"/>&nbsp;
         <apex:inputfield value="{!eve.What_is_your_primary_reason_other__c}" style="height:13px;"/></td>
          <td  style ="text-align:left; width:30%" vAlign="top">&nbsp;&nbsp; </td>
        </tr><br/>
        
        <tr id="spe">
         <td style ="text-align:left; width:25%" vAlign="top">Special Dietary Needs </td>
         <td style ="text-align:left; width:50%;padding-left: 12px; " vAlign="top">&nbsp; <apex:inputfield value="{!eve.Special_Dietary_Needs__c}" style="pad13px;" />&nbsp;<apex:inputfield value="{!eve.Special_Dietary_Needs_Other__c}" style="height:13px;"/></td>
         <td > </td>
        </tr>
           <tr>
         <td style ="text-align:left; width:25%" vAlign="top"></td>
         <td vAlign="top"> <br/>&nbsp;&nbsp; <apex:commandButton value="Continue" onclick="if(!fnARChecknon()) return false;"  action="{!AR_event_insert_or_update}" style="width:95px;background:#00a1de;color:#FFFFFF"/><br/><br/> 
          </td>
        </tr>
       </table>
           </td>             
         </tr>
        </tbody>
       </table>
       </apex:outputPanel> 
       

      
        
    
     <!----------------------------------------------- FOOTER DETAILS---------------------------------->  
       
       <table>
        <tr><hr style="display: block; height: 1px;border: 0; border-top: 2px solid #002776;padding: 0px;" /></tr>
       </table>
       
       <table style="width:100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
         <td valign="top" style=" font-size: 9px;padding: 10px">
         
         <a href="http://www.deloitte.com/view/en_US/us/legal/index.htm"><span style="color: #00a1de">Legal</span></a>&nbsp;|&nbsp;
          <a href="http://www.deloitte.com/view/en_US/us/privacy/index.htm"><span style="color: #00a1de">Privacy</span></a><br/><br/>
          </td>
          <td valign="top" style="width:250px">
          <span style=" font-size: 9px;">Member of Deloitte Touche Tohmatsu Limited</span>
         </td>
         </tr>
         <tr>
         <td colspan="2">
         <p style=" font-size: 9px;padding: 10px">Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (“DTTL”), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as “Deloitte Global”) does not provide services to clients. Please see <a href="http://www2.deloitte.com/global/en/pages/about-deloitte/articles/about-deloitte.html">www.deloitte.com/about</a> for a detailed description of DTTL and its member firms. Please see <a href="http://www2.deloitte.com/us/en/pages/about-deloitte/articles/about-deloitte.html">www.deloitte.com/us/about</a> for a detailed description of the legal structure of Deloitte LLP and its subsidiaries. Certain services may not be available to attest clients under the rules and regulations of public accounting.</p>
          <br/><p ><span style=" font-size: 9px;padding: 10px">Copyright © 2015 Deloitte Development LLC. All rights reserved.</span></p>
          
         
         </td>
         
        </tr>
        
        <tr>
         <td>
          
         </td>
        </tr>
        <tr>
         <td>
          
         </td>
        </tr>
       </table>
       
      </div>
     </div>
     
     
     
    </apex:form>
   </apex:page>