<apex:page showHeader="false" standardStylesheets="true" controller="wct_checkinAR" id="pg">
  <apex:includeScript value="{!URLFOR($Resource.jQuery_BlogForce9_162, 'js/jquery-1.6.2.min.js')}"/>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1"></meta>
<apex:stylesheet value="{!$Resource.CommonCSS}"/>
<script>
function openLookup(baseURL, width, modified, searchParam){
        //alert('Base URL '+baseURL);
    var originalbaseURL = baseURL;
    var originalwidth = width;
    var originalmodified = modified;
    var originalsearchParam = searchParam;
        
        /*Getting the lktp= */
        var lookupType="";
        var index=baseURL.indexOf("lktp=");
        // alert('index '+index);
        if(index!=-1)
            {
                lookupType = baseURL.substr(index+5, 3);
            }
        // alert('lookupType :'+lookupType);
    if (modified == '1') baseURL = baseURL + searchParam;
        //alert(lookupType);
    var isCustomLookup = false;
    
    // Following "001" is the lookup type for List Of Names object so change this as per your standard or custom object
    if(lookupType == "003"){
  
      var urlArr = baseURL.split("&");
      var txtId = '';
      var serachFilters='';

        
        /*iterate through the para,s of base URL */
     //console.log(""+urlArr);
        for(var keypair in urlArr)
            {   
            var currentKey= urlArr[keypair]+'';
             var keyValue=currentKey.split('=');
              if(keyValue.length==2)
                 {
                 if(keyValue[0]=='lknm')
                     {
                        txtId=keyValue[1];
                     }
                  else if(keyValue[0]=='dplp')
                     {
                        serachFilters=keyValue[1];
                     }
                 }
            }
        
        //alert(txtId);
      // Following is the url of Custom Lookup page. You need to change that accordingly
      baseURL = "/event/AR_Custom_contact_lookup?txt=" + txtId;
        baseURL =baseURL+"&serachFilters=" + serachFilters;
        //alert(baseURL);
      // Following is the id of apex:form control "myForm". You need to change that accordingly
      baseURL = baseURL + "&frm=" + escapeUTF("{!$Component.inp}");
      if (modified == '1') {
        baseURL = baseURL + "&lksearch=" + searchParam;
      }
        //alert(txtId.indexOf('Account'));
      // Following is the ID of inputField that is the lookup to be customized as custom lookup
      if(txtId.indexOf('Account') ==     -1 ){
        isCustomLookup = true;
      }
    }
    
    
    if(isCustomLookup == true){
        // alert(isCustomLookup);
        openPopup(baseURL, "lookup", 350, 480, "width="+width+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
    }
    else {
      if (modified == '1') originalbaseURL = originalbaseURL + originalsearchParam;
      openPopup(originalbaseURL, "lookup", 350, 480, "width="+originalwidth+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
    } 
  }


function clickThis(id)
    {
        $("[id$="+id+"]").click();
        
       
    } 
       function redirectThankyou()
        {
           
            document.getElementById('pId').style.display='block';
            document.getElementById('tableId').style.display='none';
            document.getElementById('continueBtn').style.display='none';
        }
function fnARChecknon()
{
var Aratt = document.getElementById("pg:frm:nir_pi").value;
var Arextnam = document.getElementById("pg:frm:ARExNT").value;
var Arextcom = document.getElementById("pg:frm:combobox:autocmp:hiddenField").value;
var Arexttit = document.getElementById("pg:frm:Arexttit").value;
var Arextdo = document.getElementById("pg:frm:ARexdo").value;


try{
var Arextsub = document.getElementById("pg:frm:arexsub").value;
}catch(error){
}
var Arextsubman = document.getElementById("pg:frm:Arsubman").value;


if((Arextnam=="" && Aratt=='Yes') || (Arextnam ==null && Aratt=='Yes'))
{
alert('Please Provide Nickname for Nametag');
  return null;
}
else if((Arextcom =="" && Aratt=='Yes')||(Arextcom==null && Aratt=='Yes') )
  {
alert('Please Provide Company Name');
  return null;
}
else if((Arexttit =="" && Aratt=='Yes')||(Arexttit==null && Aratt=='Yes') )
  {
alert('Please Provide Title');
  return null;
}
else if((Arextsub ==""||Arextsub==null || Arextsub=='--None--')&& Arextsubman>1 && Aratt=='Yes')
  {
alert('Please Provide Event Option');
  return null;
}
else if((Arextdo =="" && Aratt=='Yes')||(Arextdo==null && Aratt=='Yes'))
  {
alert('Please Provide Do you consent to having your name and employer visible to another alum and Deloitte invitees?');
  return null;
}

  else 
  return true; 

} 

window.onload = function(e){
var Aratt = document.getElementById("pg:frm:nir_pi").value;
  if(Aratt=='No')
{
document.getElementById('nametag1').style.display='none';
document.getElementById('iwould').style.display='none';
document.getElementById('doyou').style.display='none';
document.getElementById('whatis').style.display='none';
try{
document.getElementById('eventop').style.display='none';
}catch(error){
}
document.getElementById('spe').style.display='none';
document.getElementById('com').style.color='white';
document.getElementById('tit').style.color='white';
document.getElementById('Ainfo').style.display='none';
document.getElementById('hainfo').style.display='none';
}
}    
function fnARCheckattno()
{
var Aratt = document.getElementById("pg:frm:nir_pi").value;
  if(Aratt=='No')
{
document.getElementById('nametag1').style.display='none';
document.getElementById('iwould').style.display='none';
document.getElementById('doyou').style.display='none';
document.getElementById('whatis').style.display='none';
try{
document.getElementById('eventop').style.display='none';
}catch(error){
}
document.getElementById('spe').style.display='none';
document.getElementById('com').style.color='white';
document.getElementById('tit').style.color='white';
document.getElementById('Ainfo').style.display='none';
document.getElementById('hainfo').style.display='none';

}
  if(Aratt=='Yes')
{
document.getElementById('nametag1').style.display='table-row';
document.getElementById('iwould').style.display='table-row';
document.getElementById('doyou').style.display='table-row';
document.getElementById('whatis').style.display='table-row';
document.getElementById('spe').style.display='table-row';
try{
document.getElementById('eventop').style.display='table-row';
}catch(error){
}
document.getElementById('com').style.color='black';
document.getElementById('tit').style.color='black';
document.getElementById('Ainfo').style.display='table-row';
document.getElementById('hainfo').style.display='block';
}

}
 </script>
<style type="text/css">
       .customPopup{
            background-color: white;
            border-style: solid;
            border-width: 2px;
            left: 50%;
            padding:10px;
            position: absolute;
            z-index: 9999;
            /* These are the 3 css properties you will need to tweak so the pop 
            up displays in the center of the screen. First set the width. Then set 
            margin-left to negative half of what the width is. You can also add 
            the height property for a fixed size pop up.*/
            width: 500px;
            margin-left: -250px;
            top:150px;
        }
    </style>

  <apex:form id="frm" >
  <apex:inputHidden value="{!countsubschedule}" id="Arsubman"/>
   <div >
    <div style="padding: 0px 32px; left: 0px; top: 0px; height: 100px; clear: both;">
    <img src="{!$Resource.Deloitte_Sites_Logo}" alt="Deloitte United States" title="Deloitte United States" name="logo" border="0" id="logo" width="124" height="27"></img>
      </div>
      <div>
      <apex:outputPanel ><apex:commandButton id="page1Search" value="Continue" action="{!Search}" style="width:95px;background:#00a1de;color:#FFFFFF; display:none;" /></apex:outputPanel>
      
      <apex:outputpanel rendered="{!thankyoumess}" >
      <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr><td></td><td  style="float:right;padding-right: 15px;"><apex:image url="/servlet/servlet.FileDownload?file=01540000001qlyL" width="110" height="30"/></td></tr>
         <tr valign="top">
          <td style ="width:20px">
           <div >
            <apex:image id="theImage5" url="{!DocumentImageUrl}" width="300" height="92"/>
            
           </div><br></br>
          </td>
          <td align="left">
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.name}</b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;"><apex:outputText value="{0,date,MMMM dd', 'yyyy}"><apex:param value="{!sitestartdate}" /> </apex:outputText></b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.Venue_City_AR__c}, {!event.Venue_state_AR__c}</b><br></br>
           <br></br><br></br>
            <apex:outputpanel rendered="{!thankyoumess}"><span style="align-left;padding-left:15px;">Thank you for submitting the event registration form. You will receive your confirmation email shortly.</span></apex:outputpanel>
            
            
            <span style="height:500px;"></span> </td>
          <tr>
          <td ></td>
         <td style="padding-left:300px" vAlign="top"> <br/> <br/><br/> 
          </td>
         </tr>
         </tr>
        </tbody>
       </table>
       </apex:outputpanel>
       <apex:outputpanel rendered="{!attendingno}" >
      <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr><td></td><td  style="float:right;padding-right: 15px;"><apex:image url="/servlet/servlet.FileDownload?file=01540000001qlyL" width="110" height="30"/></td></tr>
         <tr valign="top">
          <td style ="width:20px">
           <div >
            <apex:image id="theImage51" url="{!DocumentImageUrl}" width="300" height="92"/>
            
           </div><br></br>
          </td>
          <td align="left">
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.name}</b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;"><apex:outputText value="{0,date,MMMM dd', 'yyyy}"><apex:param value="{!sitestartdate}" /> </apex:outputText></b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.Venue_City_AR__c}, {!event.Venue_state_AR__c}</b><br></br>
           <br></br><br></br>
            
            <apex:outputpanel rendered="{!attendingno}"><span style="align-left;padding-left:15px;">Thank you for submitting the event registration form. We are sorry that you cannot join us.</span></apex:outputpanel>
            
            <span style="height:500px;"></span> </td>
          <tr>
          <td ></td>
         <td style="padding-left:300px" vAlign="top"> <br/> <br/><br/> 
          </td>
         </tr>
         </tr>
        </tbody>
       </table>
       </apex:outputpanel>
        <apex:outputpanel rendered="{!waitlistthankyoumess}" >
      <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr><td></td><td  style="float:right;padding-right: 15px;"><apex:image url="/servlet/servlet.FileDownload?file=01540000001qlyL" width="110" height="30"/></td></tr>
         <tr valign="top">
          <td style ="width:20px">
           <div >
            <apex:image id="theImage15" url="{!DocumentImageUrl}" width="300" height="92"/>
            
           </div><br></br>
          </td>
          <td align="left">
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.name}</b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;"><apex:outputText value="{0,date,MMMM dd', 'yyyy}"><apex:param value="{!sitestartdate}" /> </apex:outputText></b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.Venue_City_AR__c}, {!event.Venue_state_AR__c}</b><br></br>
           <br></br><br></br>
            <span style="align-left;padding-left:15px;">Thank you for submitting your event registration. We are at capacity for this event so you have been added to the waitlist.</span> <br/> <span style="align-left;padding-left:15px;">If a seat becomes available, we will send you an email that your registration has been accepted and you are confirmed for the event.    </span>
            <span style="height:500px;"></span> </td>
          <tr>
          <td ></td>
         <td style="padding-left:300px" vAlign="top"> <br/> <br/><br/> 
          </td>
         </tr>
         </tr>
        </tbody>
       </table>
       </apex:outputpanel>
       <apex:outputPanel rendered="{!EventRegistrationClosed}">
       <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr><td></td><td  style="float:right;padding-right: 15px;"><apex:image url="/servlet/servlet.FileDownload?file=01540000001qlyL" width="110" height="30"/></td></tr>
         <tr valign="top">
          <td style ="width:20px">
           <div >
            <apex:image id="theImage1" url="{!DocumentImageUrl}" width="300" height="92"/>
            
           </div><br></br>
          </td>
          <td align="left">
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.name}</b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;"><apex:outputText value="{0,date,MMMM dd', 'yyyy}"><apex:param value="{!sitestartdate}" /> </apex:outputText></b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.Venue_City_AR__c}, {!event.Venue_state_AR__c}</b><br></br>
           <br></br><br></br>
           <span style="padding-left:5px;">Important Notice</span>
           <hr style="display: block; height: 1px;border: 0; border-top: 2px solid #002776;margin-left:4px;" />
           <span style="padding-left:5px"> Thank you for your interest in attending our {!event.name}. Online registration is now closed.</span><br/><br/>
           <span style="padding-left:5px"> Please contact Lauren Leimkuehler at <span style="color: #00a1de;padding-left:0px">lleimkuehler@deloitte.com</span> with any questions about the seminar.</span>
          </td>
          <tr>
          <td ></td>
         <td style="padding-left:300px" vAlign="top"> <br/> <br/><br/> 
         <p><apex:commandlink action="{!showPopup}" rerender="popup">Contact Registration Assistance </apex:commandLink></p> </td>
         </tr>
         </tr>
        </tbody>
       </table>
       
       
       </apex:outputPanel>
      
      <apex:outputPanel rendered="{!AReventended}">
       <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr><td></td><td  style="float:right;padding-right: 15px;"><apex:image url="/servlet/servlet.FileDownload?file=01540000001qlyL" width="110" height="30"/></td></tr>
         <tr valign="top">
          <td style ="width:20px">
           <div >
            <apex:image id="theImage2" url="{!DocumentImageUrl}" width="300" height="92"/>
           </div><br></br>
          </td>
          <td align="left">
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.name}</b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;"><apex:outputText value="{0,date,MMMM dd', 'yyyy}"><apex:param value="{!sitestartdate}" /> </apex:outputText></b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.Venue_City_AR__c}, {!event.Venue_state_AR__c}</b><br></br>
           <br></br><br></br>
           <span style="padding-left:5px;">Important Notice</span>
           <hr style="display: block; height: 1px;border: 0; border-top: 2px solid #002776;padding: 0px;margin-left:4px;" />
           <span style="padding-left:5px"> This event has ended. For information about the event, or registration for the next event, please contact the event registration service</span>
          </td>
         </tr>
        </tbody>
       </table>
       
       
       </apex:outputPanel>
      
       <apex:outputPanel rendered="{!ARwelcompage}">
       <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr><td></td><td  style="float:right;padding-right: 15px;"><apex:image url="/servlet/servlet.FileDownload?file=01540000001qlyL" width="110" height="30"/></td></tr>
        
         <tr valign="top">
          <td style ="width:20px">
           <div >
            <apex:image id="theImage3" url="{!DocumentImageUrl}" width="300" height="92"/>
            
           </div><br></br>
          </td>
          <td align="left">
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.name}</b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;"><apex:outputText value="{0,date,MMMM dd', 'yyyy}"><apex:param value="{!sitestartdate}" /> </apex:outputText></b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.Venue_City_AR__c}, {!event.Venue_state_AR__c}</b><br></br>
           <apex:outputPanel rendered="{!ARpage1error}"><span style="color:#FF0000;padding-left:5px;"> Please correct the following errors:</span><br/><br/> <span style="padding-left:5px;"><b>></b> Please make sure you entered your last name and email address exactly as they appear in the invitation you received.  If you are still having problems registering or    have a question about the event, please click the ‘Contact Registration Assistance’ link below.</span>  </apex:outputPanel>
           <br></br><br></br>
           <span style="padding-left:5px;">Alumni Registration Form</span>
           <hr style="display: block; height: 1px;border: 0; border-top: 2px solid #002776;margin-left: 5px;" />
           <span style="width: 10px;height: 12px;float: left;background-color: #c9dd03;color: #ffffff;margin-left:4px;" >></span>
           <span style="color: #00a1de;float:left;padding-left:5px">To register or access your existing registration, </span> 
           <span style="padding-left:5px"> please enter Last Name and Email Address exactly as they appear in the invitation you received.</span>
          </td>
         </tr>
        </tbody>
       </table>
       
       <table style="margin:0px auto">
        <tr >
         <td style ="text-align:right; width:50%" vAlign="top">Last Name *</td>
         <td vAlign="top"> <apex:inputText title="Test1" value="{!SearchLastName}" style="width:150px"/></td>
        </tr>
        <tr>
         <td style ="text-align:right; width:50%" vAlign="top">Email *</td>
         <td vAlign="top"> <apex:inputText title="Tes2" value="{!Searchemail}" style="width:150px"/></td>
        </tr><br/>
        <tr>
         <td style ="text-align:right; width:50%"></td>
         <td vAlign="top"> <br/> 
        
         <input type="button" value="Continue" style="width:95px;background:#00a1de;color:#FFFFFF;" onclick="clickThis('page1Search');" ></input> 
         <br/><br/> 
         <p><apex:commandlink action="{!showPopup}" rerender="popup">Contact Registration Assistance </apex:commandLink></p> </td>
        </tr>
       </table>
       </apex:outputPanel>
       
   <!------------------------------------------------ page 2 ----------------------------------------------->    
       
     <apex:outputPanel rendered="{!ARpage1}" >


       
       <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr><td></td><td  style="float:right;padding-right: 15px;"><apex:image url="/servlet/servlet.FileDownload?file=01540000001qlyL" width="110" height="30"/></td></tr>
         <tr valign="top">
          <td style ="width:20px">
           <div >
             <apex:image id="theImage4" url="{!DocumentImageUrl}" width="300" height="92"/>
           </div><br></br>
          </td>
          <td align="left">
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.name}</b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;"><apex:outputText value="{0,date,MMMM dd', 'yyyy}"><apex:param value="{!sitestartdate}" /> </apex:outputText></b><br></br>
           <b style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;padding-left:5px;">{!event.Venue_City_AR__c}, {!event.Venue_state_AR__c}</b><br></br><br></br><br></br>
           <span style="padding-left:5px;"><b>Will you attend this event?:</b></span>&nbsp; *&nbsp;<apex:selectList value="{!EventAttendance}" id="nir_pi" size="1" onchange="fnARCheckattno()" ><apex:selectOptions value="{!ARattendance}" /></apex:selectList><br></br><br></br>
           <b><span style="padding-left:5px;">Personal Profile</span></b><b><span style="float:right">* denotes field is required</span></b>
           <hr style="display: block; height: 1px;border: 0; border-top: 2px solid #002776;margin-left: 5px;" />
           <table style="margin-right: 10%; width:80%;padding-left: 3px;" align="left" >
        
        <tr >
         <td style ="text-align:left; width:50%" width="30%" vAlign="top">First Name </td>
         <td  style ="text-align:left; width:50%;" width="70%" vAlign="top"> <apex:outputLabel style=" width:150px;margin-left: 10px;">{!con.firstname}</apex:outputLabel></td>
        </tr>
        <tr >
         <td style ="text-align:left; width:40%;" vAlign="top">Last Name </td>
         <td  style ="text-align:left; width:60%;padding-left:8px;" vAlign="top"> <apex:outputLabel style=" width:150px;margin-left: 3px;">{!con.lastname}</apex:outputLabel>  </td>
        </tr>
        <tr>
         <td style ="text-align:left; width:40%;" vAlign="top">Current Last Name (if different than above) </td>
         <td  style ="text-align:left; width:60%;padding-left:6px;" vAlign="top"> <apex:inputfield style=" width:150px;margin-left:3px;" value="{!con.Last_Name_shadow__c}"/>  </td>
        </tr>
        <tr id="nametag1">
         <td style ="text-align:left; width:50%" vAlign="top">Nickname for Nametag </td>
         <td style ="text-align:left; width:50%;padding-left:1px;" vAlign="top"> *&nbsp;<apex:inputfield id="ARExNT" value="{!eve.First_Nickname_for_Nametag__c}" style="width:150px"/></td>
        </tr>
        <tr>
         <td style ="text-align:left; width:50%" vAlign="top">Company Name </td>
         <td style ="text-align:left; width:50%;padding-left:1px;" vAlign="top"><span id="com">*</span>  <c:Autocomplete labelField="Name" valueField="Id" SObject="Company__c" targetField="{!targetField}" id="combobox" /></td>
        </tr>
        <tr>
         <td style ="text-align:left; width:50%" vAlign="top">Title </td>
         <td style ="text-align:left; width:50%;padding-left:1px;" vAlign="top"><span id="tit">*</span>&nbsp; <apex:inputfield id="Arexttit" value="{!con.title}" style="width:200px"/></td>
        </tr>
       
        <tr>
         <td style ="text-align:left; width:50%" vAlign="top">Primary Email </td>
         <td style ="text-align:left; width:50%;padding-left: 10px;" vAlign="top"> <apex:outputLabel style="width:150px">{!con.email}</apex:outputLabel></td>
        </tr>
        <tr>
         <td style ="text-align:left; width:50%" vAlign="top">Preferred Email (if different from above) </td>
         <td style ="text-align:left; width:50%;  padding-left: 9px;" vAlign="top"> <apex:inputfield value="{!eve.Preferred_email__c}" style="width:150px"/></td>
        </tr>
        <tr>
         <td style ="text-align:left; " vAlign="top">Preferred Email Type </td>
         <td style ="text-align:left;  padding-left: 9px; " vAlign="top">  <apex:inputfield value="{!eve.Preferred_Email_Type__c}" style="width:150px"/></td>
        </tr>
       <apex:outputPanel rendered="{!if(event.Subschedule_1_Title__c !=''||event.Subschedule_2_Title__c !=''||event.Subschedule_3_Title__c !='', true,false)}" >
        <tr id="eventop">
         <td style ="text-align:left; " vAlign="top">Event Option </td> 
         <td style ="text-align:left;  padding-left: 1px; " vAlign="top"> *&nbsp;<apex:selectList id="arexsub" value="{!Subschedule}" size="1" multiselect="false" ><apex:selectOptions value="{!Subscheduledet}"></apex:selectOptions></apex:selectList> </td>
        </tr>
       </apex:outputPanel>
       <tr id="iwould">
         <td style ="text-align:left; width:50%" vAlign="top">I would like to see the following Deloitte professional at the event (search by his/her last name)</td>
         <td style ="text-align:left; width:50%;  padding-left: 9px;" vAlign="top"> <apex:inputfield value="{!eve.If_you_would_like_to_see_someone_from_De__c}" style="width:150px"/></td>
        </tr>
        
       </table>
           </td>
           </tr>
           <tr>
           <td></td>
           <td><hr style="display: block; height: 1px;border: 0; border-top: 2px solid #ffffff;padding: 0px;" />
           <hr style="display: block; height: 1px;border: 0; border-top: 2px solid #ffffff;padding: 0px;" /></td>
           </tr>
           <tr style="margin-top: 3%;">
           <td></td>
        <td  align="left">
           <b><span id="Ainfo">Additional Information</span></b>
           <hr id="hainfo" style="display: block; height: 1px;border: 0; border-top: 2px solid #002776;padding: 0px;" />
           <table style="margin-right: 10%;width:100%" >
           <tr id="doyou">
         <td style ="text-align:left; width:40%" vAlign="top">Do you consent to having your name and employer visible to another alum and Deloitte invitees? </td>
         <td  style ="text-align:left; width:75%;  padding-left: 9px;" vAlign="top">*&nbsp; <apex:inputfield id="ARexdo" value="{!eve.Do_you_consent_to_having_your_name_and_e__c}" style="width:150px"/></td>
        </tr><br/>
        
         <tr id="whatis">
         <td style ="text-align:left; width:30%" vAlign="top">What is the primary reason for attending this event</td>
         <td  style ="text-align:left; width:30%;  padding-left: 16px;" vAlign="top"> <apex:inputfield value="{!eve.What_is_your_primary_reason__c}" style="width:auto"/>&nbsp;
         <apex:inputfield value="{!eve.What_is_your_primary_reason_other__c}" style="height:13px;"/></td>
          <td  style ="text-align:left; width:30%" vAlign="top">&nbsp;&nbsp; </td>
       </tr><br/>
        <tr id="spe">
         <td style ="text-align:left; width:25%" vAlign="top">Special Dietary Needs </td>
         <td style ="text-align:left; width:50%;  padding-left: 16px; " vAlign="top"> <apex:inputfield value="{!eve.Special_Dietary_Needs__c}" />&nbsp;<apex:inputfield value="{!eve.Special_Dietary_Needs_Other__c}" style="height:13px;"/></td>
         <td > </td>
        </tr>
           <tr>
         <td style ="text-align:left; width:25%" vAlign="top"></td>
         <td vAlign="top"> <br/>&nbsp;&nbsp;&nbsp; <apex:commandButton onclick="if(!fnARChecknon()) return false;" value="Continue" action="{!AR_event_insert_or_update}" style="width:95px;background:#00a1de;color:#FFFFFF"/><br/><br/> 
          </td>
        </tr>
       </table>
           </td>             
         </tr>
        </tbody>
       </table>
       <script>
       var val=document.getElementById('pg:frm:combobox:autocmp:hiddenField').value;
       
       document.getElementById('pg:frm:combobox:autocmp:trgfldshw').value=val;
       </script>
       </apex:outputPanel> 
       
       <!----------------------------------Popup Window--------------------------------->
      
      
        
        
 
        <apex:outputPanel id="popup">
         <apex:outputPanel styleClass="customPopup" layout="block" rendered="{!displayPopUp}" id="pop">
          <div align="right"> 
           <apex:commandlink action="{!closePopup}" rerender="popup"><b style="color: rgb(0, 161, 222); font-size: 1.0em; font-weight: bold;">Close X</b></apex:commandlink>
          </div><div align="center" ><b  style="color: rgb(0, 161, 222); font-size: 1.5em; font-weight: bold; margin-bottom: 0.2em;">{!event.name}</b><br/><br/><br/></div>
           <table style="margin:0px auto;margin-left: 0%;margin-top: 0%;" align="left" id="tableId">
            <tr>
             <td colspan="2">
              <span style="font-size: 1.0em;padding-left:25px;  ">If you would like a response, please let us know the best way to contact you.</span><br/>
              <span style="font-size: 1.0em;padding-left:100px;  ">* Denotes field is required</span></td><br/><br/><br/><br/><br/><br/>
            </tr>
            <tr>
             <td colspan="2"><span style="font-size: 1.5em; font-weight: bold; ">Submit your question below</span></td>
            </tr>
           <tr>
            <td colspan="2"><hr style="display: block; height: 1px;border: 0; border-top: 2px solid #002776;padding: 0px;" /></td>
           </tr>
           <tr >
            <td style ="text-align:left; width:45%" vAlign="top">Your Name *</td>
            <td  style ="text-align:right; width:50%;" vAlign="top"><apex:inputText title="Test1" value="{!mailname}"  style="width:200px"/></td>
           </tr>
           <tr>
            <td style ="text-align:left; width:50%" vAlign="top">Your Email *</td>
            <td style ="text-align:right; width:50%" vAlign="top"> <apex:inputText title="Tes2" value="{!mailemail}" style="width:200px"/></td>
           </tr>
           <tr>
            <td style ="text-align:left; width:50%" vAlign="top">Subject *</td>
            <td style ="text-align:right; width:50%" vAlign="top"> <apex:inputText title="Tes2" value="{!mailsubject}" style="width:200px"/></td>
           </tr>
           <tr>
            <td style ="text-align:left; width:50%" vAlign="top">Message *</td>
            <td style ="text-align:right; width:50%" vAlign="top"> <apex:inputTextarea title="Tes2" value="{!mailmessage}" style="width:200px;height:150px;"/></td>
           </tr>
           <tr>
            <td style ="text-align:left; width:50%" vAlign="top"></td>
           </tr>
          </table>
         <div align="center" id="continueBtn" > 
          <apex:commandButton value="Continue" action="{!sendregdetails}" style="width:95px;background:#00a1de;color:#FFFFFF" oncomplete="redirectThankyou();"/>  </div>
           <div align="left" id="pId" style="display:none;">   <p style="color: rgb(0, 0, 0);font-size: 12px;margin-bottom: 0.2em;"><font face="verdana">We have received your message and will be back in touch shortly.</font></p>
           <!--<p style="color: rgb(0, 0, 0);font-size: 1.5em;font-weight: bold;margin-bottom: 0.2em;"><font face="verdana">We will review and respond soon.</font></p>-->
           </div>
       </apex:outputPanel>
       
      </apex:outputPanel>

    
 
    
     <!----------------------------------------------- FOOTER DETAILS---------------------------------->  
       
       <table id="tablePopUp">
        <tr><hr style="display: block; height: 1px;border: 0; border-top: 2px solid #002776;padding: 0px;" /></tr>
       </table>
       
       <table style="width:100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
         <td valign="top" style=" font-size: 9px;padding: 10px">
         
         <a href="http://www.deloitte.com/view/en_US/us/legal/index.htm"><span style="color: #00a1de">Legal</span></a>&nbsp;|&nbsp;
          <a href="http://www.deloitte.com/view/en_US/us/privacy/index.htm"><span style="color: #00a1de">Privacy</span></a><br/><br/>
          </td>
          <td valign="top" style="width:250px">
          <span style=" font-size: 9px;">Member of Deloitte Touche Tohmatsu Limited</span>
         </td>
         </tr>
         <tr>
         <td colspan="2">
         <p style=" font-size: 9px;padding: 10px">Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (“DTTL”), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as “Deloitte Global”) does not provide services to clients. Please see <a href="http://www2.deloitte.com/global/en/pages/about-deloitte/articles/about-deloitte.html">www.deloitte.com/about</a> for a detailed description of DTTL and its member firms. Please see <a href="http://www2.deloitte.com/us/en/pages/about-deloitte/articles/about-deloitte.html">www.deloitte.com/us/about</a> for a detailed description of the legal structure of Deloitte LLP and its subsidiaries. Certain services may not be available to attest clients under the rules and regulations of public accounting.</p>
          <br/><p style=" font-size: 9px;padding: 10px;  margin-top: -29px;">It is recommended that government employee invitees consult their applicable agency or office ethics official regarding attendance at this event and obtain,
if required, an agency interest determination (written if required) in accordance with applicable government employee ethics regulations.</p>
          <br/><p ><span style=" font-size: 9px;padding: 10px">Copyright © 2015 Deloitte Development LLC. All rights reserved.</span></p>
          
         
         </td>
         
        </tr>
        
        <tr>
         <td>
          
         </td>
        </tr>
        <tr>
         <td>
          
         </td>
        </tr>
       </table>
      
      </div>
     </div>
    
     
   
     
     
    </apex:form>
   </apex:page>