<apex:page standardController="Contact" tabStyle="Contact" extensions="DependentController" >
            <apex:form >
        <apex:pageBlock id="block" rendered="{!(emergencyFlag)}">
            <apex:pageBlockSection id="resultsBlock" columns="1">
              <apex:pageBlockTable value="{!listOfEmContacts}" var="c" columns="5">
                    <apex:column headerValue="Name">
                        <apex:outputLink value="/{!c.Id}" target="_top">{!c.Name}</apex:outputLink>
                    </apex:column>
                    <apex:column value="{!c.WCT_Relationship__c}"/>
                    <apex:column value="{!c.WCT_Related_Contact_Status__c}"/>
                    
                    <apex:column value="{!c.phone }"/>

                    WCT_Relationship__c
                  </apex:pageBlockTable>
            </apex:pageBlockSection>
 
        </apex:pageBlock>
        <apex:pageBlock title="No Emergency records" rendered="{!(!emergencyFlag)}">
        </apex:pageBlock>
    </apex:form>    
    </apex:page>