<apex:page standardController="Case" extensions="RelatedCases">
  <apex:form >
  <apex:pageBlock >
      <apex:pageBlockTable value="{!Related_Cases}" var="case">
              <apex:column headerValue="Case Number" >
                  <a href="/{!Case.Id}" target="_blank">{!Case.CaseNumber}</a>
                  
              </apex:column>
              <apex:column headerValue="Subject" value="{!case.Subject}"/> 
              <apex:column headerValue="Priority" value="{!case.Priority}"/>
              <apex:column headerValue="Created Date" value="{!case.CreatedDate}"/>
              <apex:column headerValue="Status" value="{!case.Status}"/>
      </apex:pageBlockTable>
  </apex:pageBlock>
  </apex:form>
</apex:page>