<apex:page showHeader="false" sidebar="false"  cache="true" controller="ResignationFormController" action="{!redirect}" standardStylesheets="true">
      
    <apex:include pageName="SitesTodHeader"/>
    <apex:stylesheet value="{!URLFOR($Resource.JquerySites, '/Jquery/ui/jquery-ui.css')}"/>
    <style>
        hr{
            margin: 3px 0;
        }

        .instrow {
            line-height: 20px;
        }

        .helpBlock{
            display: none;
            background-color: #EEEEEE;
            border: 1px solid #000000;
            width:500px;
            padding: 5px;
            position: absolute;
            z-index: 99999;
            top: 600px;
        }

        
        #parentalPTOInst-helpBlock {
            left: 20px;
            top: 800px;
        }
        #personalPTOInst-helpBlock {
            left: 20px;
            top: 800px;
        }
        
        #reasonForLOA-helpBlock{
            left: 20px;
            top: 640px;
        }

        #altContactInfoInst-helpBlock{
            left: 12px;
            top: 190px;
        }
        #altPersonalEmail-helpBlock {
            left: 12px;
            top: 75px;
        }
        
        #childCareGiver-helpBlock{
            left: 20px;
            top: 500px;
        }

        .blueArea{
            color: #2795b6;
            padding: 5px;
        }

        .greyArea{
            color: #C0C0C0;
        }

        .mousePointer{
            cursor: pointer;
        }
        select {
            height : 120px;
        }
        .dateFormat
        {
              position: absolute;
              margin-left: 71%;
              margin-top: -4%;
              width :50px;
        }
        .datePicker select {
          vertical-align: top;
          height: 30px;
          width: 110px;
        }
        input[type="checkbox"]
        {
            height: 30px;
        }
         .invalidEmp{
              margin-left:42%;
              margin-top:0%;
              background-color:#fff;
              width:15%;
              font-weight: bold;
              font-size: 25px;
        }
        .btn:hover{ background-color:transparent!important}
    </style>
        <apex:form id="myform1" rendered="{!invalidEmployee}">
            <apex:outputLabel styleClass="invalidEmp">Invalid Employee</apex:outputLabel>
        </apex:form>
    
        <apex:form id="myform" rendered="{!!invalidEmployee }">
        <apex:pageMessages ></apex:pageMessages>
            <apex:actionFunction name="CallApexMethod" action="{!saveResignRecord}" />
                 <div id="ResignForm"  class="popup-container popup-large">&nbsp;&nbsp;&nbsp;&nbsp;
                 <apex:image url="{!$Resource.DeloitteLogo}" width="100" height="50"/><br/><br/>  
                <!--  Header and Close Icon-->
                <header class="title" style="text-align:center;font-size: 18pt;font-weight: bold;">Deloitte India Exit Process – Resignation Portal</header>

                <!-- Page Error Message Block -->
<!--                <apex:outputText rendered="{!pageError}">-->
<!--                    <article class="large-12 columns">-->
<!--                        <h4 class="subheader title" style="color:red;"><b>Please fill the required fields..</b></h4>-->
<!--                    </article>-->
<!--                    <div id="pageError" class="large-12 form">-->
<!--                        <div class="large-12 columns" style="color:red;">-->
<!--                            <label></label>-->
<!--                            -->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <hr/>-->
<!--                </apex:outputText>-->
<!--                    -->
                
                <div style="margin-top:30px;margin-left:20px;  color: #002776;">
                <h4 style="color:#002776">Personal Details</h4></div>
                <div style="margin-top:30px">
                     <legend style="width: 80%;margin-left: 18px;font-size: 14px;">Employee Name</legend>
                    <apex:outputText style="margin-left: 20%;position: absolute;margin-top: -12px;" id="cNameText" value="{!contactName}"></apex:outputText>
                </div>
                
                <div class="popup-content form large-12" style="margin-top:20px">
                                         <div class="row margin">
                                            <div class="small-6 columns">
                                                <legend style="margin-left: 7px;font-size: 14px;"><b style="color:red;">*</b>&nbsp;Personal Email ID</legend>
                                                <apex:inputField style="margin-left: 7px;margin-top: 10px;" id="personalEmail" value="{!eleList.ELE_Email_id__c}" html-placeholder="abc@xyz.com"></apex:inputField>
                                            </div>
                                            <div class="small-6 columns">
                                                <legend style="font-size: 14px;"><b style="color:red;">*</b>&nbsp;Permanent address for correspondence</legend>
                                                <apex:inputField style="height: 32px;width: 290px;  margin-top: 10px;" id="permAddress" value="{!eleList.ELE_Address__c}" html-placeholder="Address For Communication"></apex:inputField>
                                            </div>
                                         </div>
                </div>
                <div class="popup-content form large-12" style="margin-top:20px">
                                         <div class="row margin">
                                            <div class="small-6 columns">
                                                <legend style="margin-left: 7px;font-size: 14px;"><b style="color:red;">*</b>&nbsp;Landline number / Mobile number</legend>
                                                <apex:inputField style="margin-left: 7px;margin-top: 10px;" onkeypress="return isNumberKey(event);" id="mobilenum" value="{!eleList.ELE_Mobile_Number__c}" html-placeholder="123456789"></apex:inputField>
                                            </div>
                                            <div class="small-6 columns">
                                                <legend style="font-size: 14px;"><b style="color:red;">*</b>&nbsp;Alternate contact number</legend>
                                                <apex:inputField style="height: 32px;width: 290px;  margin-top: 10px;" onkeypress="return isNumberKey(event);" id="alternatenum" value="{!eleList.ELE_Alternate_Contact_Number__c}" html-placeholder="123456789"></apex:inputField>
                                            </div>
                                         </div>
                </div>
                 <div style="margin-top:30px;margin-left:20px;  color: #002776;">
                <h4 style="color:#002776">Resignation</h4></div>
                <div class="popup-content form large-12" style="margin-top:20px">
                                         <div class="row margin">
                                            <div class="small-6 columns">
                                                 <legend style="width: 80%;margin-left: 7px;font-size: 14px;" id="dor">Date of resignation</legend><br/>
                                                <!--<apex:outputLabel style="color:#000; margin-left:5px; cursor:default; margin-top:5px" value="{!eleList.Date_of_resignation_Separation__c}" ></apex:outputLabel>-->
                                                <apex:outputText style="color:#000; margin-left:15px; cursor:default; margin-top:15px" value="{0,date,MM'/'dd'/'yyyy}">
                                                    <apex:param value="{!eleList.ELE_Date_of_resignation__c}" /> 
                                                </apex:outputText>
                                         </div>
                                            <div class="small-6 columns">
                                                 <legend style="width: 80%;margin-left: 0px;font-size: 14px;">Last working day</legend><br/>
                                                 <!--apex:outputLabel id="lwdId" style="cursor:default;  margin-top:-5px" value="{!slwd}"></apex:outputLabel -->
                                                  <apex:outputText style="color:#000; margin-left:5px; cursor:default; margin-top:15px" value="{0,date,MM'/'dd'/'yyyy}">
                                                    <apex:param value="{!slwd}" /> 
                                                </apex:outputText>
                                            </div>
                                         </div>
                                       
                </div>
                <div class="popup-content form large-12" style="margin-top:20px">
                         <div class="row margin">
                            
                            <div class="small-6 columns" >
                                <legend style="margin-left:7px;font-size: 14px;"><b style="color:red;">*</b>&nbsp;India office location</legend>
                                <apex:inputField style="margin-left:7px;height: 32px;width: 100%;  margin-top: 10px;" id="location" value="{!eleList.ELE_Location__c}"></apex:inputField>
                        
                            </div>
                            <div class="small-6 columns">
                                <legend style="font-size: 14px;"><b style="color:red;">*</b>&nbsp;Function</legend>
                                <apex:inputField id="fss" style="margin-top: 10px;height:32px;width: 95%;" value="{!eleList.ELE_FSS__c}" onchange="fssPanel(this);"></apex:inputField>
                            </div>
                         </div>
                </div>
                <div id="counselorId" class="popup-content form large-12" style="margin-top:20px;display:none;">
                         <div class="row margin">
                            <div class="small-6 columns">
                                <legend style="margin-left: 7px;font-size: 14px;"><b style="color:red;">*</b>&nbsp;Counselor Name</legend> 
                                <apex:inputField style="margin-left: 7px;margin-top: 10px;width: 305px;" id="cName" value="{!eleList.ELE_Counselor_Name__c}" html-placeholder="Counselor Name"></apex:inputField>
                            </div>
                            <div class="small-6 columns">
                                <legend style="font-size: 14px;"><b style="color:red;">*</b>&nbsp;Counselor Email ID</legend>
                                <apex:inputField style="height: 32px;width: 290px;  margin-top: 10px;" id="cEmail" value="{!eleList.ELE_Counselor_Email_ID__c}" html-placeholder="Counselor Email ID"></apex:inputField>
                            </div>
                         </div>
                </div>
                <div id="talentId" class="popup-content form large-12" style="margin-top:20px;display:none;">
                                         <div class="row margin">
                                            <div class="small-6 columns">
                                                <legend style="margin-left: 7px;font-size: 14px;">Talent SPOC Name</legend>
                                                <apex:inputField style="margin-left: 7px;margin-top: 10px;" id="tempName" value="{!eleList.ELE_Talent_SPOC_Name__c}" html-placeholder="Talent SPOC Name"></apex:inputField>
                                            </div>
                                            <div class="small-6 columns">
                                                <legend style="  font-size: 14px;">Talent SPOC Email ID</legend>
                                                <apex:inputField style="height: 32px;width: 290px;  margin-top: 10px;" id="tempEmail" value="{!eleList.ELE_Talent_SPOC_Email_ID__c}" html-placeholder="Talent SPOC Email ID"></apex:inputField>
                                            </div>
                                         </div>
                </div>
                <div id="prjId" class="popup-content form large-12" style="margin-top:20px;display:none;">
                         <div class="row margin">
                            <div class="small-6 columns">
                                <legend style="margin-left: 7px;font-size: 14px;">Project Manager Name</legend>
                               <apex:inputField style="margin-left: 7px;margin-top: 10px;" id="pmName" value="{!eleList.ELE_Project_Manager_Name__c}" html-placeholder="Project Manager Name"></apex:inputField>
                            </div>
                            <div class="small-6 columns">
                                <legend style="  font-size: 14px;">Project Manager Email ID</legend>
                                <apex:inputField style="height: 32px;width: 290px; margin-top: 10px;" id="pmEmail" value="{!eleList.ELE_Project_Manager_Email_ID__c}" html-placeholder="Project Manager Email ID"></apex:inputField>
                            </div>
                         </div>
                </div>
                <div id="rmId" class="popup-content form large-12" style="margin-top:20px;display:none;">
                         <div class="row margin">
                            <div class="small-6 columns">
                                <legend style="margin-left: 7px;font-size: 14px;"><b style="color:red;">*</b>&nbsp;Resource Manager Name</legend>
                                <apex:inputField style="margin-left: 7px;margin-top: 10px;" id="rmName" value="{!eleList.ELE_Resource_Manger_Name__c}" html-placeholder="Resource Manager Name"></apex:inputField>
                            </div>
                            <div class="small-6 columns">
                                <legend style="  font-size: 14px;"><b style="color:red;">*</b>&nbsp;Resource Manager Email ID</legend>
                                <apex:inputField style="height: 32px;width: 290px;  margin-top: 10px;" id="rmEmail" value="{!eleList.ELE_Resource_Manger_Email_ID__c}" html-placeholder="Resource Manager Email ID"></apex:inputField>
                            </div>
                         </div>
                </div>
              
              <apex:ActionRegion >                 
               <div style="margin-top: 20px;">
                     <legend style="width: 80%;margin-left: 20px;font-size: 14px;"><b style="color:red;">*</b>&nbsp;Please confirm if you have consulted your Reporting manager/ Resource manager / Project manager or Talent SPOC before applying the resignation</legend>
                    <apex:inputField style="margin-top: 10px;margin-left: 21px;width: 160px;height: 30px;" id="confirmRm" value="{!eleList.ELE_Consulted__c}">
                    <apex:actionSupport event="onchange"  reRender="Spocid"/>
                    </apex:inputField>
                </div>
               
                <apex:outputPanel id="Spocid" >
                  <div  class="popup-content form large-12" style="margin-top:20px;display:{!IF(eleList.ELE_Consulted__c=='Yes' ,'block','none')};">
                         <div class="row margin">
                            <div class="small-6 columns">
                                <legend style="margin-left: 7px;font-size: 14px;"><b style="color:red;">*</b>&nbsp;Please share the name with whom you have consulted</legend>
                                <apex:inputField style="margin-left: 7px;margin-top: 10px;" id="sharespocid" value="{!eleList.ELE_Share_the_name_of_the_SPOC__c}" html-placeholder="Please share the name with whom you have consulted"></apex:inputField>
                            </div>
                            <div class="small-6 columns">
                              </div>
                         </div>
                </div>
                
                </apex:outputPanel>
              </apex:ActionRegion>  

                <div style="margin-top: 20px;">
                     <legend style="width: 90%;margin-left: 20px;font-size: 14px;"><b style="color:red;">*</b>&nbsp;Request you to share the reason for your resignation</legend>
                    <apex:inputField style="margin-top: 10px;margin-left: 21px;width: 93%;height: 30px;" id="reasonResign" value="{!eleList.ELE_Reason_for_Resignation__c}" html-placeholder="Share the reason for your resignation"></apex:inputField>
                </div>
                
                 
                
                <div id="onsiteId" style="margin-top: 20px;">
                     <legend style="width: 90%;margin-left: 22px;font-size: 14px;"><b style="color:red;">*</b>&nbsp;Please confirm if you are currently working out of india offices or on an onsite assignment</legend>
                    <apex:inputField style="margin-top: 10px;margin-left: 21px;width: 160px;height: 30px;" id="workloc" value="{!eleList.ELE_Work_Location__c}" onchange="onsitePanel(this);"></apex:inputField>
                </div>
                <div id="onsiteAssignId" style="margin-top: 20px;display:none;">
                     <legend style="width: 90%;margin-left: 22px;font-size: 14px;"><b style="color:red;">*</b>&nbsp;Please mention your current office location if you are on an Onsite Assignment</legend>
                     <apex:inputField style="margin-top: 10px;margin-left: 21px;width: 93%;height: 30px;" id="currloc" value="{!eleList.ELE_Onsite_Office_Location__c}" html-placeholder="Share the current onsite office location"></apex:inputField>
                </div>
                <div id="jobEmpId" style="margin-top: 20px;display:none;">
                     <legend style="width: 90%;margin-left: 22px;font-size: 14px;"><b style="color:red;">*</b>&nbsp;If you are leaving for a job opportunity, please share your future employer’s name</legend>
                     <apex:inputField style="margin-top: 10px;margin-left: 21px;width: 93%;height: 30px;" id="futloc" value="{!eleList.ELE_Future_Employer_Name__c}" html-placeholder="Share the future employers name"></apex:inputField>
                </div>
                <div id="futId" class="popup-content form large-12" style="margin-top:30px;display:none;">
                                         <div class="row margin">
                                            <div class="small-6 columns">
                                                 <legend style="width: 90%;margin-left: 8px;font-size: 14px;"><b style="color:red;">*</b>&nbsp;Please share the future company start date</legend>
                                                 <apex:inputField style="margin-top: 10px;margin-left: 8px;width: 70%;height: 30px;" id="startdate" value="{!eleList.ELE_Future_Company_Start_Date__c}" html-placeholder="Share the future company start date"></apex:inputField>
                                            </div>
                                            <div class="small-6 columns">
                                                <legend style="width: 90%;margin-left: 0px;font-size: 14px;"><b style="color:red;">*</b>&nbsp;Please share the future company designation</legend>
                                                <apex:inputField style="margin-top: 10px;width:94%;height: 30px;" id="designation" value="{!eleList.ELE_Future_company_designation__c}" html-placeholder="Share the future company designation"></apex:inputField>
                                            </div>
                                         </div>
                </div>
                
                <div style="margin-left:10px;margin-top:20px;" class="row margin" id="attachment-panel">
                    <div class="large-12 columns">
                        <legend>Add Attachment </legend>
                        <button type="button" class="disable button radius5 green" style="position: absolute;
  margin-top: -20px;
  margin-left: 18%;text-align:center;" onclick="startAttachmentUpload();">Add</button>
                    </div>
                </div>
                     <br/>
                <div class="row margin" style="display:{!IF(UploadedDocumentList.size > 0, 'block', 'none')};">
                    <div class="large-12 column">
                        <apex:outputPanel >
                            <apex:repeat value="{!UploadedDocumentList}" var="att">
                                <div id="{!att.documentId}">
                                    <apex:outputPanel rendered="{!IF(att.isSelected == true,true,false)}">
                                        <tr>
                                            <td class="large-1">
                                                <apex:inputcheckbox value="{!att.isSelected}" styleClass="{!att.documentId}" style="display:none;"/>
                                                <span class="icon close-icon mousePointer checked" onClick="unselect('{!att.documentId}')"></span>
                                            </td>
                                            <td class="large-8">
                                                <span class="blueArea">
                                                    {!att.docName}
                                                </span>
                                            </td>
                                            <td class="large-3">
                                                <span class="greyArea">
                                                    {!att.size}
                                                </span>
                                            </td>
                                        </tr>
                                    </apex:outputPanel>
                                </div>
                            </apex:repeat>
                        </apex:outputPanel>
                    </div>
                </div>
                
                 <footer>
                    <div class="buttons" style="padding-left:20px;margin-top:45px; margin-left:40%">
                         
                        <apex:commandButton id="sbtBtn" value="Submit" onclick="submitFn(); return false;" styleClass="js-save-button button green submitButton" style="display:block;float:left;"/>
                        <!--<a id="fakeSubmit" class="disable button radius5 green" href="javascript:disableButtons();">Submit</a>-->
                        <apex:commandButton id="cancelBtn" value="Cancel" styleclass="js-cancel-button button green" onclick="cancelFn(); return true;" style="float: left;margin-left: 20px;"></apex:commandButton>
                    

                    </div>
                </footer>
                
                                <!-- Model Window for Upload -->                 
                <div class="attachModal" style="display:none;">
                    <div class="modal nested-overlay-center radius5">
                        <div class="row">  
                            <a class="icon close-icon large-1 column right" href="javascript:stopAttachmentUpload();"></a>
                        </div>
                        <div class="row">
                            <span class="large-12 column">
                                <h3 class="subheader">Select File (Maximum Size: 25MB)</h3>
                            </span>
                        </div>   
                        <hr/>
                        <div class="row modal-content">                  
                            <div class="large-8 form">    
                                <div class="row">
                                    <div class="small-6 columns">                    
                                        <apex:inputFile value="{!doc.body}" styleclass="fileInputHidden" style="position: absolute;z-index:9999;width:355px;height:40px;opacity:0;"
                                                filename="{!doc.Name}" contentType="{!doc.ContentType}" onchange="setFileName();"/>                                  
    
                                        <input type="text" class="txtFakeText" readonly="true" style="width:250px;"/>
                                    </div>
                                    <div class="small-2 columns">                    
                                        <!-- Button to invoke the click of the File Input -->
                                        <button type="button" class="button radius5 green" >Browse</button>
                                    </div>
                                    <div class="large-8 columns attachError" style="display:none;">
                                    </div>
                                </div>
                            </div>                                            
                            <apex:commandButton value="Upload" action="{!uploadAttachment}" 
                                    styleClass="button radius5 green uploadButton" style="display:none;"/>
                            <button type="button" class="button radius5 green" onclick="uploadDocument();">Upload</button>                            
                            <button type="button" class="button radius5 green" onclick="stopAttachmentUpload();">Cancel</button>                    
                        </div>
                    </div>
                </div>
                
            </div>
           
        </apex:form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
    <script>
    
    

         /* Height Adjust */
         var minheight;
         $( window ).ready(function() {
               // alert(document.getElementById("j_id0:myform:fss").value);
                
                
                
                minheight= $("#content-wrapper").height()+40;
                if($(window).height() > minheight )
                {
                    $( "#content-wrapper").css( "height",$(window).height()-20) ;
                }
                else
                {
                    $( "#content-wrapper").css( "height",minheight) ;
                }
               // alert('testing .. '+document.getElementById("j_id0:myform:fss").value);
                    if(document.getElementById("j_id0:myform:fss").value == "--None--" || document.getElementById("j_id0:myform:fss").value == "")  
                    {
                        document.getElementById("counselorId").style.display = "none";
                        document.getElementById("talentId").style.display = "none";
                        document.getElementById("prjId").style.display = "none";
                        document.getElementById("rmId").style.display = "none";
                    }
                    else if(document.getElementById("j_id0:myform:fss").value == "Enabling Areas")
                    {
                        document.getElementById("counselorId").style.display = "block";
                        document.getElementById("talentId").style.display = "block";
                        document.getElementById("prjId").style.display = "none";
                        document.getElementById("rmId").style.display = "none";
                    }
                    else if(document.getElementById("j_id0:myform:fss").value == "Global")
                    {
                        document.getElementById("counselorId").style.display = "block";
                        document.getElementById("talentId").style.display = "block";
                        document.getElementById("prjId").style.display = "block";
                        document.getElementById("rmId").style.display = "none";
                    }
                    else
                    {
                        document.getElementById("counselorId").style.display = "block";
                        document.getElementById("talentId").style.display = "block";
                        document.getElementById("prjId").style.display = "block";
                        document.getElementById("rmId").style.display = "block";
                    }
                    if(document.getElementById("j_id0:myform:workloc").value == "India Offices")  
                    {
                        document.getElementById("onsiteAssignId").style.display = "none";
                        document.getElementById("jobEmpId").style.display = "none";
                        document.getElementById("futId").style.display = "none";
                    }
                    else if(document.getElementById("j_id0:myform:workloc").value == "Onsite Assignment")
                    {
                        document.getElementById("onsiteAssignId").style.display = "block";
                        document.getElementById("jobEmpId").style.display = "block";
                        document.getElementById("futId").style.display = "block";
                    }
                    else
                    {
                        document.getElementById("onsiteAssignId").style.display = "none";
                        document.getElementById("jobEmpId").style.display = "none";
                        document.getElementById("futId").style.display = "none";    
                    }
                
          });
        $( window ).resize(function() {
            var windowHeight = $(window).height(); //retrieve current window height
            if(windowHeight > minheight )
            {
                $( "#content-wrapper").css( "height",windowHeight -20 ) ;
            }
            else
            {
                $( "#content-wrapper").css( "height",minheight) ;
            }
        });
        
    
            var $j = jQuery.noConflict();
            $j(document).ready(function() {
             initAllDatePickers();
                setTimeout(function() {
                    $j('select.myMultiClass').each(function(i, val) { 
                        $j(val).width(200);
                        $j(val).height(100);
                    })
                },100);
            });
        function checkError()
        {
            //alert('oncomplete');
        }
        var initAllDatePickers = function(){
            document.getElementById('j_id0:myform:startdate').readOnly = true;
            j$('[id$=-Date]').datepicker({
                showOn: "button",
                buttonImage: "{!$Resource.CalendarIcon}",
                buttonImageOnly: true,
                minDate : null,
                onClose : function(dateSelected){
                    var className = j$(this).attr('class').split('-');
                    if(className[0]){
                        if(className[0] == 'S'){
                            if(dateSelected != ''){
                                j$('.E-' + className[1] + '-').datepicker( "option", "minDate", dateSelected );
                            }
                        }
                        if(className[0] == 'E'){
                            j$('.S-' + className[1] + '-').datepicker( "option", "maxDate", dateSelected );
                        }
                    }
                }
            });
        } 
            
             function disableButtons() {
            // alert('disableButtons == ');
                $("#fakeSubmit").bind("click", false);
                $(".disable").attr("disabled", true);
                //$(".submitButton").click();
                /*if(document.getElementById("j_id0:myform:personalEmail").value == '')
                {
                    alert('Please Fill the Required Fields before Submit');
                }*/
                //submitFn();
            }
         
        function startAttachmentUpload() {
            startLoading();
            $(".attachModal").show();
            $(".disable").attr("disabled", true);
            //document.getElementById('sbtBtn').style.display ='none';
            //disableButtons();
            $(".submitButton").attr("disabled", true);
            $(".js-cancel-button").bind("click", false);
        }
        function stopAttachmentUpload() {
            $(".attachModal").hide();
            endLoading();
            $(".disable").removeAttr("disabled");
            $(".submitButton").attr("disabled", false);
            //$(".disable").attr("disabled",false);
            $(".js-cancel-button").unbind("click", false);
        }        
        function hideModal() {
            $(".attachModal").hide();
        }
        function HandleFileButtonClick() {  
            $(".fileInputHidden").click();
            $(".txtFakeText").value = $(".fileInputHidden").value;
        }        
        function setFileName() {
            $(".txtFakeText").val($(".fileInputHidden").val());
            $('.attachError').hide();
            $('.attachError').empty();                    
        }

         /* This function is used to invoke Command Button for Upload Button*/
        function uploadDocument() {
            $(".attachModal").hide();

            /* This is a work around for IE*/
            $(".uploadButton").click();
            $(".uploadButton").click();
            $(".uploadButton").click();
            $(".button").attr("disabled", true);
            $(".js-cancel-button").bind("click", false);
        }
        function unselect(id){
            $('.' + id).removeAttr('checked');
            $('#' + id).hide();
        }
        function SetCheckBoxes(input)
        {
            document.getElementById('{!$Component.MyForm:chk1}').checked=false;
            document.getElementById('{!$Component.MyForm:chk2}').checked=false;
           
            input.checked=true;
        }
        function onsitePanel(obj)
        {
        
              for (var i = 0; i < obj.options.length; i++) {
                if (obj.options[i].selected) {
                    if(obj.options[i].label == "India Offices")  
                    {
                        document.getElementById("onsiteAssignId").style.display = "none";
                        document.getElementById("jobEmpId").style.display = "none";
                        document.getElementById("futId").style.display = "none";
                    }
                    else if(obj.options[i].label == "Onsite Assignment")
                    {
                        document.getElementById("onsiteAssignId").style.display = "block";
                        document.getElementById("jobEmpId").style.display = "block";
                        document.getElementById("futId").style.display = "block";
                    }
                    else
                    {
                        document.getElementById("onsiteAssignId").style.display = "none";
                        document.getElementById("jobEmpId").style.display = "none";
                        document.getElementById("futId").style.display = "none";    
                    }
                }
                
              }
        }
        function addDays(theDate, days) {
            return new Date(theDate.getTime() + days*24*60*60*1000);
        }


        function fnPopulateDate(obj)
        {
            var date = new Date(obj.value);
            var newDate = addDays(date, 60);
            document.getElementById("j_id0:myform:lwdId").value=newDate.toLocaleDateString("en-US");
        }
        function fssPanel(obj)
        {
            //alert(this);
            
                 var e = document.getElementById("j_id0:myform:fss");
                 var strFss = e.options[e.selectedIndex].text;
                 
                  if(strFss == "--None--")  
                    {
                        document.getElementById("counselorId").style.display = "none";
                        document.getElementById("talentId").style.display = "none";
                        document.getElementById("prjId").style.display = "none";
                        document.getElementById("rmId").style.display = "none";
                    }
                    else if(strFss == "Enabling Areas")
                    {
                        //alert('obj.options[i].label');
                        document.getElementById("counselorId").style.display = "block";
                        document.getElementById("talentId").style.display = "block";
                        document.getElementById("prjId").style.display = "none";
                        document.getElementById("rmId").style.display = "none";
                    }
                    else if(strFss == "Global")
                    {
                        document.getElementById("counselorId").style.display = "block";
                        document.getElementById("talentId").style.display = "block";
                        document.getElementById("prjId").style.display = "block";
                        document.getElementById("rmId").style.display = "none";
                    }
                    else
                    {
                        document.getElementById("counselorId").style.display = "block";
                        document.getElementById("talentId").style.display = "block";
                        document.getElementById("prjId").style.display = "block";
                        document.getElementById("rmId").style.display = "block";
                    }
                              
                
        }
        function submitFn()
        {
                var submit,bSubmitFss = false;
                //alert('Submitted ; '+document.getElementById('j_id0:myform:confirmRm').checked);
                if(document.getElementById("j_id0:myform:personalEmail").value == '')
                {
                    alert('Please Fill Personal Email Field before Submit');
                }
                else if(document.getElementById("j_id0:myform:permAddress").value == '')
                {
                    alert('Please Fill Permanant Address Field before Submit');
                }
                else if(document.getElementById("j_id0:myform:mobilenum").value == '')
                {
                    alert('Please Fill Mobile Number Field before Submit');
                }
                else if(document.getElementById("j_id0:myform:alternatenum").value == '')
                {
                    alert('Please Fill Alternate Number Field before Submit');
                }
                else if(document.getElementById("j_id0:myform:location").value == '')
                {
                    alert('Please Fill Location Field before Submit');
                }
                else if(document.getElementById("j_id0:myform:fss").value == '')
                {
                    alert('Please Fill FSS Field before Submit');
                }
                else if(document.getElementById("j_id0:myform:fss").value != '')
                {
                    if(document.getElementById("j_id0:myform:fss").value == 'Consulting' || document.getElementById("j_id0:myform:fss").value == 'FAS' || document.getElementById("j_id0:myform:fss").value == 'AERS' || document.getElementById("j_id0:myform:fss").value == 'TAX')
                    {
                        //alert("{!empEmail}");
                        if(document.getElementById("j_id0:myform:cName").value == '' || document.getElementById("j_id0:myform:cEmail").value == '' || document.getElementById("j_id0:myform:rmName").value == '' || document.getElementById("j_id0:myform:rmEmail").value == '')
                        {
                            alert('Please Fill FSS Required Fields before Submit');
                        }
                        else
                            submit = true;
                    }
                    else if(document.getElementById("j_id0:myform:fss").value == 'Enabling Areas')
                    {
                        if(document.getElementById("j_id0:myform:cName").value == '' || document.getElementById("j_id0:myform:cEmail").value == ''  )
                        {
                            alert('Please Fill FSS Required Fields before Submit');
                        }
                        else 
                            submit = true;
                    }
                    else if(document.getElementById("j_id0:myform:fss").value == 'Global')
                    {
                        if(document.getElementById("j_id0:myform:cName").value == '' || document.getElementById("j_id0:myform:cEmail").value == '')
                        {
                            alert('Please Fill Correct FSS Required Fields before Submit');
                        }
                        else 
                            submit = true;
                    }
                    
                }
                else
                    submit =true;
                if(document.getElementById("j_id0:myform:confirmRm").value == '' && submit)
                {
                    alert('Please check Consultation of your Manager before Submit');
                    submit = false;
                }
                else if(document.getElementById("j_id0:myform:confirmRm").value == 'Yes' && document.getElementById("j_id0:myform:sharespocid").value == '' && submit){
                
                  alert('Please share the name with whom you have consulted');
                  submit = false;
                
                }
                else if(document.getElementById("j_id0:myform:reasonResign").value == '' && submit)
                {
                    alert('Please Fill Reason for Resignation Field before Submit');
                    submit = false;
                }
                else if(document.getElementById("j_id0:myform:workloc").value == '' && submit)
                {
                    alert('Please Fill Work Location Field before Submit');
                    submit = false;
                }
                else if(document.getElementById("j_id0:myform:workloc").value == 'Onsite Assignment' && submit )
                {
                    if(document.getElementById("j_id0:myform:currloc").value == '' || document.getElementById("j_id0:myform:futloc").value == '' || document.getElementById("j_id0:myform:startdate").value == '' || document.getElementById("j_id0:myform:designation").value == '' )
                    {
                        alert('Please Fill Onsite Assignment Required Fields before Submit');
                        submit = false;
                    }

                    var tempDate = document.getElementById("j_id0:myform:startdate").value;
                    var parts = tempDate.split('/');
                    var mydate = new Date(parts[2],parts[0]-1,parts[1]); 
                   
                    var today = new Date();
                 
                    if(mydate < today){
                        alert('Future Start date should be greater than today');
                        submit = false;
                    }
                }
                else
                {
                    bSubmitFss = true;
                }
                if(document.getElementById("j_id0:myform:cEmail").value == '{!empEmail}' && submit )
                {
                    alert('Kindly provide other Counselor Email ID');
                    submit = false;
                }
                else
                {
                    bSubmitFss = true;
                }
                if(document.getElementById("j_id0:myform:tempEmail").value == '{!empEmail}' && submit ){
                    alert('Kindly provide other Talent SPOC Email ID');
                    submit = false;
                }
                else
                {
                    bSubmitFss = true;
                }
                if(document.getElementById("j_id0:myform:pmEmail").value == '{!empEmail}' && submit ){
                    alert('Kindly provide other Project Manager Email ID');
                    submit = false;
                }
                else
                {
                    bSubmitFss = true;
                }
                
                
                if(document.getElementById("j_id0:myform:rmEmail").value == '{!empEmail}' && submit ){
                   alert('Kindly provide other Resource Manager Email ID');
                   submit = false;
                }
                else
                {
                    bSubmitFss = true;
                }  
                if(bSubmitFss && submit)
                {
                        var conf = confirm('Are you sure you want to submit?');
                        if(conf)    
                        {    
                        //  alert('button clicked');        
                            CallApexMethod();
                        }
                        //else
                        //{
                        //  alert('fdasjlkjsad');
                         //   /*$("#fakeSubmit").bind("click", true);
                        //    $(".disable").attr("disabled", false);
                        //    $(".submitButton").click();*/
                         //   $(".disable").removeAttr("disabled");
                        //}
                        
                }
                else
                {
                    $(".disable").removeAttr("disabled");
                    $(".button").attr("disabled", false);
                    $(".disable").attr("disabled", false);
                    
                }
                
            //  return false;
        }
        function cancelFn()
        {
             window.opener = self;
             window.close();
        }
         var specialKeys = new Array();
         specialKeys.push(8); //Backspace
         function isNumberKey(evt)
          {
                  var charCode = (evt.which) ? evt.which : event.keyCode
                 if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                     alert("Please Enter Only Numeric Value:");
                     return false;
                 }
         
                 return true;
          }
    </script>
    
</apex:page>