<apex:page standardController="Contact" extensions="SCCContactCasesInContact" sidebar="false" standardStylesheets="false">
     <head>
       <apex:includeScript value="/support/console/28.0/integration.js"/>
       <apex:stylesheet value="{!URLFOR($Resource.WCTCustomStaticResources, '/css/WCTCustom.css')}"/>
       <apex:includeScript value="{!URLFOR($Resource.jQuery, 'js/jquery-1.6.2.min.js')}"/>
        <style>      
        #pager
        { 
            display:none; 
        } 
        </style>              
     </head>
     <c:PageBlockTableEnhancer targetPbTableIds="cases"/> 
     <apex:include pageName="SCCQuickCreateToolbar"/> 
     <apex:form >
           <apex:pageBlock title="Contact Cases" id="block">
                 <apex:outputPanel styleClass="tableContainer" layout="block">
                       <apex:pageBlockTable id="cases" value="{!cases}" var="c">
                            <apex:column headerValue="Case Number">
                                <apex:outputLink value="{!c.Id}">{!c.CaseNumber}</apex:outputLink>
                            </apex:column>
                            <apex:column headerValue="Name" value="{!c.Contact.Name}"/>
                            <apex:column headerValue="Subject" title="{!c.Subject}" value="{!c.Subject}"/>
                            <apex:column headerValue="Date/Time Opened" value="{!c.CreatedDate}"/>
                            <apex:column headerValue="Date/Time Closed" value="{!c.ClosedDate}"/>
                            <apex:column headerValue="Status" value="{!c.Status}"/>
                            <apex:column headerValue="Owner" value="{!c.Owner.Name}"/>
                            <apex:column headerValue="Priority" value="{!c.Priority}"/>
                            <apex:column headerValue="Category" value="{!c.WCT_Category__c}"/>
                            <apex:facet name="footer">Showing Page # {!pageNumber} of {!totalPages}</apex:facet>
                      </apex:pageBlockTable>
                      <div align="center" class="paginator">
                           <apex:commandButton value="<<" title="Beginning" action="{!Beginning}" reRender="cases,block" disabled="{!DisablePrevious}" />
                           <span class="prevNext">
                               <apex:commandButton value="<" title="Previous" action="{!Previous}" rerender="cases,block" disabled="{!DisablePrevious}" />
                               Previous
                           </span>
                           <span class="prevNext">
                               Next
                               <apex:commandButton value=">" title="Next" action="{!Next}" reRender="cases,block" disabled="{!DisableNext}" />
                           </span>    
                           <apex:commandButton value=">>" title="End" action="{!End}" reRender="cases,block" disabled="{!DisableNext}" />
                      </div>     
                   </apex:outputPanel>
            </apex:pageBlock>
     </apex:form>
</apex:page>