<apex:page controller="TRT_Reporting_ctrl" id="SAPReport" showHeader="false" standardStylesheets="true">
    <apex:stylesheet value="{!$Resource.CommonCSS}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
    
    <style>
        .multiSelectPicklistRow td select
        {
        width:250px !important;
        min-width:250px !important;
        max-width:250px !important;
        font-size: 94% !important;
        }
        .pblock
        {
        }
        .loading-icon 
        {
        background-image: url(/img/loading.gif);
        width: 16px;
        height: 16px;
        }
        a.alpha-link 
        {
        font-weight: normal;
        font-size: 91%;
        padding: 0 4px;
        color: #015BA7 !important;
        }
        a.alpha-link+a.alpha-link 
        {
        border-left: 1px solid #CFCECE;
        }
        a.alpha-link:hover 
        {
        background-color: #e0f5fc !important;
        }
        a.alpha-select 
        {
        font-weight: bold;
        text-decoration: none;
        background-color: #C6E1FF;
        color: #000000 !important;
        }
        .search-block 
        {
        text-align: center;
        }
        .search-block input 
        {
        margin: 0px 15px 0px 5px;
        }
        .search-block-button 
        {
        min-width: 110px;
        }
        .process-block 
        {
        text-align: center;
        margin-top: 10px;
        }
        .process-block input 
        {
        margin: 0px 15px;
        }
        .process-block-button 
        {
        min-width: 110px;
        }
        .page-buttons input 
        {
        min-width: 110px;
        }
        table.exceptionText td 
        {
        font-style:normal;
        font-size:16px;
        font-weight:normal;
        text-align:center;
        color:#94D400;
        }
        input.watermark 
        { 
        color: #999; 
        }
        select:disabled
        {
        width:250px;
        font-size: 14px;
        -webkit-box-shadow: 0 2px 6px #a2a0a0;
        border-radius: 6px;
        border: 1px #ccc solid;
        padding: 0.2em 2em 0.2em 0.5em;
        }
        select
        {
        width:250px;
        font-size: 14px;
        -webkit-box-shadow: 0 2px 6px #a2a0a0;
        border-radius: 6px;
        border: 1px #ccc solid;
        padding: 0.2em 2em 0.2em 0.5em;
        }
        textarea
        {
        width: 499px !important;
        height: 85px !important;
        width:250p
        font-size: 14px; !important;
        -webkit-box-shadow: 0 2px 6px #a2a0a0;
        border-radius: 6px;
        border: 1px #ccc solid;
        padding: 0.2em 2em 0.2em 0.5em;
        }
        h3 
        {
        
        font-size: 1.3em; 
        font-weight: bold; 
        margin-bottom: 0.2em;
        }
        .errormessages li
        {
        color:#d74c3b;
        }
        .errorMsg
        {
        color:#d74c3b;
        padding:5px;
        }
         .ui-widget-header
        {
        background: #0c2366 !important;
        }
        .ui-dialog .ui-dialog-title
        {
        Color:White;
        }
        .dateFormat{
        display:none;
        }
        .datePicker select
        {
        width:115px;
        }
        
    </style>
    <script>
    
   

 /*
        Intializing the dialog box - jQuery UI.
    */                     
    $(function() {
        $( ".tooltipEvent" ).dialog({
            
            modal: true,
            autoOpen: false,
            width : 501,
            buttons: {
                CLOSE: function() {
                    $( this ).dialog( "close" );
                    
                }
            }
        });
         $( "#containshead" ).dialog({
      resizable: false,
      height:180,
      modal: true,
      autoOpen: false,       
      buttons: {
        Yes: function() {
          
           window.location.href ="http://talentsites.deloittenet.deloitte.com/CTS/goTOD.aspx?Key=TRT";
        },
        No: function() {
          $( this ).dialog( "close" );
        }
      }
    });
    });
    
    function PIIdetails(){
        
        $('#containshead').dialog("open");
        
    }    
    function datacolumns(){
        $('#Reportcolumn').dialog("open");
    }   
    
     (function() {
    var windowOnload = window.onload;
    window.onload = function() {
      if (windowOnload) windowOnload();
      var select = document.getElementById('calYearPicker');
      if (!select) return;

      select.innerHTML = '';
      var startYear = new Date().getFullYear() - 95;
      for (var year = startYear; year < startYear + 105; year++) {
        select.options[select.options.length] = new Option(year, year);
      }
    }
  }());
   
    </script>
    
    <apex:form id="SAPReqForm">
        <div class="containerFrame">
            <div class="container" id="subChannel2">
                <div id="header">
                    <a href="http://talentsites.deloittenet.deloitte.com/CTS/goTOD.aspx?Key=TRT"><img src="{!$Resource.Deloitte_Sites_Logo}" alt="Deloitte United States" title="Deloitte United States" name="logo" border="0" id="logo" width="124" height="27"/></a>
                </div>
                <div  class="container" id="contentContainer">
                    <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    
                                    <div class="tableHeaderFontControl">
                                        
                                        <h1 id="adhocPageTitle">HRIS Report Request Form <a href="http://talentsites.deloittenet.deloitte.com/CTS/goTOD.aspx?Key=TRT" style="position: relative;left: 652px;  font-size: 12px;">
                                            HOME</a>           
                                        </h1>
                                        
                                        
                                    </div>
                                    <br/>
                                    <h2 id="adhocPageTitle" style="color:#94D400" >Report Requirements</h2>
                                    <div class="fontControl">
                                        <h2 id="pageSubTitle"> </h2>
                                        <hr width="100%"/> 
                                        <br/>
                                    </div>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                    <div id="Container">
                        <div id="contentBlock">
                            <h1 style="color:#a8a8a8;font-size:medium;">Fields marked with an asterisk (<span style="color:red">*</span>) are mandatory</h1>
                            <apex:messages styleClass="errormessages"/>
                            
                            <div>
                                <table >
                                <!--    <div>
                                        <table>
                                            
                                            
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Are you filling this request on behalf of someone</h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    
                                                    
                                                    <apex:actionregion >
                                                        <apex:selectRadio id="behalf" value="{!trtReport.TRT_Behalf__c}" >
                                                            <apex:selectOption itemValue="True" itemlabel="Yes"/>
                                                            <apex:selectOption itemValue="False" itemlabel="No"/>
                                                            <apex:actionSupport event="onclick" reRender="bPanel" status="rStatus"/>
                                                        </apex:selectRadio>
                                                    </apex:actionregion>
                                                    
                                                    
                                                </td>
                                            </tr>
                                            
                                        </table>  </div>
                                    
                                    
                                    <apex:outputPanel id="bPanel" >
                                        <apex:outputPanel rendered="{!trtReport.TRT_Behalf__c}"  >
                                            <div>
                                                <table>
                                                    <tr> 
                                                        
                                                        <td style="width:250px">
                                                            
                                                            <h3>Please specify the Requestor Email <span style="color:red;font-size:larger;">*</span></h3>
                                                        </td>
                                                        <td style="width:40px"></td>
                                                        <td>
                                                            <apex:inputField styleClass="txtBox" html-minlength="5" style="width:150px" id="Behalfemail" required="true" value="{!trtReport.TRT_Actual_Requester_email__c}"/>  
                                                            
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </apex:outputPanel>
                                    </apex:outputPanel>-->
                                    
                                    
                                    <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>State the business need for the data request <span style="color:red;font-size:larger;">*</span> </h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div  >
                                                        <apex:inputField id="bussiness-name" required="true" value="{!trtReport.TRT_Business_need_for_the_data_request__c}" html-placeholder="Please describe the purpose for which the data has been requested">
                                                        </apex:inputField>
                                                    </div>
                                                </td>
                                                 <td><a id="show-option" title="Please describe the purpose for which the data has been requested"><img src="{!URLFOR($Resource.infoimage)}"/> </a></td>
                                            </tr>
                                        </table>
                                    </div>
                                   
                                    
                                    <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Region <span style="color:red;font-size:larger;">*</span></h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div>
                                                        <apex:inputField id="requestorRegion" required="true" value="{!trtReport.TRT_Region__c}"/></div>
                                                </td>
                                                 <td><a id="show-option" title="Select “All” or one/multiple region required for the report"><img src="{!URLFOR($Resource.infoimage)}"/> </a></td>
                                            </tr>
                                        </table>
                                        
                                    </div>
                                    
                                    
                                    
                                    
                                    
                                   <div >
                                        <table>
                                            <tr style="height:20px"></tr>
                                            
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Function <span style="color:red;font-size:larger;margin-bottom: 1.2em;">*</span></h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    
                                                    <div >
                                                        
                                                        
                                                        <apex:inputField id="fuction" required="true" value="{!trtReport.TRT_Function__c}"/></div>  
                                                    
                                                </td>
                                                 <td><a id="show-option" title="Select “All” or one/multiple function required for the report"><img src="{!URLFOR($Resource.infoimage)}"/> </a></td>
                                            </tr>
                                        </table>
                                    </div>
                                  
                                    <div>
                                        <table>
                                            
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Service Area  </h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td>
                                                    <div >
                                                        
                                                        <apex:inputField id="serviceArea"  value="{!trtReport.TRT_Service_Area__c}"/></div>
                                                </td>
                                                <td><a id="show-option" title="Select “All” or one/multiple service areas required for the report"><img src="{!URLFOR($Resource.infoimage)}"/> </a></td>
                                            </tr>
                                        </table>
                                    </div>
                                   <div>
                                        <table>
                                            
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Service Line</h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td>
                                                    <div >
                                                        <apex:inputField id="serviceline" value="{!trtReport.TRT_Service_Line__c}"/></div>
                                                </td>
                                                <td><a id="show-option" title="Select “All” or one/multiple service lines required for the report"><img src="{!URLFOR($Resource.infoimage)}"/> </a></td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                    
                                    
                                    <div>
                                        <table>
                                            
                                            
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Personnel Sub-Area </h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td>
                                                    <div >
                                                        
                                                        <apex:inputField id="subarea"  value="{!trtReport.TRT_Personnel_Subarea__c}" html-placeholder="Example:Stamford, Louisville, Hyderabad, New York, Boston, Omaha, Houston, San Francisco, Detroit, Parsippany, Buffalo, Chicago, Los Angeles"/></div>
                                                </td>
                                                <td><a id="show-option"  title="Example:Stamford, Louisville, Hyderabad, New York, Boston, Omaha, Houston, San Francisco, Detroit, Parsippany, Buffalo, Chicago, Los Angeles"><img src="{!URLFOR($Resource.infoimage)}"/> </a></td>
                                            </tr>
                                        </table>
                                    </div>
                                   
                                   <!-- Newly Added Fields-->
                                     <div>
                                        <table>
                                                                                   
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Focus</h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td>
                                                    <div >
                                                        
                                                        <apex:inputField id="Focus"  value="{!trtReport.TRT_Focus__c}" /></div>
                                                </td>
                                                <td><a id="show-option"  title="Example:Industry-DC,Service Area-DC,Leadership-DC"><img src="{!URLFOR($Resource.infoimage)}"/> </a></td>
                                            </tr>
                                        </table>
                                    </div>

                                     <div>
                                        <table>
                                            
                                            
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Industry </h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td>
                                                    <div >
                                                        
                                                        <apex:inputField id="industry" value="{!trtReport.TRT_Industry__c}" /></div>
                                                </td>
                                                <td><a id="show-option"  title="Select the industry"><img src="{!URLFOR($Resource.infoimage)}"/> </a></td>
                                            </tr>
                                        </table>
                                    </div>
                                     <div>
                                        <table>
                                            
                                            
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Sector</h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td>
                                                    <div >
                                                        
                                                        <apex:inputField id="sector" value="{!trtReport.TRT_Sector__c}"   /></div>
                                                </td>
                                                <td><a id="show-option"  title="Select the industry"><img src="{!URLFOR($Resource.infoimage)}"/> </a></td>
                                            </tr>
                                        </table>
                                    </div>
                                     <div>
                                        <table>
                                            
                                            
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Market offering </h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td>
                                                    <div >
                                                        
                                                        <apex:inputField id="marketoffering"  value="{!trtReport.TRT_Market_Offering__c}" /></div>
                                                </td>
                                                <td><a id="show-option"  title="Select the market offering"><img src="{!URLFOR($Resource.infoimage)}"/> </a></td>
                                            </tr>
                                        </table>
                                    </div>
                                     <div>
                                        <table>
                                            
                                            
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Secondary market offering </h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td>
                                                    <div >
                                                        
                                                        <apex:inputField id="secmarketoffering"  value="{!trtReport.TRT_Secondary_Market_Offering__c}" /></div>
                                                </td>
                                                <td><a id="show-option"  title="Select the secondary market offering"><img src="{!URLFOR($Resource.infoimage)}"/> </a></td>
                                            </tr>
                                        </table>
                                    </div>
                                     <!-- END Newly Added Fields-->


                                    
                                    <div>
                                        <table>
                                            
                                            
                                            <tr style="height:20px"></tr>
                                            <tr >
                                                <td style="width:250px">
                                                    <h3>Describe the required data <span style="color:red;font-size:larger;">*</span></h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td>
                                                    <apex:inputField id="requestedData" required="true" value="{!trtReport.TRT_Requested_data__c}" html-placeholder="Our reports normally includes full time, leave of absence, part timers (less than 20 hours) employees. Please specify if you need anything different from that such as temps, interns, salary continuation and externals." />
                                                </td>
                                                <td><a id="hide-option"  title="Our reports normally includes full time, leave of absence, part timers (less than 20 hours) employees. Please specify if you need anything different from that such as temps, interns, salary continuation and externals."><img src="{!URLFOR($Resource.infoimage)}"/></a></td>
                                            </tr>
                                        </table>
                                    </div>
                                    
                                              <div >
                                                    <apex:outputPanel id="datePan">
                                        <apex:outputPanel >
                                            <div>
                                                <table>
                                                    <tr style="height:20px"></tr>
                                                <tr>
                                                    <td style="width:250px;">
                                                        <h3>Report Time Frame <span style="color:red;font-size:larger;">*</span></h3>
                                            </td>
                                                        <td style="width:40px"></td><td>
                                                        <!--<apex:outputText value="Date Range:" style="font-weight:800" />-->
                                                        <apex:actionregion >   
                                                            <apex:selectRadio id="Calendar" required="true" value="{!trtReport.TRT_date_rang_fiscal__c}"  >
                                                                <apex:selectOption itemValue="False" itemlabel="Fiscal Year"/>
                                                                <apex:selectOption itemValue="True" itemlabel="Calendar Year"/>
                                                                <apex:selectOption itemvalue="None" itemLabel="Custom Date Range"/>
                                                                <apex:actionSupport event="onclick" reRender="DateRange,fiscalyear,textbx" status="rStatus"/>
                                                            </apex:selectRadio>
                                                        </apex:actionregion> 
                                                        </td>
                                                    </tr></table> 
                                            </div>
                                            <apex:actionRegion >
                                            <apex:outputPanel id="DateRange">
                                                <apex:outputpanel rendered="{!trtReport.TRT_date_rang_fiscal__c='True'}" >
                                                    <div>
                                                        <table>
                                                            <tr style="height:20px"></tr>
                                                            <tr >
                                                                <td style="width:250px">
                                                                <h3>Calendar Year <span style="color:red;font-size:larger;">*</span> </h3></td>
                                                           
                                                            <td style="width:40px"></td>
                                                            <td>
                                                                <h3 >From</h3>
                                                                  
                                                            </td>
                                                            <td style="width:20px"></td>
                                                            <td ><div>
                                                                <h3 style=" margin-left: 214px;">To</h3> 
                                                               
                                                                </div>
                                                            </td>
                                                            </tr>
                                                        </table>
                                                          <table>
                                                            
                                                            <tr >
                                                                <td style="width:250px">
                                                              </td>
                                                           
                                                            <td style="width:40px"></td>
                                                            <td>
                                                                <apex:inputField styleclass="txtBox" html-placeholder="Start Date" style="width:215px" value="{!trtReport.TRT_Start_Date_RM__c}" >
                                                                    <apex:actionSupport event="onchange" action="{!Enddatecheck}" reRender="DateRange" /></apex:inputField>     
                                                            </td>
                                                            <td style="width:20px"></td>
                                                            <td><div>
                                                                <apex:inputField styleclass="txtBox" html-placeholder="End Date" style="width:215px"  value="{!trtReport.TRT_End_Date_RM__c}"  >
                                                                    <apex:actionSupport event="onchange" action="{!Enddatecheck}" reRender="DateRange" /></apex:inputField>
                                                                </div>
                                                            </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    
                                                    
                                                </apex:outputpanel>
                                            </apex:outputPanel>
                                                </apex:actionRegion>
                                            
                                            <apex:outputPanel id="fiscalyear">
                                                <apex:outputPanel rendered="{!trtReport.TRT_date_rang_fiscal__c='False'}">
                                                    
                                                    <div>
                                                        <table>
                                                            <tr style="height:20px"></tr>
                                                            <tr>
                                                                <td style="width:250px">
                                                                <h3>Fiscal Year <span style="color:red;font-size:larger;">*</span></h3></td>
                                                            <td style="width:40px"></td><td>
                                                                <div>
                                                                    <apex:inputField style="bottom:20px;" id="fy" required="true" value="{!trtReport.TRT_Fiscal_Year_TA__c}"/></div></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                            
                                             <apex:outputPanel id="textbx">
                                                <apex:outputPanel rendered="{!trtReport.TRT_date_rang_fiscal__c='None'}">
                                                    
                                                    <div>
                                                        <table>
                                                            <tr style="height:20px"></tr>
                                                            <tr>
                                                                <td style="width:250px">
                                                                    <h3>Custom Date<br/>Range <span style="color:red;font-size:larger;" >*</span></h3></td>
                                                            <td style="width:40px"></td><td>
                                                                <div>
                                                                    <apex:inputField style="width:250px"  html-placeholder="For data requirements of multiple date ranges, please specify the dates or fiscal year.  Example 1: 6/1/2014 to 6/30/2014 and 6/1/2015 to 6/30/2015 Example 2: FY14 P10 YTD and FY15 P10 YTD Example 3: FY14 P10 R13 and FY15 P10 R13" id="timeFrame" required="true" value="{!trtReport.TRT_Report_Time_Frame__c}"  /> </div></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                            
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                                    
                                                    <!--<apex:inputField styleClass="txtBox" style="width:250px"  html-placeholder="Please specify if the data is needed as per calendar date or fiscal year period. Actives are provided for point in time; starts and terms are provided from between time frame. Turnover is provided for YTD and rolling 13 periods of a fiscal year" id="timeFrame" required="true" value="{!trtReport.TRT_Report_Time_Frame__c}"  />--></div>
                                </table>
                            </div>
                                  <!-- Added by deepthi start-->
                                   
                            
                             <div>
                                
                                <table>
                                     <tr style="height:20px"></tr>
                                    <tr>
                                        <td style="width:250px">
                                            <h3>Standard information list</h3>
                                        </td>
                                        <td style="width:40px"></td>
                                        <td>
                                            <input type="button"  value="Data columns"  style="width:184px" onclick="datacolumns();" />
                                        </td><td style="width:10px"></td>
                                        <td><span title="Report will include the columns specified in the standard information list."><img style="width:74%" src="{!URLFOR($Resource.infoimage)}"/></span></td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div>
                                <table>
                                     <tr style="height:20px"></tr>
                                    <tr>
                                        <td style="width:250px">
                                            <h3>Describe the additional fields required </h3>
                                        </td>
                                        <td style="width:40px"></td>
                                        <td>
                                            <apex:inputField id="fuctionss" html-placeholder="If you need any additional fields other than the columns provided in the standard information list, please specify the column names in the text box." value="{!trtReport.TRT_Additional_Fields_Required__c}"/>
                                        </td>
                                        <td><span title="Example: GE – Personal ID, Personnel Number, Education Details, Prior Employer etc."><img  src="{!URLFOR($Resource.infoimage)}"/></span></td>
                                    </tr>
                                </table>
                            </div>
                            
                             <apex:actionRegion >
                            <apex:outputPanel id="deldate">
                            <div>
                                <table>
                                    <tr style="height:20px"></tr>
                                    <tr>
                                        <td style="width:250px">
                                            <h3>Date report is needed</h3>
                                        </td>
                                        <td style="width:40px"></td>
                                        <td>
                                        <apex:inputField styleclass="txtBox" style="width:250px" id="dd"  onfocus="DatePicker.pickDate(false, this , false);" value="{!trtReport.TRT_Delivery_Date_lrng__c}" >
                                        
                                            <apex:actionSupport event="onchange" action="{!Enddatecheck}" reRender="deldate" /></apex:inputField>
                                        </td>
                                    </tr>
                                </table>
                            </div> 
                            </apex:outputPanel>
                            </apex:actionRegion>
                                                 
                                    <!-- Added by Deepthi end-->
                                  
                            
                            <div>
                                <table>
                                     <tr style="height:20px"></tr>
                                    <tr>
                                        <td style="width:250px">
                                            <h3>File attachment, if any </h3>
                                        </td>
                                        <td style="width:40px"></td>
                                        <td>
                                            <apex:inputFile style="width:100%;" id="fileToUpload" onChange="uploadDocument('{!$Component.fileToUpload}');" value="{!fileBody}" filename="{!fileName}" /> 
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            
                            
                            
                            <div>
                                <table>
                                     <tr style="height:20px"></tr>
                                    <tr>
                                        <td style="width:250px">
                                            <h3>Include PII</h3>
                                        </td>
                                        <td style="width:40px"></td>
                                        <td>
                                            <apex:actionregion >
                                                <apex:selectRadio value="{!trtReport.TRT_Include_PII__c}" id="includePII" >
                                                    
                                                    <apex:selectOption itemValue="True" itemlabel="Yes"/>
                                                    <apex:selectOption itemValue="False" itemlabel="No"/>
                                                    
                                                    <apex:actionSupport event="onclick" reRender="pBlocks,tblocks" status="rStatus"/>
                                                </apex:selectRadio>
                                            </apex:actionregion>
                                        </td>
                                        <!--<td><input style="margin-left: 25px; width: 182px;" type="button" value="PII Approval Protocols" onclick="PIIdetails();" /></td>-->
                                    </tr>
                                </table>
                            </div>
                            
                            <apex:outputPanel id="pBlocks" >
                                <apex:outputPanel rendered="{!trtReport.TRT_Include_PII__c}" >
                                    <apex:pagemessages ></apex:pagemessages>
                                    
                                   
                                    <div>
                                        <table>
                                            <tr>
                                                <td style="width:100%">
                                                    <h3 style="font-size: 100%;  font-weight: 100;  color: red;">This is talent data and it is sometimes sensitive, do you have approval to view this data?if yes please attach the approval email</h3>
                                                    <br/>
                                                    <h3 style="font-size: 100%;  font-weight: 100;  color: red;">
                                                        Examples of PII data can be  Personnel number, government identifier(SSN,TIN,etc.),racial or ethnic origin  
                                                       
                                                    </h3><br/>
                                                    <h3 style="font-size: 100%;  font-weight: 100;  color: red;">
                                                        For PII pertaining to Partners and Directors, a separate approval is needed from the Partner Matters team.
                                                    </h3><br/>
                                                    <h3 style="font-size: 100%;  font-weight: 100;  color: red;">
                                                         That approval will be sought by the Talent Reporting and Analytics team
                                                        <a href="https://deloittenet.deloitte.com/About/Policies/Admin/Pages/223_ConfidentialInformationOtherVitalBusinessInterests_US.aspx" target="_blank">Learn more...</a>
                                                    </h3>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                     <div>
                                                        <table>
                                                            <tr style="height:20px"></tr>
                                                            <tr>
                                                                <td style="width:250px">
                                                                    <h3>Attachment (approval email)</h3></td>
                                                            <td style="width:40px"></td><td>
                                                                <div>
                                                                     <apex:inputFile style="width:100%;"  id="eFileToUpload" value="{!eFileBody}" filename="{!eFileName}"  />     </div></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                  
                                </apex:outputPanel>
                            </apex:outputPanel>
                            
                            <div id="Reportcolumn" title="Standard information list" class="tooltipEvent" >
                                <table border="1" cellspacing="0" cellpadding="0" > 
                                    <tbody>
                                        <tr>
                                            <td nowrap="" rowspan="6" >Employee Information</td>
                                            <td nowrap="" >Name</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Email ID</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Counselor Name</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Employee Subgroup</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >LOA Indicator</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Less than 20 hr Indicator</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" rowspan="3" >Job Information</td>
                                            <td nowrap="" >Position Desc</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Job Desc</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Job Level</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" rowspan="10" >Cost Center Information</td>
                                            <td nowrap="" >Function</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Service Area</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Service Line</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Master Cost Center</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Master Cost Center Desc</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Federal Indicator</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Company Code </td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Company Code Desc</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Organization Unit</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Organization Unit Desc</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" rowspan="4" >Region Information</td>
                                            <td nowrap="" >Region</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Facility Code Desc</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Personnel Area</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Personnel Subarea</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" rowspan="4" >Industry Information</td>
                                            <td nowrap="" >Focus</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Primary Industry</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Primary Sector</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Primary Market Offerings/Capability</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" rowspan="6" >Date Information</td>
                                            <td nowrap="" >Original Hire Date</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Most Recent Hire Date</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Hire Date</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Anniversary Date</td>
                                        </tr>
                                        
                                        <tr>
                                            <td nowrap="" >Term Date (applicable for Terminations report)</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Fiscal Year/Period (applicable for Starts and Terms only)</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                
                                
                                
                            </div>
                            
                            <div id="containshead" title="Cancel request"  >
                             <p>
                                 Are you sure you want to cancel the request?
                                </p>
                                
                            </div>
                           
                                    
                              
                            <!--
<div id="dialog-message" title=" Please enter more details">
<p>
<span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
Please enter more details.
</p>

</div>-->                <div>
                            
                            </div>
                            <div>
                                <br/>
                                <br/>
                                <br/>
                            </div>
                            <div>
                                
                                <apex:outputPanel id="pBlock">
                                    <table><tr><td>
                                        <apex:commandButton value="Submit" style="background:#28aada;color:white;width:80px;height:30px;border-radius: 8px;font-size: 15px;"  action="{!Submit}"/></td>
                                        <td > <apex:commandButton value="Cancel" style="background:#28aada;color:white;width:80px;height:30px;border-radius: 8px;font-size: 15px;" onclick="PIIdetails();return false;"  /></td>
                                        </tr></table></apex:outputPanel>
                            </div>
                            <div>
                                <br/>
                            </div>
                            
                            <div>
                                <br/>
                            </div>
                            <div>
                                <br/>
                            </div>
                            <div>
                                <br/>
                            </div>
                            
                        </div>
                    </div>
                    <div  class="footerContent" id="footer" >
                        <div class="copyright">
                            <p>Copyright © 2015 Deloitte Support Services India Pvt. Ltd.<br/>
                                All rights reserved.<br/>
                                36 USC 220506</p>
                            <p>
                                <img alt="Official Professional Services Sponsor; Professional Services means audit, tax, consulting and financial advisory services." src="{!$Resource.Deloitte_Sites_Footer}"/>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>  
    </apex:form> 
</apex:page>