<apex:page controller="TRT_Reporting_ctrl" cache="true" sidebar="true" showHeader="false" id="learn">
    <apex:stylesheet value="{!$Resource.CommonCSS}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <apex:stylesheet value="{!$Resource.CommonCSS}"/>
    
    <style>
        .multiSelectPicklistRow td select
        {
        width:250px !important;
        min-width:250px !important;
        max-width:250px !important;
        }
        .pblock
        {
        }
        .loading-icon 
        {
        background-image: url(/img/loading.gif);
        width: 16px;
        height: 16px;
        }
        a.alpha-link 
        {
        font-weight: normal;
        font-size: 91%;
        padding: 0 4px;
        color: #015BA7 !important;
        }
        a.alpha-link+a.alpha-link 
        {
        border-left: 1px solid #CFCECE;
        }
        a.alpha-link:hover 
        {
        background-color: #e0f5fc !important;
        }
        a.alpha-select 
        {
        font-weight: bold;
        text-decoration: none;
        background-color: #C6E1FF;
        color: #000000 !important;
        }
        .search-block 
        {
        text-align: center;
        }
        .search-block input 
        {
        margin: 0px 15px 0px 5px;
        }
        .search-block-button 
        {
        min-width: 110px;
        }
        .process-block 
        {
        text-align: center;
        margin-top: 10px;
        }
        .process-block input 
        {
        margin: 0px 15px;
        }
        .process-block-button 
        {
        min-width: 110px;
        }
        .page-buttons input 
        {
        min-width: 110px;
        }
        table.exceptionText td 
        {
        font-style:normal;
        font-size:16px;
        font-weight:normal;
        text-align:center;
        color:#94D400;
        }
        input.watermark 
        { 
        color: #999; 
        }
        select:disabled
        {
        width:250px;
        font-size: 14px;
        -webkit-box-shadow: 0 2px 6px #a2a0a0;
        border-radius: 6px;
        border: 1px #ccc solid;
        padding: 0.2em 2em 0.2em 0.5em;
        }
        select
        {
        width:250px;
        font-size: 14px;
        -webkit-box-shadow: 0 2px 6px #a2a0a0;
        border-radius: 6px;
        border: 1px #ccc solid;
        padding: 0.2em 2em 0.2em 0.5em;
        }
        textarea
        {
        width: 499px !important;
        height: 85px !important;
        width:250p
        font-size: 14px; !important;
        -webkit-box-shadow: 0 2px 6px #a2a0a0;
        border-radius: 6px;
        border: 1px #ccc solid;
        padding: 0.2em 2em 0.2em 0.5em;
        }
        h3 
        {
        
        font-size: 1.3em; 
        font-weight: bold; 
        margin-bottom: 0.2em;
        }
        .errormessages li
        {
        color:#d74c3b;
        }
        .errorMsg
        {
        color:#d74c3b;
        padding:5px;
        }
         .ui-widget-header
        {
        background: #0c2366 !important;
        }
        .ui-dialog .ui-dialog-title
        {
        Color:White;
        }
        .dateFormat{
        display:none;
        }
        .datePicker select
        {
        width:115px;
        
        }
        
    </style>
    <script>
    
    
   
    function hideContent()
    {
        if(document.getElementById("learn:SAPReqForm:wReport").checked)
        {
            document.getElementById("learn:SAPReqForm:fact").checked = false;
            document.getElementById("learn:SAPReqForm:clevel").checked = false;
            document.getElementById("learn:SAPReqForm:oLevel").checked = false;
            document.getElementById("learn:SAPReqForm:comments").checked = false;
            document.getElementById("learn:SAPReqForm:clevel").disabled = true;
            document.getElementById("learn:SAPReqForm:fact").disabled = true;
            document.getElementById("learn:SAPReqForm:oLevel").disabled = true;
            document.getElementById("learn:SAPReqForm:comments").disabled = true;
        }
        if(document.getElementById("learn:SAPReqForm:wReport").checked == false)
        {
            document.getElementById("learn:SAPReqForm:clevel").disabled = false;
            document.getElementById("learn:SAPReqForm:fact").disabled = false;
            document.getElementById("learn:SAPReqForm:oLevel").disabled = false;
            document.getElementById("learn:SAPReqForm:comments").disabled = false;
            
        }
    }
    
    function uploadDocument(documentid){
        
        var FileSize = document.getElementById(documentid).files[0].size;
        //  alert(FileSize );
        if(FileSize>25*1024*1024) //In Bytes 
        {
            alert('File Size Should be less than 25 MB. Your Uploaded File Size is : '+(Math.round(FileSize/1048576)) + 'MB');
            return false;
        }
        
    }
    
    function validate()
    {
        //alert("dadssa");
        if($("input[type='checkbox']").is(':checked')){
            test();
        }else{
            $('#dialog-message').dialog("open");
        }
        //alert($("input[type='checkbox']").is(':checked'));
    }
    function test()
    {
        //alert("dad");
        var $checkBoxes = $('input[type="checkbox"]');
        var checkCount = 0;
        $('input[type="checkbox"]').each(function()
                                         { 
                                             // alert("isCheked "+ $(this).prop('checked'));
                                             if( $(this).prop('checked') ) checkCount++; 
                                         });
        if( checkCount > 0 ) {
            onvalidate();
        }
        else
        {
            $('#dialog-message').dialog("open");
        }
    }
    
    $(function() {
        $( "#dialog-message" ).dialog({
            modal: true,
            autoOpen: false,
            buttons: {
                Ok: function() {
                    $( this ).dialog( "close" );
                }
            }
        });
        
        $( "#containshead" ).dialog({
      resizable: false,
      height:180,
      modal: true,
      autoOpen: false,       
      buttons: {
        Yes: function() {
          
           window.location.href ="http://talentsites.deloittenet.deloitte.com/CTS/goTOD.aspx?Key=TRT";
        },
        No: function() {
          $( this ).dialog( "close" );
        }
      }
    });
    });

    (function() {
    var windowOnload = window.onload;
    window.onload = function() {
      if (windowOnload) windowOnload();
      var select = document.getElementById('calYearPicker');
      if (!select) return;

      select.innerHTML = '';
      var startYear = new Date().getFullYear() - 3;
      for (var year = startYear; year < startYear + 105; year++) {
        select.options[select.options.length] = new Option(year, year);
      }
    }
  }());
    
    function PIIdetails(){
        
        $('#containshead').dialog("open");
        
    }   
    
    </script>
    <apex:form id="SAPReqForm">
        <div class="containerFrame">
            <div class="container" id="subChannel2">
                <div id="header">
                    <a href="http://talentsites.deloittenet.deloitte.com/CTS/goTOD.aspx?Key=TRT"><img src="http://www.deloitte.com/deloitte-ecm-cm-dpm-web/images/dcom/new_deloitte_logo.gif" alt="Deloitte United States" title="Deloitte United States" name="logo" border="0" id="logo" width="124" height="27"/></a>
                </div>
                <div  class="container" id="contentContainer">
                    <table style="width:100%" id="adhocHeader" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="tableHeaderFontControl">
                                        <h1 id="adhocPageTitle">Learning Evaluation Form <a href="http://talentsites.deloittenet.deloitte.com/CTS/goTOD.aspx?Key=TRT" style="position: relative;left: 636px;  font-size: 12px;">
                                            HOME</a></h1>
                                    </div>
                                    <br/>
                                    <h2 id="adhocPageTitle" style="color:#94D400" >Report Requirements</h2>
                                    <div class="fontControl">
                                        <h2 id="pageSubTitle"> </h2>
                                        <hr width="100%"/> 
                                        <br/>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="Container">
                        <div id="contentBlock">
                            <h1 style="color:#a8a8a8;font-size:medium;">Fields marked with asterisk (<span style="color:red">*</span>) are mandatory</h1>
                            <apex:messages styleClass="errormessages"/>
                            
                         
                             <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>State the business need for the data request <span style="color:red;font-size:larger;">*</span> </h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div  >
                                                        <apex:inputField id="bussiness-name" required="true" value="{!trtReport.TRT_Business_need_for_the_data_request__c}" html-placeholder="Please describe the purpose for which the data has been requested">
                                                        </apex:inputField>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            <!--added-->
                            
                          <!--  <div>
                                <table>
                                    <tr style="height:10px"></tr>
                                    <tr><td style="width:40px"></td>
                                        <td >
                                            <h3>State the business need for the data request <span style="color:red;font-size:larger;">*</span> </h3>
                                        </td>
                                    </tr>
                                    <tr><td style="width:40px"></td>
                                        <td >
                                            <div>
                                                <apex:inputField styleClass="txtBox" style="width:250px" id="bussiness" required="true" value="{!trtReport.TRT_Business_need_for_the_data_request__c}" html-placeholder="Please describe the purpose for which the data has been requested"/>
                                            </div>  
                                        </td>
                                    </tr>
                                </table>
                            </div> -->
                            
                             <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                   <h3>Select the type of details to be included in the report. <span style="color:red;font-size:larger;">*</span> </h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div  >
                                                        <apex:actionregion >
                                                    <apex:inputCheckbox id="clevel"  value="{!trtReport.TRT_Course_Level_Ratings_LE__c}" />
                                                    <span title="The report will include the overall course level ratings only. E.g. Ethics for Success  (N - 1080, Ratings - 89%)"><apex:outputLabel value="Course Level Ratings" for="clevel"/></span>&nbsp;&nbsp;&nbsp;
                                                    <apex:inputCheckbox id="fact" style="  position: relative;left: 18px;" value="{!trtReport.TRT_Facilitator_Ratings_LE__c}" />
                                                    <span title="The report will include the Facilitator ratings only. E.g. Mathew Johnson  (N - 20, Ratings - 89%)"> <apex:outputLabel style="  position: relative;left: 18px;" value="Facilitator Ratings" for="fact"/></span><br/>
                                                    <apex:inputCheckbox id="oLevel"  value="{!trtReport.TRT_Offering_Level_Ratings_LE__c}" />
                                                    <span title="The report will include the overall offering level ratings only. E.g. Ethics for Success  (N - 120, Ratings - 89%)"><apex:outputLabel value="Offering Level Ratings" for="oLevel"/></span>&nbsp;&nbsp;&nbsp;
                                                    <apex:inputCheckbox id="comments" style="  position: relative;left: 15px;" value="{!trtReport.TRT_Comments_LE__c}" />
                                                    <span title="The report will include the comments received for that particular course/offering along with Facilitator comments"> <apex:outputLabel value="Comments" style="  position: relative;left: 15px;" for="comments"/></span><br/>
                                                    <apex:inputCheckbox id="wReport"  value="{!trtReport.TRT_W2D_Report_LE__c}" onclick="hideContent();" >
                                                        <apex:actionSupport event="onchange" reRender="datePan,secPan" status="rStatus"/>
                                                    </apex:inputCheckbox>
                                                </apex:actionregion>
                                                <apex:outputLabel value="W2D Report" for="wReport"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            <!--added-->
                           <!-- <div>
                                <table>
                                    <tr style="height:10px"></tr>
                                    <tr><td style="width:40px"></td>
                                        <td >
                                            <h3>Select the type of details to be included in the report. <span style="color:red;font-size:larger;">*</span> </h3>
                                        </td>
                                    </tr>
                                    <tr><td style="width:40px"></td>
                                        <td >
                                            <div>
                                                <apex:actionregion >
                                                    <apex:inputCheckbox id="clevel"  value="{!trtReport.TRT_Course_Level_Ratings_LE__c}" />
                                                    <span title="The report will include the overall course level ratings only. E.g. Ethics for Success  (N - 1080, Ratings - 89%)"><apex:outputLabel value="Course Level Ratings" for="clevel"/></span>&nbsp;&nbsp;&nbsp;
                                                    <apex:inputCheckbox id="fact" style="  position: relative;left: 18px;" value="{!trtReport.TRT_Facilitator_Ratings_LE__c}" />
                                                    <span title="The report will include the Facilitator ratings only. E.g. Mathew Johnson  (N - 20, Ratings - 89%)"> <apex:outputLabel style="  position: relative;left: 18px;" value="Facilitator Ratings" for="fact"/></span><br/>
                                                    <apex:inputCheckbox id="oLevel"  value="{!trtReport.TRT_Offering_Level_Ratings_LE__c}" />
                                                    <span title="The report will include the overall offering level ratings only. E.g. Ethics for Success  (N - 120, Ratings - 89%)"><apex:outputLabel value="Offering Level Ratings" for="oLevel"/></span>&nbsp;&nbsp;&nbsp;
                                                    <apex:inputCheckbox id="comments" style="  position: relative;left: 15px;" value="{!trtReport.TRT_Comments_LE__c}" />
                                                    <span title="The report will include the comments received for that particular course/offering along with Facilitator comments"> <apex:outputLabel value="Comments" style="  position: relative;left: 15px;" for="comments"/></span><br/>
                                                    <apex:inputCheckbox id="wReport"  value="{!trtReport.TRT_W2D_Report_LE__c}" onclick="hideContent();" >
                                                        <apex:actionSupport event="onchange" reRender="datePan,secPan" status="rStatus"/>
                                                    </apex:inputCheckbox>
                                                </apex:actionregion>
                                                <apex:outputLabel value="W2D Report" for="wReport"/>
                                                
                                            </div>   
                                        </td>
                                    </tr>
                                </table>
                            </div> -->
                            <div id="dialog-message" title="No Type of details selected">
                    <p>
                        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                        Please select atleast one Type of detail that is to be included in the report.
                    </p>
                    
                </div>
                            <apex:outputPanel id="allPanel">
                                            <apex:outputPanel >
                                                 <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Select the date range of the report i.e. Fiscal/Calendar Year. <span style="color:red;font-size:larger;">*</span></h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div  >
                                                        <apex:actionregion >
                                                    <apex:selectRadio id="Calendar" value="{!trtReport.TRT_date_rang_fiscal__c}" required="true" >
                                                        <apex:selectOption itemValue="False" itemlabel="Fiscal Year"/>
                                                        <apex:selectOption itemValue="True" itemlabel="Calendar Year"/>
                                                        <apex:actionSupport event="onclick" reRender="DateRange,fiscalyear" status="rStatus"/>
                                                    </apex:selectRadio>
                                                    </apex:actionregion>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            <!--added-->
                                               <!-- <div>
                                            <table>
                                                <tr style="height:20px" >
                                                    <td style="width:40px"></td><td>
                                                    <h3>Select the date range of the report i.e. Fiscal/Calendar Year. <span style="color:red;font-size:larger;">*</span></h3></td>
                                                </tr>
                                                <tr>
                                                    <td style="width:40px"></td><td>
                                                    <apex:actionregion >
                                                    <apex:selectRadio id="Calendar" value="{!trtReport.TRT_date_rang_fiscal__c}" required="true" >
                                                        <apex:selectOption itemValue="False" itemlabel="Fiscal Year"/>
                                                        <apex:selectOption itemValue="True" itemlabel="Calendar Year"/>
                                                        <apex:actionSupport event="onclick" reRender="DateRange,fiscalyear" status="rStatus"/>
                                                    </apex:selectRadio>
                                                    </apex:actionregion>
                                                    </td>
                                                </tr></table> 
                                        </div>-->
                                        
                                                <apex:actionRegion >
                                                <apex:outputPanel id="DateRange">
                                                    <apex:outputpanel rendered="{!trtReport.TRT_date_rang_fiscal__c='True'}" >
                                                         <div>
                                                        <table>
                                                            <tr style="height:20px"></tr>
                                                            <tr >
                                                                <td style="width:250px">
                                                                    <h3>Calendar Year <span style="color:red;font-size:larger;">*</span> </h3></td>
                                                                
                                                                <td style="width:40px"></td>
                                                                <td>
                                                                    <h3 >From</h3>
                                                                    
                                                                </td>
                                                                <td style="width:20px"></td>
                                                                <td ><div>
                                                                    <h3 style=" margin-left: 214px;">To</h3> 
                                                                    
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <table>
                                                            
                                                            <tr >
                                                                <td style="width:250px">
                                                                </td>
                                                                
                                                                <td style="width:40px"></td>
                                                                <td>
                                                                    <apex:inputField styleclass="txtBox" html-placeholder="Start Date" style="width:215px" value="{!trtReport.TRT_Start_Date_RM__c}" >
                                                                        <apex:actionSupport event="onchange" action="{!Enddatecheck}" reRender="DateRange" /></apex:inputField>     
                                                                </td>
                                                                <td style="width:20px"></td>
                                                                <td><div>
                                                                    <apex:inputField styleclass="txtBox" html-placeholder="End Date" style="width:215px"  value="{!trtReport.TRT_End_Date_RM__c}"  >
                                                                        <apex:actionSupport event="onchange" action="{!Enddatecheck}" reRender="DateRange" /></apex:inputField>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                       <!-- <div>
                                                            <table>
                                                                <tr style="height:20px">
                                                                    <td style="width:40px"></td><td>
                                                                    <h3>Calendar Year <span style="color:red;font-size:larger;">*</span> </h3></td>
                                                                </tr><tr style="height:40px">
                                                                <td style="width:40px"></td>
                                                                <td>
                                                                    <h3 >From</h3>
                                                                    <apex:inputField styleclass="txtBox" html-placeholder="Start Date"   style="width:215px"   value="{!trtReport.TRT_Start_Date_RM__c}" >
                                                                <apex:actionSupport event="onchange" action="{!Enddatecheck}" reRender="DateRange" /></apex:inputField>
                                                                </td>
                                                                <td>
                                                                    <h3>To</h3>
                                                                    <apex:inputField styleclass="txtBox"  html-placeholder="End Date" style="width:215px"  value="{!trtReport.TRT_End_Date_RM__c}" >
                                                            <apex:actionSupport event="onchange" action="{!Enddatecheck}" reRender="DateRange" /></apex:inputField>    
                                                            </td>
                                                                </tr>
                                                            </table>
                                                        </div>-->
                                                    </apex:outputpanel>
                                                </apex:outputPanel>
                                                </apex:actionRegion>
                                                
                                                <apex:outputPanel id="fiscalyear">
                                                    <apex:outputPanel rendered="{!trtReport.TRT_date_rang_fiscal__c='False'}">
                                                         <div>
                                                        <table>
                                                            <tr style="height:20px"></tr>
                                                            <tr>
                                                                <td style="width:250px">
                                                                <h3>Fiscal Year <span style="color:red;font-size:larger;">*</span></h3></td>
                                                            <td style="width:40px"></td><td>
                                                                <div>
                                                                    <apex:inputField style="bottom:20px;" id="fy" required="true" value="{!trtReport.TRT_Fiscal_Year_LE__c}"/></div></td>
                                                                </tr>
                                                        </table>
                                                    </div>
                                                        
                                                       <!-- <div>
                                                            <table>
                                                                <tr>
                                                                    <td style="width:40px"></td><td>
                                                                    <h3>Fiscal Year <span style="color:red;font-size:larger;">*</span></h3></td>
                                                                </tr>
                                                                <tr><td style="width:40px"></td><td>
                                                                    <div>
                                                                        <apex:inputField style="bottom:20px;" id="fy" required="true" value="{!trtReport.TRT_Fiscal_Year_LE__c}"/></div></td>
                                                                </tr>
                                                            </table>
                                                        </div>-->
                                                    </apex:outputPanel>
                                                </apex:outputPanel>
                                                
                                                
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                            
                            
                            <div>
                                      <apex:outputPanel id="datePan">
                                    <apex:outputPanel rendered="{!!trtReport.TRT_W2D_Report_LE__c}" >
                                        
                                        
                                        <apex:outputPanel >
                                             <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Provide us a list of courses/offering numbers as in DLC. <span style="color:red;font-size:larger;">*</span></h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div  >
                                                        <apex:commandLink value="Download Sample File"  styleClass="btn"  onclick="window.open('{!URLFOR($Resource.TRT_LE_Template)}', '_blank');return false;" />
                                                    </div>
                                                </td>
                                                 <td style="width:250px"></td>
                                                <td>
                                                        <apex:inputFile style="position: relative;right: 159px;" onChange="uploadDocument('{!$Component.fileToUpload}');" id="fileToUpload" value="{!fileBody}" filename="{!fileName}" /> 
                                                    </td>
                                            </tr>
                                        </table>
                                    </div>
                            <!--added-->
                                            
                                          <!--  <div >
                                                <table >
                                                    <tr >
                                                        <td style="width:40px;height: 40px;"></td><td> 
                                                        <h3>Provide us a list of courses/offering numbers as in DLC. <span style="color:red;font-size:larger;">*</span></h3></td>
                                                    </tr><tr>
                                                    <td style="width:40px;"></td><td> 
                                                    
                                                  
                                                            
                                                        <apex:commandLink value="Download Sample File"  styleClass="btn"  onclick="window.open('{!URLFOR($Resource.TRT_LE_Template)}', '_blank');return false;" />
                                                        
                                                       
                                                    </td>
                                                    <td>
                                                        <apex:inputFile style="position: relative;right: 159px;" onChange="uploadDocument('{!$Component.fileToUpload}');" id="fileToUpload" value="{!fileBody}" filename="{!fileName}" /> 
                                                    </td>
                                                    
                                                    </tr>
                                                </table>
                                            </div>-->
                                             <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                   <h3>List any specific requirements you would like us to include in the report.</h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div  >
                                                          <apex:inputfield value="{!trtReport.TRT_Special_Requirements_LE__c}" html-placeholder="E.g. Course ratings by demographics i.e. FSS or Career Level, Custom Question breakup i.e. Federal vs Commercial etc. or any additional break up" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            <!--added-->
                                          <!--  <div>
                                                <table>
                                                    <tr>
                                                        <td style="width:40px;height: 40px;"></td><td> 
                                                        <h3>List any specific requirements you would like us to include in the report.</h3></td>
                                                    </tr><tr>
                                                    <td style="width:40px"></td><td> 
                                                    <apex:inputfield value="{!trtReport.TRT_Special_Requirements_LE__c}" html-placeholder="E.g. Course ratings by demographics i.e. FSS or Career Level, Custom Question breakup i.e. Federal vs Commercial etc. or any additional break up" /></td>
                                                    </tr>
                                                </table>
                                            </div>-->
                                            
                                             <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Distribution List if in case the report should be sent to more than one recipient</h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div  >
                                                         <apex:inputfield value="{!trtReport.TRT_Distribution_List_LE__c}" html-placeholder="E.g. xyz@deloitte.com "/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            <!--added-->
                                           <!-- <div>
                                                <table>
                                                    <tr>
                                                        <td style="width:40px;height: 40px;"></td><td> 
                                                        <h3>Distribution List if in case the report should be sent to more than one recipient</h3></td>
                                                    </tr><tr>
                                                    <td style="width:40px"></td><td>
                                                    <apex:inputfield value="{!trtReport.TRT_Distribution_List_LE__c}" html-placeholder="E.g. xyz@deloitte.com "/></td> 
                                                    </tr>
                                                </table>
                                            </div>-->
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                </apex:outputPanel>
                                <apex:outputPanel id="secPan">
                                    <apex:outputPanel rendered="{!trtReport.TRT_W2D_Report_LE__c}" >
                                        
                                         <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Select the type of details to be included in the report</h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div  >
                                                        <apex:actionregion >
                                                        <apex:selectCheckboxes id="etypes" value="{!evaCheckboxSelections}" required="true" >
                                                            <apex:selectOption itemValue="W2D-Regular" itemlabel="W2D-Regular"/>
                                                            <apex:selectOption itemValue="W2D-PPD" itemlabel="W2D-PPD"/>
                                                            <apex:selectOption itemValue="W2D-Intern" itemlabel="W2D-Intern"/>
                                                        </apex:selectCheckboxes>
                                                    </apex:actionregion>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            <!--added-->
                                       <!-- <div>
                                            <table>
                                                <tr style="height:30px">
                                                    <td style="width:40px"></td><td>
                                                    <h3>Select the type of details to be included in the report.</h3></td>
                                                </tr>
                                                <tr style="height:30px">
                                                    <td style="width:40px"></td><td>
                                                    <apex:actionregion >
                                                        <apex:selectCheckboxes id="etypes" value="{!evaCheckboxSelections}" required="true" >
                                                            <apex:selectOption itemValue="W2D-Regular" itemlabel="W2D-Regular"/>
                                                            <apex:selectOption itemValue="W2D-PPD" itemlabel="W2D-PPD"/>
                                                            <apex:selectOption itemValue="W2D-Intern" itemlabel="W2D-Intern"/>
                                                        </apex:selectCheckboxes>
                                                    </apex:actionregion>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div> -->
                                        
                                         <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                   <h3>Select the regions you would like us to include in the report. <span style="color:red;font-size:larger;">*</span></h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div  >
                                                       <apex:inputCheckbox id="us"  value="{!trtReport.TRT_US_LE__c}" />
                                                    <apex:outputLabel value="US" for="us"/>&nbsp;&nbsp;&nbsp;
                                                    <apex:inputCheckbox id="usi"  value="{!trtReport.TRT_USI_LE__c}" />
                                                    <apex:outputLabel value="USI" for="USI"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            <!--added-->
                                     <!--   <div>
                                            <table>
                                                <tr style="height:30px">
                                                    <td style="width:40px"></td><td>
                                                    <h3>Select the regions you would like us to include in the report. <span style="color:red;font-size:larger;">*</span></h3></td>
                                                </tr>
                                                <tr style="height:30px">
                                                    <td style="width:40px"></td><td>
                                                    <apex:inputCheckbox id="us"  value="{!trtReport.TRT_US_LE__c}" />
                                                    <apex:outputLabel value="US" for="us"/>&nbsp;&nbsp;&nbsp;
                                                    <apex:inputCheckbox id="usi"  value="{!trtReport.TRT_USI_LE__c}" />
                                                    <apex:outputLabel value="USI" for="USI"/><br/>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>-->
                                        
                                         <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Should the report be prepared based on learner demographics?</h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div  >
                                                         <apex:selectRadio id="leaDemo" value="{!trtReport.TRT_Learner_Demographics_LE__c}" >
                                                        <apex:selectOption itemValue="True" itemlabel="Yes"/>
                                                        <apex:selectOption itemValue="False" itemlabel="No"/>
                                                    </apex:selectRadio>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            <!--added-->
                                        
                                     <!--   <div>
                                            <table>
                                                <tr style="height:30px">
                                                    <td style="width:40px"></td><td>
                                                    <h3>Should the report be prepared based on learner demographics?</h3></td>
                                                </tr>
                                                <tr style="height:30px">
                                                    <td style="width:40px"></td><td>
                                                    <apex:selectRadio id="leaDemo" value="{!trtReport.TRT_Learner_Demographics_LE__c}" >
                                                        <apex:selectOption itemValue="True" itemlabel="Yes"/>
                                                        <apex:selectOption itemValue="False" itemlabel="No"/>
                                                    </apex:selectRadio>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div> -->
                                        
                                         <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Should the report include comments?</h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div  >
                                                       <apex:selectRadio id="inComments" value="{!trtReport.TRT_Include_Comments_LE__c}"  >
                                                        <apex:selectOption itemValue="True" itemlabel="Yes"/>
                                                        <apex:selectOption itemValue="False" itemlabel="No"/>
                                                    </apex:selectRadio>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            <!--added-->
                                        
                                      <!--  <div>
                                            <table>
                                                <tr style="height:30px">
                                                    <td style="width:40px"></td><td>
                                                    <h3>Should the report include comments?</h3></td>
                                                </tr>
                                                <tr style="height:30px">
                                                    <td style="width:40px"></td><td>
                                                    <apex:selectRadio id="inComments" value="{!trtReport.TRT_Include_Comments_LE__c}"  >
                                                        <apex:selectOption itemValue="True" itemlabel="Yes"/>
                                                        <apex:selectOption itemValue="False" itemlabel="No"/>
                                                    </apex:selectRadio>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>   -->
                                        
                                      <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>List any specific requirements you would like us to include in the report.</h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div  >
                                                        <apex:inputfield value="{!trtReport.TRT_Special_Requirements_LE__c}" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            <!--added-->
                                        
                                        
                                     <!--   <div>
                                            <table>
                                                <tr>
                                                    <td style="width:40px"></td><td> 
                                                    <h3>List any specific requirements you would like us to include in the report.</h3></td>
                                                </tr><tr>
                                                <td style="width:40px"></td><td> 
                                                <apex:inputfield value="{!trtReport.TRT_Special_Requirements_LE__c}" /></td>
                                                </tr>
                                            </table>
                                        </div>-->
                                        
                                         <div>
                                        <table>
                                            <tr style="height:20px"></tr>
                                            <tr>
                                                <td style="width:250px">
                                                    <h3>Distribution List if in case the report should be sent to more than one recipient</h3>
                                                </td>
                                                <td style="width:40px"></td>
                                                <td >
                                                    <div  >
                                                         <apex:inputfield value="{!trtReport.TRT_Distribution_List_LE__c}" html-placeholder="E.g. xyz@deloitte.com "/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            <!--added-->
                                        
                                        <!--<div>
                                            <table>
                                                <tr>
                                                    <td style="width:40px"></td><td> 
                                                    <h3>Distribution List if in case the report should be sent to more than one recipient</h3></td>
                                                </tr><tr>
                                                <td style="width:40px"></td><td>
                                                <apex:inputfield value="{!trtReport.TRT_Distribution_List_LE__c}" html-placeholder="E.g. xyz@deloitte.com "/></td> 
                                                </tr>
                                            </table>
                                        </div>-->
                                    </apex:outputPanel>
                                </apex:outputPanel>
                            </div>
                            
                             <apex:actionRegion >
                                    <apex:outputPanel id="deldate">
                                        <div>
                                <table>
                                    <tr style="height:20px"></tr>
                                    <tr>
                                        <td style="width:250px">
                                            <h3>Date report is needed</h3>
                                        </td>
                                        <td style="width:40px"></td>
                                        <td>
                                        <apex:inputField styleclass="txtBox" style="width:250px" id="dd"  onfocus="DatePicker.pickDate(false, this , false);" value="{!trtReport.TRT_Delivery_Date_lrng__c}" >
                                        
                                            <apex:actionSupport event="onchange" action="{!Enddatecheck}" reRender="deldate" /></apex:inputField>
                                        </td>
                                    </tr>
                                </table>
                            </div> 
                                    </apex:outputPanel>
                                </apex:actionRegion>
                                
                                 <div id="containshead" title="Cancel request"  >
                             <p>
                                 Are you sure you want to cancel the request?
                                </p>
                                
                            </div>
                                <!-- added by deepthi start -->
                            <div>
                                
                            </div>
                            <div>
                                <br/>
                                <br/>
                                <br/>
                            </div>
                            <div>
                                <apex:outputPanel id="pBlock">
                                    <table>
                                        <tr>  
                                            <td>
                                                <apex:commandButton value="Submit" onclick="validate();return false;"  style="background:#28aada;color:white;width:80px;height:30px;border-radius: 8px;font-size: 15px;" action="{!submit}"   />
                                            <apex:actionFunction name="onvalidate" action="{!submit}"   />
                                            </td>
                                             <td > <apex:commandButton value="Cancel" style="background:#28aada;color:white;width:80px;height:30px;border-radius: 8px;font-size: 15px;" onclick="PIIdetails();return false;"  /></td>
                                        </tr>
                                    </table>
                                </apex:outputPanel>
                            </div>
                           
                            <div>
                                <br/>
                            </div>
                            
                            <div>
                                <br/>
                            </div>
                            <div>
                                <br/>
                            </div>
                            <div>
                                <br/>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div  class="footerContent" id="footer">
                    <div class="copyright">
                        <p>Copyright © 2015 Deloitte Support Services India Pvt. Ltd.<br/>
                            All rights reserved.<br/>
                            36 USC 220506</p>
                        <p>
                            <img alt="Official Professional Services Sponsor; Professional Services means audit, tax, consulting and financial advisory services." src="http://www.deloitte.com/assets/Dcom-UnitedStates/Local Assets/Other Assets/us_olympic_logo_left_align.gif"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>  
       
    </apex:form> 
    
</apex:page>