<apex:page showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" language="en-US" applyHTMLTag="false" controller="trtproj_ctrl">
   <html lang="en">
      <head>
        
         <script>
            function ProcessArea(value){
                
                AFProcessArea(value);
            }
            
         </script>
        
      </head>
      <body>
         <c:Responsivecomponent >
         <c:PageBlockTableEnhancerADV targetPbTableIds="tblPrj" defaultPageSize="50" pageSizeOptions="10,20,30,40,50,100"/>
         <div  class="container" id="contentContainer">
            <div  style="display:{!IF( IsCreated== true,'block','none')};" class="tableHeaderFontControl">
               <h1>Project is created. Thank you.</h1>
            </div>
         </div>
         <apex:form id="TheForm" rendered="{!!IsCreated}">
         <apex:actionRegion >
                     <apex:actionFunction status="loading"  action="{!getProcessArea}" name="AFProcessArea" oncomplete="" reRender="opp1" >
                        <apex:param value="" name="ProcessArea"/>
                     </apex:actionFunction>
                  </apex:actionRegion>
               <ul id="myTab" class="nav nav-tabs">
                  <li class="active">
                     <a href="#submit" data-toggle="tab">
                     Submit Request
                     </a>
                  </li>
                  <li><a href="#myrequest" data-toggle="tab">My Request</a></li>
               </ul>
            <div class="tab-content" >
               <div class="tab-pane in active" id="submit">
                  
                     <div class="jumbotron" style="border-radius: 1px;" id="tab">
                        <h1 class="text-left">
                           <p class="bg-info">Instructions:</p>
                        </h1>
                        <br/>
                        <ul>
                           <li>     Fields marked with an asterisk ﴾*﴿ are mandatory </li>
                           <li>    The concerned Project Manager will contact the requestor and review the project scope within 2-3 business days </li>
                           <li>       If you have any questions or if you have issues any in submitting your form, please contact:</li>
                           <ul class="a">
                              <li>
                                 For Rapid Development, <a href="mailto:arshetty@deloitte.com">Archana Shetty </a>
                              </li>
                              <li>  For any escalation, <a href="lpinheiro@deloitte.com">Lyndonjohn Pinheiro </a></li>
                           </ul>
                        </ul>
                     </div>
                     <div class="jumbotron">
                        <h1 class="text-left">
                           <p class="bg-info">Process Flow</p>
                        </h1>
                        <br/>
                        <apex:image styleclass="img-responsive" url="{!$Resource.FormResource}" style="width:100%;"/>
                     </div>
                     <apex:outputPanel styleClass="jumbotron " layout="block">
                        <apex:outputPanel styleClass="jumbotron " layout="block">
                           <apex:outputPanel styleClass="row" layout="block">
                              <apex:outputPanel styleClass="form-horizontal" layout="block">
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">Project Requestor </label>
                                    <div class="col-sm-10" style="margin-top: 0.5%;">
                                       <apex:outputText styleclass="form-control-static" value="{!loggedInContact.name}"/>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10" style="margin-top: 0.5%;">
                                       <apex:outputText styleclass="form-control-static" value="{!loggedInContact.email}"/>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">Request Type</label>
                                    <div class="col-sm-10" style="margin-top: 0.5%;">
                                       <apex:inputfield styleclass="form-control" required="true" style="border-left-color: red;border-left-width: 2px;" value="{!prj.Request_Type__c}" onchange="ProcessArea(this.value);"/>
                                    </div>
                                 </div>
                                 <apex:outputPanel id="opp1">
                                    <apex:outputPanel rendered="{!IF(ProcessArea!='',fieldRender,false)}">
                                       <div class="form-group drop-shadow ">
                                          <apex:repeat rendered="{!IF(ProcessArea!='',true,false)}" value="{!$ObjectType.Project__c.FieldSets[ProcessArea]}" var="f" >
                                             <label class="col-sm-3 control-label">{!f.Label}</label>
                                             <div class="col-sm-9">
                                                <apex:inputfield value="{!prj[f]}" required="{!OR(f.required,f.dbrequired)}" styleclass="form-control" />
                                                <br/>
                                             </div>
                                          </apex:repeat>
                                       </div>
                                    </apex:outputpanel>
                                 </apex:outputpanel>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">Attach sample documents(if any)</label>
                                    <div class="col-md-10" style="margin-top: 0.5%;">
                                       <apex:inputFile id="file" styleclass="file"  value="{!attachment.body}" filename="{!attachment.name}"/>
                                    </div>
                                 </div>
                              </apex:outputPanel>
                              <p  class="col-sm-offset-2 col-sm-2">
                                 <apex:commandbutton styleClass="btn btn-primary btn-block" status="loading" value="Save"  Action="{!save}" />
                              </p>
                              <p class="col-sm-3">
                                 <apex:commandbutton styleClass="btn btn-primary btn-block" status="loading" value="Cancel" Action="{!Clear}" />
                              </p>
                           </apex:outputPanel>
                     </apex:outputPanel>
                  </apex:outputPanel>
               </div>
               <div class="tab-pane" id="myrequest">
                     <div class="jumbotron" id="tab">
                        <div class="row">
                           <div class="col-md-12">
                              <h1 class="text-center">
                                 My Requests
                              </h1>
                              <br/>
                           </div>
                           <div id="res-table">
                              <table class="col-md-12 table-bordered table-striped table-condensed cf" id="tblPrj">
                                 <thead class="cf">
                                    <tr>
                                       <th><strong>Project Number</strong></th>
                                       <th><strong>Project Name</strong></th>
                                       <th><strong>Status</strong></th>
                                       <th><strong>Description</strong></th>
                                     
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <apex:repeat value="{!prjLst }" var="prj">
                                       <tr>
                                          <td data-title="Project Number">
                                             <apex:outputText value="{!prj.Project_Number__c}"/>
                                          </td>
                                          <td data-title="Request Type">
                                             <apex:outputText value="{!prj.name}"/>
                                          </td>
                                          <td data-title="Status">
                                             <apex:outputText value="{!prj.Status__c}"/>
                                          </td>
                                          <td data-title="Description">
                                             <apex:outputfield styleclass="form-control" value="{!prj.Description__c}"/>
                                          </td>
                                        
                                       </tr>
                                    </apex:repeat>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
         </apex:form></c:Responsivecomponent>
      </body>
      <style>
          
            .col-sm-10 span select{display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
            .col-sm-9 span select{display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
            .requiredInput span select{
            margin-top: 0.5%;border-left-color: red;border-left-width: 2px;
            }

        </style>
   </html>
</apex:page>