<apex:page showHeader="false" contentType="application/vnd.ms-excel#MassUploadCampusTrackerErrors.xls" cache="true" sidebar="false" controller="massUploadCampusTracker">
    <apex:pageBlock > 
        <apex:pageBlockTable value="{!wrapper}" var="wrap" rendered="{!NOT(ISNULL(wrapper))}">
            <apex:column headerValue="First Name" value="{!wrap.firstname1}"/>
            <apex:column headerValue="Last Name" value="{!wrap.lastname1}"/>
            <apex:column headerValue="Email" value="{!wrap.email1}"/>
            <apex:column headerValue="Taleo ID" value="{!wrap.WCT_Taleo_Id1}"/> 
            <apex:column headerValue="Address 1" value="{!wrap.WCT_Home_Street1}"/>
            <apex:column headerValue="Address 2" value="{!wrap.WCT_Home_Street_21}"/>
            <apex:column headerValue="City" value="{!wrap.WCT_Home_City1}"/>
            <apex:column headerValue="State" value="{!wrap.WCT_Home_State1}"/>
            <apex:column headerValue="Zip" value="{!wrap.WCT_Home_Zip1}"/> 
            <apex:column headerValue="Home Phone Number" value="{!wrap.HomePhone1}"/> 
            <apex:column headerValue="Mobile Number" value="{!wrap.MobilePhone1}"/>
            <apex:column headerValue="Gender" value="{!wrap.WCT_Gender1}"/>
        </apex:pageBlockTable>                 
    </apex:pageBlock> 
</apex:page>