<apex:page controller="WCT_EINTV_IEFFormList_CNTRL">

    <apex:pageBlock title="IEF Forms">
        
        <c:PageBlockTableEnhancerADV targetPbTableIds="IEFFormTableId" paginate="true" defaultPageSize="100" pageSizeOptions="5,10,20,30,50,100"/> 
       <apex:pageBlockTable value="{!IEFForms}" var="IEFForm" id="IEFFormTableId">
           
           <apex:column headerValue="Action">
               
               <a href="/servlet/servlet.FileDownload?file={!IEFForm.id}" target="_blank">View</a>
           </apex:column>
           <apex:column value="{!IEFForm.name}"  headerValue="Name"/>
           <apex:column value="{!IEFForm.description}" headerValue="Description"/>
           <apex:column value="{!IEFForm.bodyLength}" headerValue="Size" />
           <!--<apex:column value="{!IEFForm.LastModifiedDate}" /> -->
           <apex:column value="{!IEFForm.type}"  headerValue="Type"/>
           <apex:column value="{!IEFForm.folderName}"  headerValue="Folder"/>
     
        </apex:pageBlockTable>
    </apex:pageBlock>
    
</apex:page>