<apex:page sidebar="false" showHeader="false" standardStylesheets="false" controller="interPrototypeLandingPageController" id="thePage">

<head>
<style type="text/css">
body { margin: 0px; font-family: arial; font-size: 13px; padding: 0px; margin: 0px;font-weight: normal;font-style: normal; line-height: 1;position relative;cursor: default;-moz-box-sizing: border-box;
background-image : url({!URLFOR($Resource.WCT_ToDCSS, '/guide/images/background.png')});
margin-left:20px;
margin-right:20px;
}
#header-top {
max-width: none;
display: block;
height: 70px;
background-color: rgb(51, 51, 51);
line-height: 45px;
overflow: visible;
margin-bottom: 0px;
}  
#header-top > #header-row-1 {
float: left;
display: block;
margin: 0px;
padding: 0px;
border: 0px none;
font-size: 100%;
position: relative;
margin-left: 20px;
vertical-align:middle;
}

#header-top > #header-user-message {
float: right;
display: block;
margin: 0px;
padding: 0px;
border: 0px none;
font-size: 100%;
position: relative;
margin-right: 20px;
vertical-align:middle;
}
#menu-content {
height: 60px;
background-color: rgb(0, 39, 118);
line-height: 250%;
}
.menu-content-table-td{
height: 60px;
font-size: 100%;
vertical-align:middle;
align: center;
}
.outer {
margin: 0;
}
#menu-content > #menu-content-table> #menu-blank {
height: 55px;
display: block;
margin: 0px;
padding: 0px;
border: 0px none;
font-size: 100%;
position: absolute;
margin-left: 20px;
//width: 300px;
}
#menu-content > #menu-content-table > #menu-mySchduling {
background-color: rgb(148, 212, 0);
height: 55px;
display: -webkit-inline-flex;
margin: 0px;
padding: 0px;
border: 0px none;
font-size: 100%;
position: absolute;
//width: 300px;
vertical-align:middle;
//margin-left: 300px;
align: center;
}
#menu-content > #menu-content-table > #menu-ReCoordinator {
max-width: none;
height: 55px;
display: -webkit-inline-flex;
margin: 0px;
padding: 0px;
border: 0px none;
font-size: 100%;
position: absolute;
vertical-align:middle;
//width: 300px;
//margin-left: 600px;
align: center;
}
#menu-Welcome{
display: block;
}
#menu-Welcome > #menu-Main>#menu-WelcomeText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    color: #4c4c4c;
    line-height: 120%;
    padding-bottom: 2px;
    padding-top: 1px;
    left: 27px;
    position: absolute;
    top: 138px;
    margin-bottom: 0;
    width: 733px;
}
#menu-Welcome > #menu-Main>#menu-WelcomeVideo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    color: #4c4c4c;
    line-height: 120%;
    padding-bottom: 2px;
    padding-top: 1px;
    left: 1170px;
    position: absolute;
    top: 190px;
    margin-bottom: 0;
    width: 733px;
}
#menu-Welcome > #menu-SearchFaq > #menu-Search{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-align: left;
    color: #4c4c4c;
    line-height: 180%;
    padding-bottom: 2px;
    Right: 20px;
    position: absolute;
    top: 138px;
    margin-bottom: 0;
    background-color: #fff;
    border: 1px solid #abb0b6;
    width: 255px;
    padding-top: 0px;
    height: 24px;
    valign:center;
}
#menu-Welcome > #menu-SearchFaq > #menu-FAQ{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
    text-align: right;
    line-height: 150%;
    padding-bottom: 2px;
    padding-top: 1px;
    Right: 27px;
    position: absolute;
    top: 175px;
    margin-bottom: 0;
    width: 255px;
    padding-top: 0px;
    height: 24px;
}

#main-data-Table {
height: 40px;
background-color: rgb(0, 39, 118);
line-height: 250%;
margin-top: 15%;
}
.headerTD{
height: 40px;
font-size: 120%;
vertical-align:middle;
align: center;
text-align: center;
color : rgb(255, 255, 255);
font-weight: bold;
border-right: solid 1px rgb(148, 212, 0);
}
.InterviewDataTable {
height: 40px;
//background-color: rgb(0, 39, 118);
line-height: 250%;
margin-top: 3%;
}
.dataTh{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
//    font-style: italic;
    font-weight: bold;
    text-align: left;
    color : rgb(255, 255, 255);
}
.dataTd{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
//    font-weight: bold;
    text-align: left;
}
.tdBorder{
    border-bottom: solid 1px black;
}
.thBorder{
    border-right: solid 1px white;
}
</style>
</head>
<body>
    <div id="header-top">
        <div id="header-row-1">
            <p style="vertical-align:middle;"><span style="color:rgb(146, 212, 0);font-family: Arial, Helvetica, sans-serif;font-size: 240%;">Deloitte </span><span style="color:white;font-family: Arial, Helvetica, sans-serif;font-size: 240%;">Interviewer Portal</span></p>
        </div>
        <div id="header-user-message">
            <span style="color:white;font-family: Arial, Helvetica, sans-serif;font-size: 150%;">Hello {!$User.FirstName} !</span>
            <span><apex:outputLink value="/home/home.jsp?tsid={!$Label.CallCenterAppID}" style="color:white;font-family: Arial, Helvetica, sans-serif;font-size: 100%;width: inherit" title="Click here to return to Call Center App" rendered="{!profileName != '10_Company_Communities_User_Interviewer'}" >Call Center</apex:outputLink></span>
        </div>
    </div>
    <div id="menu-content"> 
        <table id="menu-content-table" valign="top" class="outer" width="100%" cellspacing="0" cellpadding="0" align="left">
            <tr>
                <td width="50%" class="menu-content-table-td"><div id="menu-blank"></div></td>
                <td width="25%" class="menu-content-table-td" id="menu-mySchduling" style="background-color: rgb(148, 212, 0);" valign="top">
                    <div align="center">
                        <span style="color:white;font-family: Arial, Helvetica, sans-serif;font-size: 100%;width: inherit;">
                            <a href="/apex/WCT_InterviewerLandingPage" style="color:White;text-decoration:none;">
                                <apex:image url="/img/func_icons/util/datePicker16.gif" width="25" height="25"/>
                                <div style="margin-top:-10px;">My Schduling</div>
                            </a>
                        </span>
                    </div>
                </td>
                <td width="25%" class="menu-content-table-td">
                    <div id="menu-ReCoordinator" align="center">
                        <span style="color:white;font-family: Arial, Helvetica, sans-serif;font-size: 100%;width: inherit;">
                            <a href="mailto:" target="_top" style="color:white;text-decoration:none;">
                                <apex:image value="/img/icon/people32.gif" width="25" height="25" />
                                <!--<apex:image url="/resource/1384958600000/ContactPerson" width="25" height="25"/>-->
                                <div style="margin-top:-10px;">Contact Recruting Team</div>
                            </a>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="menu-Welcome">
        <div id="menu-Main">
            <div id="menu-WelcomeText">
                <p>Welcome to Deloitte Interviewer Portal! <br/><br/>The Deloitte Interviewer Portal provides a one stop location to:<br/>• Manage Interviews <br/>• Reference Interview Logistics<br/>• Access Training Material</p>
            </div>
            <div id="menu-WelcomeVideo">
                <body>
                <object id="MediaPlayer1" width="150" height="100" classid="CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701" standby="Media Player components..." type="application/x-oleobject" align="middle">
                <apex:param name="FileName" value="{!$Resource.Geographic}"/>
                <apex:param name="ShowStatusBar" value="True"/>
                <apex:param name="DefaultFrame" value="mainFrame"/>
                <apex:param name="autostart" value="false"/>
                    
                <embed type="application/x-mplayer2" pluginspage = "http://www.microsoft.com/Windows/MediaPlayer/" src="{!$Resource.Geographic}" autostart="false" align="middle" width="150" height="100" defaultframe="rightFrame" showstatusbar="true">
                </embed>
                </object>
                <br/>
                <a href="{!$Resource.Geographic}"><font size="2">Player</font></a>
                <a href="http://www.microsoft.com/windows/windowsmedia/mp10/default.aspx">
                <font size="1">Download Here</font></a>
                </body>             
            </div>
        </div>
        <div id="menu-SearchFaq">
            <div id="menu-Search">Search</div>
            <div id="menu-FAQ">Have a Question? Check out <a href="/apex/InterviewPortalFAQ">FAQs</a> </div> 
        </div>
    </div>
    <apex:form id="mainForm">
        <div id="main-data-Table">
            <div id="data-table-header">
                <table id="header-table" valign="top" class="outer" width="100%" cellspacing="0" cellpadding="0" align="left">
                    <tr>
                        <td width="40%" class="headerTD">&nbsp;</td>
                        <td width="15%" id="todaysInterviewsTH" class="headerTD" style="background-color: rgb(255, 255, 255);color:rgb(148, 212, 0);"><apex:commandLink id="todaysInterviewsTHCL" style="text-decoration:none;color:rgb(148, 212, 0);" action="{!todayLst}" oncomplete="showHideDiv('todaysInterviews');" value="Today’s Interviews ({!tdSize})" reRender="mainForm"/><!-- Today’s Interviews ({!tdSize}) --></td>
                        <td width="15%" id="upcomingInterviewsTH" class="headerTD" ><apex:commandLink id="upcomingInterviewsTHCL" style="color : rgb(255, 255, 255);text-decoration:none;" action="{!upComingLst}" value="Upcoming Interviews ({!upSize})" oncomplete="showHideDiv('upcomingInterviews');" reRender="mainForm"/><!-- Upcoming Interviews ({!upSize}) --></td>
                        <td width="15%" id="pastInterviewsTH" class="headerTD" ><apex:commandLink id="pastInterviewsTHCL" style="color : rgb(255, 255, 255);text-decoration:none;" action="{!pastLst}" value="Past Interviews ({!ptSize})" oncomplete="showHideDiv('pastInterviews');" reRender="mainForm"/><!-- Past Interviews ({!ptSize}) --></td>
                        <td width="15%" id="allInterviewsTH" class="headerTD" ><apex:commandLink id="allInterviewsTHCL" style="color : rgb(255, 255, 255);text-decoration:none;" action="{!allLst}" value="All Interviews ({!allSize})" oncomplete="showHideDiv('allInterviews');" reRender="mainForm"/><!-- All Interviews ({!allSize}) --></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="todaysInterviews" style="display:block;"  class="InterviewDataTable">
            <table valign="top" class="outer" width="100%" cellspacing="0" cellpadding="0" align="left">
                <tr style="background-color: rgb(0, 39, 118);" class="dataTh">
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Interview &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Candidate &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <!--Hiring level is removed From Interview
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Level &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    -->
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Date &nbsp; and Time <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Round &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Type &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Medium &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Coordinator &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <!-- <th class="thBorder" style="color : rgb(255, 255, 255);">RMS ID &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th> -->
                    <!-- IEF Submission Status is not associating in Interview
                    <th class="thBorder" style="color : rgb(255, 255, 255);">IEF Status &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    -->
                </tr>
                <apex:repeat value="{!todayLst}" var="tlst" id="todayRepeat">
                <tr class="dataTd">
                    <td class="tdBorder"><a href="/apex/InterviewDetail?id={!tlst.Id}"><apex:outputText value="{!tlst.Name}"/></a></td>
                    <td class="tdBorder"><apex:outputText value="{!tlst.WCT_Candidate_Name__c}"/></td>
                    <!--Hiring Level is removed from Interview
                    <td class="tdBorder"><apex:outputText value="{!tlst.WCT_Hiring_Level__c}"/></td>-->
                    <td class="tdBorder"><apex:outputText value="{!tlst.WCT_Start_Date_Time__c}"/></td>
                    <td class="tdBorder"><apex:outputText value="{!tlst.WCT_Start_Date_Time__c}"/></td>
                    <td class="tdBorder"><apex:outputText value="{!tlst.WCT_Interview_Type__c}"/></td>
                    <td class="tdBorder"><apex:outputText value="{!tlst.WCT_Start_Date_Time__c}"/></td>
                    <td class="tdBorder"><a href="mailto:{!tlst.WCT_Requisition_RC_Email__c}?Subject=Hi" target="_top"><apex:outputText value="{!tlst.WCT_Requisition_RC_Email__c}"/></a></td>
                    <!-- <td class="tdBorder"><apex:outputText value="{!tlst.WCT_Contact__r.WCT_Taleo_Id__c}"/></td> -->
                    <!--IEF Status is not present in Interview
                    <td class="tdBorder">
                        <apex:image value="/img/staleValue.gif" width="15" height="15" rendered="{!tlst.WCT_IEF_Submission_Status__c = 'Pending'}" /> 
                        <apex:image value="/img/func_icons/util/checkmark16.gif" width="15" height="15" rendered="{!tlst.WCT_IEF_Submission_Status__c = 'Submitted'}" /> 
                        <apex:image value="/img/func_icons/remove12.gif" width="15" height="15" rendered="{!tlst.WCT_IEF_Submission_Status__c = 'Final'}" /> 
                        &nbsp;
                        <apex:outputText value="{!tlst.WCT_IEF_Submission_Status__c}"/>
                    </td>
                    -->
                </tr>
                </apex:repeat>
            </table>
        </div>
        <div id="upcomingInterviews" style="display:none;" class="InterviewDataTable">
            <table valign="top" class="outer" width="100%" cellspacing="0" cellpadding="0" align="left">
                <tr style="background-color: rgb(0, 39, 118);" class="dataTh">
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Interview &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Candidate &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <!--Hiring level is removed From Interview
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Level &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    -->
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Date and Time &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Round &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Type &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Medium &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Coordinator &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <!-- <th class="thBorder" style="color : rgb(255, 255, 255);">RMS ID &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th> -->
                    <!--
                    <th class="thBorder" style="color : rgb(255, 255, 255);">IEF Status &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    -->
                </tr>
                <apex:repeat value="{!upComingLst}" var="uplst" id="UpRepeat">
                <tr class="dataTd">
                    <td class="tdBorder"><a href="/apex/InterviewDetail?id={!uplst.Id}"><apex:outputText value="{!uplst.Name}"/></a></td>
                    <td class="tdBorder"><apex:outputText value="{!uplst.WCT_Candidate_Name__c}"/></td>
                    <!--Hiring Level is removed from Interview
                    <td class="tdBorder"><apex:outputText value="{!uplst.WCT_Hiring_Level__c}"/></td>-->
                    <td class="tdBorder"><apex:outputText value="{!uplst.WCT_Start_Date_Time__c}"/></td>
                    <td class="tdBorder"><apex:outputText value="{!uplst.WCT_Start_Date_Time__c}"/></td>
                    <td class="tdBorder"><apex:outputText value="{!uplst.WCT_Interview_Type__c}"/></td>
                    <td class="tdBorder"><apex:outputText value="{!uplst.WCT_Start_Date_Time__c}"/></td>
                    <td class="tdBorder"><a href="mailto:{!uplst.WCT_Requisition_RC_Email__c}?Subject=Hi" target="_top"><apex:outputText value="{!uplst.WCT_Requisition_RC_Email__c}"/></a></td>
                    <!-- <td class="tdBorder"><apex:outputText value="{!uplst.WCT_Contact__r.WCT_Taleo_Id__c}"/></td> -->
                    <!-- IEF Sbmission Status is not present in Interview
                    <td class="tdBorder">
                        <apex:image value="/img/staleValue.gif" width="15" height="15" rendered="{!uplst.WCT_IEF_Submission_Status__c = 'Pending'}" /> 
                        <apex:image value="/img/func_icons/util/checkmark16.gif" width="15" height="15" rendered="{!uplst.WCT_IEF_Submission_Status__c = 'Submitted'}" /> 
                        <apex:image value="/img/func_icons/remove12.gif" width="15" height="15" rendered="{!uplst.WCT_IEF_Submission_Status__c = 'Final'}" /> 
                        &nbsp;
                        <apex:outputText value="{!uplst.WCT_IEF_Submission_Status__c}"/>
                    </td>
                    -->
                </tr>
                </apex:repeat>
            </table>    
        </div>
        <div id="pastInterviews" style="display:none;" class="InterviewDataTable">
            <table valign="top" class="outer" width="100%" cellspacing="0" cellpadding="0" align="left">
                <tr style="background-color: rgb(0, 39, 118);" class="dataTh">
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Interview &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Candidate &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <!--Hiring level is removed From Interview
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Level &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    -->
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Date and Time &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Round &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Type &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Medium &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Coordinator &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <!-- <th class="thBorder" style="color : rgb(255, 255, 255);">RMS ID &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th> -->
                    <!-- IEF is not associated with the Interview
                    <th class="thBorder" style="color : rgb(255, 255, 255);">IEF Status &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    -->
                </tr>
                <apex:repeat value="{!pastLst}" var="pstlst" id="pastRepeat">
                <tr class="dataTd">
                    <td class="tdBorder"><a href="/apex/InterviewDetail?id={!pstlst.Id}"><apex:outputText value="{!pstlst.Name}"/></a></td>
                    <td class="tdBorder"><apex:outputText value="{!pstlst.WCT_Candidate_Name__c}"/></td>
                    <!--Hiring Level is removed from interview
                    <td class="tdBorder"><apex:outputText value="{!pstlst.WCT_Hiring_Level__c}"/></td>-->
                    <td class="tdBorder"><apex:outputText value="{!pstlst.WCT_Start_Date_Time__c}"/></td>
                    <td class="tdBorder"><apex:outputText value="{!pstlst.WCT_Start_Date_Time__c}"/></td>
                    <td class="tdBorder"><apex:outputText value="{!pstlst.WCT_Interview_Type__c}"/></td>
                    <td class="tdBorder"><apex:outputText value="{!pstlst.WCT_Start_Date_Time__c}"/></td>
                    <td class="tdBorder"><a href="mailto:{!pstlst.WCT_Requisition_RC_Email__c}?Subject=Hi" target="_top"><apex:outputText value="{!pstlst.WCT_Requisition_RC_Email__c}"/></a></td>
                    <!-- <td class="tdBorder"><apex:outputText value="{!pstlst.WCT_Contact__r.WCT_Taleo_Id__c}"/></td> -->
                    <!-- IEF Sbmission Status is not present in Interview
                    <td class="tdBorder">
                        <apex:image value="/img/staleValue.gif" width="15" height="15" rendered="{!pstlst.WCT_IEF_Submission_Status__c = 'Pending'}" /> 
                        <apex:image value="/img/func_icons/util/checkmark16.gif" width="15" height="15" rendered="{!pstlst.WCT_IEF_Submission_Status__c = 'Submitted'}" />
                        <apex:image value="/img/func_icons/remove12.gif" width="15" height="15" rendered="{!pstlst.WCT_IEF_Submission_Status__c = 'Final'}" />
                        &nbsp;
                        <apex:outputText value="{!pstlst.WCT_IEF_Submission_Status__c}"/>
                    </td>
                    -->
                </tr>
                </apex:repeat>
            </table>    
        </div>
        <div id="allInterviews" style="display:none;" class="InterviewDataTable">
            <table valign="top" class="outer" width="100%" cellspacing="0" cellpadding="0" align="left">
                <tr style="background-color: rgb(0, 39, 118);" class="dataTh">
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Interview &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Candidate &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <!--Hiring level is removed From Interview
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Level &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    -->
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Date and Time &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Round &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Type &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Medium &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <th class="thBorder" style="color : rgb(255, 255, 255);">Coordinator &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    <!-- <th class="thBorder" style="color : rgb(255, 255, 255);">RMS ID &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th> -->
                    <!-- IEF is not associated with the Interview 
                    <th class="thBorder" style="color : rgb(255, 255, 255);">IEF Status &nbsp; <apex:image value="/img/leads_show_more_arrow.gif"/></th>
                    -->
                </tr>
                <apex:repeat value="{!allLst}" var="allst" id="allRepeat">
                <tr class="dataTd">
                    <td class="tdBorder"><a href="/apex/InterviewDetail?id={!allst.Id}"><apex:outputText value="{!allst.Name}"/></a></td>
                    <td class="tdBorder"><apex:outputText value="{!allst.WCT_Candidate_Name__c}"/></td>
                    <!--Hiring Level is removed from Interview
                    <td class="tdBorder"><apex:outputText value="{!allst.WCT_Hiring_Level__c}"/></td>-->
                    <td class="tdBorder"><apex:outputText value="{!allst.WCT_Start_Date_Time__c}"/></td>
                    <td class="tdBorder"><apex:outputText value="{!allst.WCT_Start_Date_Time__c}"/></td>
                    <td class="tdBorder"><apex:outputText value="{!allst.WCT_Interview_Type__c}"/></td>
                    <td class="tdBorder"><apex:outputText value="{!allst.WCT_Start_Date_Time__c}"/></td>
                    <td class="tdBorder"><a href="mailto:{!allst.WCT_Requisition_RC_Email__c}?Subject=Hi" target="_top"><apex:outputText value="{!allst.WCT_Requisition_RC_Email__c}"/></a></td>
                    <!-- <td class="tdBorder"><apex:outputText value="{!allst.WCT_Contact__r.WCT_Taleo_Id__c}"/></td> -->
                    <!--
                    <td class="tdBorder">
                        <apex:image value="/img/staleValue.gif" width="15" height="15" rendered="{!allst.WCT_IEF_Submission_Status__c = 'Pending'}" />
                        <apex:image value="/img/func_icons/util/checkmark16.gif" width="15" height="15" rendered="{!allst.WCT_IEF_Submission_Status__c = 'Submitted'}" />
                        <apex:image value="/img/func_icons/remove12.gif" width="15" height="15" rendered="{!allst.WCT_IEF_Submission_Status__c = 'Final'}" />
                        &nbsp;
                        <apex:outputText value="{!allst.WCT_IEF_Submission_Status__c}"/>
                    </td>
                    -->
                </tr>
                </apex:repeat>
            </table>    
        </div>
    </apex:form>

</body>
<script>
function showHideDiv(divName) {

var divArray = new Array();
divArray [0] = "todaysInterviews";
divArray [1] = "upcomingInterviews";
divArray [2] = "pastInterviews";
divArray [3] = "allInterviews";

    for (var i=0;i<divArray.length;i++)
    { 
        document.getElementById(divArray[i]).style.display = "none";
        document.getElementById(divArray[i]+'TH').style.backgroundColor = "rgb(0, 39, 118)";
        document.getElementById('thePage:mainForm:'+divArray[i]+'THCL').style.color = "white";
    }
   document.getElementById(divName).style.display = "block";
   document.getElementById(divName+'TH').style.backgroundColor = "rgb(255, 255, 255)";
   document.getElementById('thePage:mainForm:'+divName+'THCL').style.color = "rgb(148, 212, 0)";

}
</script>

</apex:page>