<apex:page showHeader="false" sidebar="false" cache="true" controller="WCT_Mob_Travel_Outside_US_FormController" action="{!updateTaskFlags}">
    <apex:include pageName="SitesTodHeader"/>
        <script type="text/javascript">
         /* Height Adjust */
         var minheight;
         $( window ).ready(function() {
                minheight= $("#content-wrapper").height()+40;
                if($(window).height() > minheight )
                {
                    $( "#content-wrapper").css( "height",$(window).height()-20) ;
                }
                else
                {
                    $( "#content-wrapper").css( "height",minheight) ;
                }
          });
        $( window ).resize(function() {
            var windowHeight = $(window).height(); //retrieve current window height
            if(windowHeight > minheight )
            {
                $( "#content-wrapper").css( "height",windowHeight -20 ) ;
            }
            else
            {
                $( "#content-wrapper").css( "height",minheight) ;
            }
        });
        $(document).ready(function() {            
            var out = false;
            var bodyout = false;
            
            
            if(!{!pageError}) {
                $('html, body').animate({scrollTop: $(document).height()}, 1000);
            }
            
                       
            $("body").mouseover(function() {
                out = false;
            }).mouseout(function() {
                out = true;
            });
            $("a:not([href^='javascript:'])").click(function(e) {
                bodyout = out = true;
            });
            $(window).bind('beforeunload', function(e) {
                if ((out || bodyout)) {
                    return "You have not saved your changes. Are you sure that you want to leave this page?";
                }
            });  
            
        } ); 
        function disableButtons() {
            $("#fakeSubmit").bind("click", false);
            $(".disable").attr("disabled", true);
            $(".submitButton").click();
        }
        var isClicked = false;
        function checkDoubleSubmit(obj){
            if (isClicked) {
                return false;
            }else {
                isClicked = true;
                $(".disable").attr("disabled", true);
                $(".js-cancel-button").bind("click", false);
                //obj.disabled=true;//= 'btnDisabled';//only shows the button as disabled.
                CallApexMethod();
            }
        }
        
        </script>
        <style>
        /*CSS Override*/
        legend {
            padding: 2px;
        }

        .instrow {
            line-height: 20px;
        }

        .blueArea{
            color: #2795b6;
            padding: 5px;
        }

        .greyArea{
            color: #C0C0C0;
        }

        .mousePointer{
            cursor: pointer;
        }
        .dateFormat{
            padding:0 2px;
            display:none;
        }
        hr{
            margin: 3px 0;
        }
        .mousePointer{
            cursor: pointer;
        }
        #helpBlock{
            display: none;
            background-color: #EEEEEE;
            border: 1px solid #000000;
            left: 25px;
            padding: 5px;
            position: absolute;
            top: 100px;
            z-index: 99999;
            width:500px;
        }        
        </style>
    <apex:form >
    <apex:outputText rendered="{!display}"> 
       
     <!--   <div id="WebToCaseForm"  class="popup-container popup-large">        
            <header class="title">Your Task associated with "{!taskSubject}" has been successfully completed.</header>
            
        </div>   -->
        
        <div id="WebToCaseForm" class="popup-container popup-large" style="font-family:'Arial','Helvetica',sans-serif;font-size:17px;color:#000;">  
            <!-- Page Error Message Block -->
                <apex:outputText rendered="{!pageError}">
                    <article class="large-12 columns">
                        <h4 class="subheader title" style="font-family:arial;font-size:15px;color:red;"><b>Note</b></h4>
                    </article>
                    <div id="pageError" class="large-12 form">
                        <div class="large-12 columns" style="font-family:arial;font-size:15px;color:red;">
                            <label></label>
                            {!pageErrorMessage}
                            {!supportAreaErrorMesssage}
                        </div>
                    </div>
                    <hr/>
                </apex:outputText>      
           
           <apex:outputField value="{!taskRefRecord.Form_Verbiage__c}"/>
           <apex:inputCheckbox value="{!Yes}"/> Yes<br/>
           <apex:inputCheckbox value="{!No}"/> No
           
           
            <footer>
                <div class="buttons">
                    <apex:commandButton value="Submit" onclick="checkDoubleSubmit(this);" styleClass="disable js-save-button button green submitButton" style="display:show;"/>
                    <apex:actionFunction name="CallApexMethod" action="{!save}" />
                    <a class="js-cancel-button" href="javascript:var win = window.open('', '_self');win.close();">Cancel</a>
                </div>
            </footer>

        </div>
 
    </apex:outputText> 
    </apex:form>
</apex:page>