<apex:page showHeader="false" sidebar="false" cache="false" controller="WCT_Upsert_PassportInfoController">
    <apex:include pageName="SitesTodHeader"/>
        <apex:stylesheet value="{!URLFOR($Resource.JquerySites, '/Jquery/ui/jquery-ui.css')}"/>
    
        <script type="text/javascript">
          /* Height Adjust */
         var minheight;
         $( window ).ready(function() {
                minheight= $("#content-wrapper").height()+40;
                console.log(minheight); 
                if($(window).height() > minheight )
                {
                    console.log("Yes it is going");
                    $( "#content-wrapper").css( "height",$(window).height()-20) ;
                    //$( "#content-wrapper").css( "height",minheight) ;
                }
                else
                {
                    $( "#content-wrapper").css( "height",minheight) ;
                }
          });
        $( window ).resize(function() {
            var windowHeight = $(window).height(); //retrieve current window height
           // windowHeight = windowHeight +20;
            console.log(windowHeight ); 
            console.log(minheight);
            if(windowHeight > minheight )
            {
                $( "#content-wrapper").css( "height",windowHeight -20 ) ;
                //$( "#content-wrapper").css( "height",minheight) ;
                console.log("Yes it is"); 
            }
            else
            {
                $( "#content-wrapper").css( "height",minheight) ;
            }
        });
        </script>
        <style>
        /*CSS Override*/
        legend {
            padding: 2px;
        }

        .instrow {
            line-height: 20px;
        }

        .blueArea{
            color: #2795b6;
            padding: 5px;
        }

        .greyArea{
            color: #C0C0C0;
        }

        .mousePointer{
            cursor: pointer;
        }
        .dateFormat{
            padding:0 2px;
            display:none;
        }
        hr{
            margin: 3px 0;
        }
        </style>
    
    <apex:outputText rendered="{!(!invalidEmployee)}">
        <div id="content-wrapper" class="popup-container popup-large">
            <header class="title" style="{!ssMsgStyle}">Thank You for Submitting Information</header>
            
                <!--  Header and Close Icon-->   
                
                 <!-- Page Error Message Block -->
                <apex:outputText rendered="{!pageError}">
                    <article class="large-12 columns">
                        <h4 class="subheader title" style="color:red;"><b>Error</b></h4>
                    </article>
                    <div id="pageError" class="large-12 form">
                        <div class="large-12 columns" style="color:red;">
                            <label></label>
                            {!pageErrorMessage}
                            {!supportAreaErrorMesssage}
                        </div>
                    </div>
                    <hr/>
                </apex:outputText>
                
                    <!-- Form Fields -->
                    
                <div class="popup-content form large-12">
                    <div class="row margin">
                        <div class="small-12 columns">
                            <h4 class="subheader title">Employee Information</h4>
                            <hr/>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="small-6 columns">
                            <legend>Name</legend>
                            <b>{!loggedInContact.Name}</b>
                        </div>
                        <div class="small-6 columns">
                            <legend>Email</legend>
                            <b>{!loggedInContact.Email}</b>
                        </div>
                    </div>
                </div>
                <div class="popup-content form large-12">
                    <div class="row margin">
                        <div class="small-12 columns">
                            <h4 class="subheader title">Paasport Information</h4>
                            <hr/>
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="small-6 columns">
                            <legend>First Name (as stated on Passport):</legend>
                            {!employeeFirstName}
                        </div>
                        <div class="small-6 columns">
                            <legend>Last Name (as stated on Passport):</legend>
                            {!employeeLastName}
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="small-6 columns">
                            <legend>Middle Name (as stated on Passport):</legend>
                            {!employeeMiddleName}
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="small-6 columns">
                            <legend>Passport Number:</legend>
                            {!passportNo}
                        </div>
                        <div class="small-6 columns">
                            <legend>Citizenship:</legend>
                            {!citizenship}
                        </div>
                    </div>
                                                            
                    <div class="row margin">
                        <div class="small-6 columns">
                            <legend>Passport Issuance Country:</legend>
                            {!passportCountry}
                        </div>
                        <div class="small-6 columns">
                            <legend>Passport Issuance City:</legend>
                            {!passportCity}
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="small-6 columns">
                            <legend>Passport Issuance Date:</legend>
                            {!passportIssuanceDate}
                        </div>
                        <div class="small-6 columns">
                            <legend>Passport Expiration Date:</legend>
                            {!passportExpirationDate}
                        </div>
                    </div>
                </div>
                
                <apex:outputPanel rendered="{!IF(listAttachments.size > 0,true,false)}">
                    <div class="popup-content form large-12">
                        <div class="row margin">
                            <div class="small-12 columns">
                                <h4 class="subheader title">Attachments</h4>
                                <hr/>
                            </div>
                        </div>
                        <div class="row margin">
                            <table  id="myTable" class="tablesorter table">
                                <thead>
                                    <tr>
                                        <th class="small-4 columns">
                                            <span>
                                                <span class="">Name</span>
                                            </span>
                                        </th>
                                        <th class="small-4 columns">
                                            <span>
                                                <span class="">Size</span>
                                            </span>
                                        </th>
                                        <th class="small-4 columns">
                                            <span>
                                                <span class="">Date/Time Created</span>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:outputPanel >
                                        <apex:repeat value="{!listAttachments}" var="att">
                                            <tr>
                                                <td class="small-4 columns">{!att.Name}</td>
                                                <td class="small-4 columns">{!mapAttachmentSize[att.id]}</td>
                                                <td class="small-4 columns">
                                                    <apex:outputField value="{!att.createdDate}"/>
                                                </td>
                                            </tr>
                                        </apex:repeat>
                                    </apex:outputPanel>
                                </tbody>
                            </table>                    
                        </div>
                    </div>
                </apex:outputPanel>
        </div>
    </apex:outputText>
</apex:page>