<apex:page showHeader="false" sidebar="false" cache="true" controller="WCT_Mob_Visa_Extn_FormController">
    <apex:include pageName="SitesTodHeader"/>
    <apex:stylesheet value="{!URLFOR($Resource.JquerySites, '/Jquery/ui/jquery-ui.css')}"/>
    
     <script type="text/javascript">
        /* Height Adjust */
         var minheight;
         $( window ).ready(function() {
                minheight= $("#content-wrapper").height()+40;
                if($(window).height() > minheight )
                {
                    $( "#content-wrapper").css( "height",$(window).height()-20) ;
                }
                else
                {
                    $( "#content-wrapper").css( "height",minheight) ;
                }
          });
        $( window ).resize(function() {
            var windowHeight = $(window).height(); //retrieve current window height
            if(windowHeight > minheight )
            {
                $( "#content-wrapper").css( "height",windowHeight -20 ) ;
            }
            else
            {
                $( "#content-wrapper").css( "height",minheight) ;
            }
        });
    </script>
    
    <apex:outputText >
            <div id="content-wrapper" class="popup-container popup-large">
                 <header class="title">Your Task associated with "{!taskSubject}" has been successfully completed.</header>
          
                
                 <!-- Page Error Message Block -->
                 <apex:outputText rendered="{!pageError}">
                        <article class="large-12 columns">
                            <h4 class="subheader title" style="font-family:arial;font-size:17px;color:red;"><b>Error</b></h4>
                        </article>
                        <div id="pageError" class="large-12 form">
                            <div class="large-12 columns" style="font-family:arial;font-size:17px;color:red;">
                                <label></label>
                                {!pageErrorMessage}
                                {!supportAreaErrorMesssage}
                            </div>
                        </div>
                        <hr/>
                  </apex:outputText>
                 
             </div>
    </apex:outputText>
</apex:page>