<apex:page standardController="WCT_Interview_Junction__c" showHeader="false" sidebar="false" standardStylesheets="false" extensions="WCT_InterviwerDetailExt">
<head>
    <title>Deloitte SF E</title>
    <link rel="shortcut icon" href="/resource/1388209558000/InterviewPortalStyle/css/images/favicon.ico" />
    <apex:stylesheet value="{!URLFOR($Resource.InterviewPortalStyle, '/css/style.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.InterviewPortalStyle, '/js/jquery-1.10.2.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.InterviewPortalStyle, 'js/jquery.tablesorter.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.InterviewPortalStyle, '/js/modernizr.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.InterviewPortalStyle, '/js/functions.js')}"/>
    <style>
    .custPopup {
        background-color: white;
        border-width: 2px;
        border-style: solid;
        z-index: 2;
        padding: 10px;
        position: absolute;
        left: 50%;
        top: 40%;
        width: 500px;
        margin-left: -120px;
    }

    .popupBackground {
        background-color: black;
        opacity: 0.20;
        filter: alpha(opacity =   20);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .inputBtn{
        font-weight: bold;
        text-align: center;
        width: 95px;
        height: 30px;
        display: inline-block;
        background: #A7C3D8;
        color: #323C2B;
        font-size: 13px;
        line-height: 30px;
    }
    .input[type="file"]{
        background: #A7C3D8;
    }
    #input[type="file"]{
        background: #A7C3D8;
    }
    .thHeader {
        background: #fff;
        border: 0;
        cursor: pointer;
        font-weight: bold;
        padding-left: 20px;
        height: 25px;
        min-height: 33px;
        padding: 0 15px;
        line-height: 25px;
        background: #676a76;
        color: #fff;
        border-left: solid 1px #838692;
        border-top: solid 4px #676a76;
        border-bottom: solid 4px #676a76;
    }
    .box-headline { font-size: 18px; line-height: 33px; color: #fff; font-weight: normal; background: #002776; padding: 0 10px; position: relative; margin: -1px; }
    .box-headline.layout-2 { background: url(/resource/1388209558000/InterviewPortalStyle/css/images/arrow-d.png) 9px center no-repeat #002776; padding: 0 30px; cursor: pointer; }
    .box-headline.expanded { background: url(/resource/1388209558000/InterviewPortalStyle/css/images/arrow-u.png) 9px center no-repeat #002776; }    
    </style>   
    <script>
        var j$ = jQuery.noConflict();
                function uploadFile(){
                var ChooseButton = j$('input[id$=uploadFile]');
                ChooseButton.trigger('click');
                }
                
      
    </script>
</head>
<body>
    <div class="wrapper">
            <c:WCT_InterviewPortalHeader />
        <apex:outputPanel id="mainPanel">
            <section class="main">
                <div class="box">
                    <h2 class="box-headline">Submit Interview Evaluation Form</h2>
                    <div class="box-content">
                        <div class="options">
<!-- <p><span><u>Complete Online!</u> <em> (Preferred)</em></span> <a href="http://www.clicktools.com/survey?iv={!WCT_Interview_Junction__c.WCT_Interview__r.WCT_Clicktools_Form__r.WCT_ClicktoolsID__c}&q1={!WCT_Interview_Junction__c.Id}&q2={!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Contact__c}&q3={!WCT_Interview_Junction__c.WCT_Interviewer__r.FirstName} {!WCT_Interview_Junction__c.WCT_Interviewer__r.LastName}&q4={!WCT_Interview_Junction__c.WCT_Interviewer_Email__c}&q5={!WCT_Interview_Junction__c.WCT_Interviewer_Level__c}&q6={!WCT_Interview_Junction__c.WCT_Candidate_Name__c}" class="btn" target="_blank">Submit-{!WCT_Interview_Junction__c.Id}</a></p> -->                            
                            <p><span><u>Complete Online!</u> <em> (Preferred)</em></span><a href="{!WCT_Interview_Junction__c.WCT_IEF_URL_Base__c}" style="width: 92px;" class="btn" target="_blank" width="130px">                        
                           {!label}</a></p>

                            
                        </div>
                        <div class="options">
                            <!--<p class="highlight-blue"><span>Issues with IEF Link or Need to complete form offline?</span></p>-->
                            <p><span><u>Complete Offline!</u> <em> (Use in case of issues with online form)</em></span></p>
                            <p><span>Download &amp; Complete Offline - Word Version of IEF</span>&nbsp;<apex:outputLink value="{!WCT_Interview_Junction__c.WCT_Interview__r.WCT_Clicktools_Form__r.WCT_Blank_Document_URL__c}" styleClass="btn" rendered="{!Not(IsNull(WCT_Interview_Junction__c.WCT_Interview__r.WCT_Clicktools_Form__r.WCT_Blank_Document_URL__c))}">Download</apex:outputLink> <!--<a href="{!WCT_Interview_Junction__c.WCT_Interview__r.WCT_Blank_Document_URL__c}" class="btn">Download</a>--></p>
                            <p>
                            <apex:form >
                                <span style="font-size: 15px;line-height: 18px;font-weight: bold;">Upload Offline Form</span>
                                <a href="#" class="btn" onclick="uploadFile();">Upload File</a>
                                    <apex:commandbutton id="uploadFile" styleclass="btn" value="Upload File" action="{!setAttachmentSection}" style="display:none;"/>
                                    <apex:outputPanel id="tstpopup1" rendered="{!attachmentSection}">
                                    <apex:outputPanel id="backPanel1" styleClass="popupBackground" layout="block"  />
                                        <apex:outputPanel styleClass="custPopup" layout="block">
                
                                        <apex:pageBlock >
                                            Select file  <apex:inputFile value="{!contentFile}" filename="{!nameFile}" id="nameFile" /><br />
                                                <apex:commandbutton styleclass="btn" action="{!ReadFile}" value="Upload" />
                                                <apex:commandButton styleclass="btn" value="Cancel" action="{!cancelAttachment}" />
                                        </apex:pageBlock>
                
                                       </apex:outputPanel>
                                   </apex:outputPanel>
                                   <!--
                                    <a href="#" onclick="uploadFile();" class="btn">Choose File</a>&nbsp;
                                    <a href="#" onclick="uploadBtn();" class="btn">Upload File</a>
                                    <apex:inputFile value="{!contentFile}" filename="{!nameFile}" id="nameFile" style="display:none;"/>
                                    <apex:commandbutton action="{!ReadFile}" value="Upload File" id="uploadButton" styleclass="btn" style="display:none;"/>-->
                            </apex:form>
                            </p>
                        </div>
                    </div>
                </div><!-- /.box -->
                <div class="box">
                    <h2 class="box-headline layout-2">Interview Information</h2>
                    <div class="box-content clearfix">
                        <div class="box-section">
                            <div class="row clearfix">
                                <label for="int-number">Interview Number </label>
                                <div class="field field-30">
                                    <input type="text" name="name" value="{!WCT_Interview_Junction__c.WCT_Interview__r.Name}" id="name" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="name">Candidate Name</label>
                                <div class="field field-30">
                                    <input type="text" name="name" value="{!WCT_Interview_Junction__c.WCT_Candidate_Name__c}" id="name" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="int-medium">Interview Medium</label>
                                <div class="field field-30">
                                    <input type="text" name="int-medium" value="{!WCT_Interview_Junction__c.WCT_Interview_Medium__c}" id="int-medium" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="location-details">Interview Location Details</label>
                                <div class="field field-30">
                                    <input type="text" name="location-details" value="{!WCT_Interview_Junction__c.WCT_Location_Details__c}" id="location-details" readonly="true" />
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="int-type">Interview Type</label>
                                <div class="field field-30">
                                    <input type="text" name="int-type" value="{!WCT_Interview_Junction__c.WCT_Interview_Type__c}" id="int-type" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="case-role">Case Role</label>
                                <div class="field field-30">
                                    <input type="text" name="case-role" value="{!WCT_Interview_Junction__c.WCT_Case_Type__c}" id="case-role" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="case-name">Case Name</label>
                                <div class="field field-30">
                                    <input type="text" name="case-name" value="{!WCT_Interview_Junction__c.WCT_Case_Name__c}" id="case-name" readonly="true"/>
                                </div>
                            </div>
                            <!--<div class="row clearfix">
                                <label>Download Meeting Invite</label>
                                <div class="download-wrap field-30">
                                    <apex:outputpanel rendered="{!InvtEventId != null}">
                                        <a href="/servlet/servlet.OutlookEvent?rnd=1384531296086&id={!InvtEventId}"><i class="ico-download"></i></a>
                                    </apex:outputpanel> 
                                    <apex:outputpanel rendered="{!InvtEventId == null}">
                                        <a href="#"><i class="ico-download"></i></a>
                                    </apex:outputpanel> 
                                </div>
                            </div>-->
                        </div>
                        <div class="box-section">
                            <div class="row clearfix">
                                <label for="int-round">Interview Round</label>
                                <div class="field field-30">
                                    <input type="text" name="int-round" value="{!WCT_Interview_Junction__c.WCT_Interview__r.WCT_Interview_Round__c}" id="int-round" readonly="true" />
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="int-date">Interview Date</label>
                                <div class="field field-30">
                                    <input type="text" name="int-date" value="{!IntvDate}" id="int-date" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="int-start">Interview Start Time</label>
                                <div class="field field-30">
                                    <input type="text" name="int-start" value="{!IntvStrTime}" id="int-start" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="int-end">Interview End Time</label>
                                <div class="field field-30">
                                    <input type="text" name="int-end" value="{!IntvEndTime}" id="int-end" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="submitted-date">IEF Submitted Date</label>
                                <div class="field field-30">
                                    <input type="text" name="submitted-date" value="{!IntvSubmittedDate}" id="submitted-date" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="submitted-status">IEF Submission Status</label>
                                <div class="field field-30">
                                    <input type="text" name="submitted-status" value="{!WCT_Interview_Junction__c.WCT_IEF_Submission_Status__c}" id="submitted-status" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="sample-question">IEF Sample Questions URL</label>
                                <div class="field field-30">
                                    <div style="display: block;font-size: 13px;line-height: 15px;color: #4c4c4c;width: 100%;border: 0;background: #fff;font-weight: normal;padding: 4px 0 5px;">
                                        <a href="{!WCT_Interview_Junction__c.WCT_Interview__r.WCT_Clicktools_Form__r.WCT_Sample_Questions_URL__c}">Sample Questions</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="recruiter">Recruiter</label>
                                <div class="field field-30">
                                    <input type="text" name="recruiter" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Recruiter__r.Name}" id="recruiter" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="recruiter-coordinator">Recruiting Coordinator
                                    <a href="mailto:{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Recruiting_Coordinator__r.Email}" target="_top">
                                        <apex:image value="/img/func_icons/util/mailCloseEnv16.gif" width="25" height="25" style="vertical-align:bottom;" rendered="{!Not(IsNull(WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Recruiting_Coordinator__r.Email))}" />
                                    </a>
                                
                                </label>
                                <div class="field field-30">
                                    <input type="text" name="recruiter-coordinator" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Recruiting_Coordinator__r.name}" id="recruiter-coordinator" readonly="true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box -->
                <div class="box">
                    <h2 class="box-headline layout-2">Requisition Information</h2>
                    <div class="box-content clearfix">
                        <div class="box-section">
                            <div class="row clearfix">
                                <label for="job-type">Job Type</label>
                                <div class="field field-30">
                                    <input type="text" name="job-type" value="{!WCT_Interview_Junction__c.WCT_Job_Type__c}" id="job-type" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="fss">FSS</label>
                                <div class="field field-30">
                                    <input type="text" name="fss" value="{!WCT_Interview_Junction__c.WCT_Interview__r.WCT_FSS__c}" id="fss" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="serv-area">Service Area</label>
                                <div class="field field-30">
                                    <input type="text" name="serv-area" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Service_Area__c}" id="serv-area" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="serv-line">Service Line</label>
                                <div class="field field-30">
                                    <input type="text" name="serv-line" value="{!WCT_Interview_Junction__c.WCT_Service_Line__c}" id="serv-line" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="capability">Capability</label>
                                <div class="field field-30">
                                    <input type="text" name="capability" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Capability__c}" id="capability" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="industry">Industry</label>
                                <div class="field field-30">
                                    <input type="text" name="industry" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Requisition_Industry__c}" id="industry" readonly="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="box-section">
                            <div class="row clearfix">
                                <label for="region">Region</label>
                                <div class="field field-30">
                                    <input type="text" name="region" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Region__c}" id="region" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="office">Office</label>
                                <div class="field field-30">
                                    <input type="text" name="office" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_Primary_Location__c}" id="office" readonly="true"/>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <label for="us-program">US Program</label>
                                <div class="field field-30">
                                    <input type="text" name="us-program" value="{!WCT_Interview_Junction__c.WCT_Candidate_Tracker__r.WCT_Requisition__r.WCT_US_Program__c}" id="us-program" readonly="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box -->
                <div class="box">
                    <h2 class="box-headline layout-2">Candidate Documents</h2>
                    <div class="box-content">
                        <div class="doc-chart">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="thHeader" width="20%">File Name</th>
                                        <th class="thHeader" width="20%">File Size</th>
                                        <th class="thHeader" width="20%">Date Submitted</th>
                                        <th class="thHeader" width="20%">Description </th>
                                        <th class="thHeader" width="20%">Author</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!AttachmentsCandidate}" var="att">
                                    <tr>
                                        <td>{!att.Name} [<a href="/servlet/servlet.FileDownload?file={!att.Id}" target="_blank">View</a>]</td>
                                        <td>{!att.BodyLength} kb</td>
                                        <td><apex:outputText value="{0,date,MM'/'dd'/'yyyy hh:mm a}"><apex:param value="{!att.LastModifiedDate}"/></apex:outputText></td>
                                        <td>{!att.Description}</td>
                                        <td>{!att.CreatedBy.Name}</td>
                                    </tr>
                                    </apex:repeat>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box -->
                <div class="box">
                    <h2 class="box-headline layout-2">IEFs From Previous Interviews</h2>
                    <div class="box-content">
                        <div class="doc-chart">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="thHeader" width="20%">File Name</th>
                                        <th class="thHeader" width="20%">File Size</th>
                                        <th class="thHeader" width="20%">Date Submitted</th>
                                        <th class="thHeader" width="20%">Description </th>
                                        <th class="thHeader" width="20%">Author</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!AttachmentIEFs}" var="att">
                                    <tr>
                                        <td>{!att.Name} [<a href="/servlet/servlet.FileDownload?file={!att.Id}" target="_blank">View</a>]</td>
                                        <td>{!att.BodyLength} kb</td>
                                        <td><apex:outputText value="{0,date,MM'/'dd'/'yyyy hh:mm a}"><apex:param value="{!att.LastModifiedDate}"/></apex:outputText></td>
                                        <td>{!att.Description}</td>
                                        <td>{!att.CreatedBy.Name}</td>
                                    </tr>
                                    </apex:repeat>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box -->
                <div class="box">
                    <h2 class="box-headline layout-2">Candidate Notes</h2>
                    <div class="box-content">
                        <div class="doc-chart">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="thHeader" width="15%">Notes Name</th>
                                        <th class="thHeader" width="55%">Body</th>
                                        <th class="thHeader" width="15%">Date Submitted</th>
                                        <th class="thHeader" width="15%">Author</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!NotesCandidate}" var="nlst" id="CandidateNotess">
                                        <tr>
                                            <td>{!nlst.Title}</td>
                                            <td>{!nlst.Body}</td>
                                            <td><apex:outputText value="{0,date,MM'/'dd'/'yyyy hh:mm a}"><apex:param value="{!nlst.LastModifiedDate}"/></apex:outputText></td>
                                            <td>{!nlst.CreatedBy.Name}</td>
                                        </tr>
                                    </apex:repeat>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box -->
            </section><!-- /.main -->
        </apex:outputPanel>
    </div><!-- /.wrapper -->
</body>
</apex:page>