<apex:page controller="WCT_SaveTheDateController" >
<apex:form >

    <apex:pageBlock rendered="{!noInvitee }">
        <apex:pageBlockButtons >
        <apex:commandButton value="Cancel" action="{!cancel}"/>
        </apex:pageBlockButtons>
        <apex:pageMessage severity="Info">Please select atleast one Invitee of User Type.Please click cancel to go to event page</apex:pageMessage>
    </apex:pageBlock>
    <apex:pageBlock rendered="{!!noInvitee }">
        <apex:pageBlockButtons >
        <apex:commandButton value="Send Invite" action="{!sendInvite}"/>
        <apex:commandButton value="Cancel" action="{!cancel}"/>
        </apex:pageBlockButtons> 
            
            <apex:pageBlockSection columns="2">
                <apex:pageBlockSectionItem >
                   <apex:outputLabel value="Event Subject"/> 
                   <apex:outputText value="{!emailsubject}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                   <apex:outputLabel value="Event Location"/> 
                   <apex:outputText value="{!evLocation}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                   <apex:outputLabel value="Event Start Date"/> 
                   <apex:outputText value="{!EventStartTime}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                   <apex:outputLabel value="Event End Date"/> 
                   <apex:outputText value="{!EventEndTime }"/>
                </apex:pageBlockSectionItem>
           </apex:pageBlockSection>  <br/><br/> 
            <apex:pageBlockSection columns="1">
            <apex:pageBlockSectionItem >
               
                    <apex:outputLabel value="Body"/> 
                    <apex:outputPanel >
                    <div >
                        <apex:inputTextArea richText="true"  rows="20" cols="50" value="{!BodyFromPage}" id="EmailBody" />
                   </div>
                       
                   </apex:outputPanel>
                    
           </apex:pageBlockSectionItem>
           </apex:pageBlockSection>
    </apex:pageBlock>

</apex:form>
  
</apex:page>