<apex:page showHeader="false" sidebar="false" cache="true" controller="WCT_L2_with_EAD_FormController">
    <apex:include pageName="SitesTodHeader"/>
    <apex:stylesheet value="{!URLFOR($Resource.JquerySites, '/Jquery/ui/jquery-ui.css')}"/>
    <script type="text/javascript">
         /* Height Adjust */
         var minheight;
         $( window ).ready(function() {
                minheight= $("#content-wrapper").height()+40;

                if($(window).height() > minheight )
                {

                    $( "#content-wrapper").css( "height",$(window).height()-20) ;

                }
                else
                {
                    $( "#content-wrapper").css( "height",minheight) ;
                }
          });
        $( window ).resize(function() {
            var windowHeight = $(window).height(); //retrieve current window height



            if(windowHeight > minheight )
            {
                $( "#content-wrapper").css( "height",windowHeight -20 ) ;


            }
            else
            {
                $( "#content-wrapper").css( "height",minheight) ;
            }
        });
         /*date picker code */
         var j$ = jQuery.noConflict();

        j$(document).ready(function(){
            initAllDatePickers();


        });

        /*Initializes all Date Pickers and Sets Validation Rules for Start and End Date*/
        var initAllDatePickers = function(){
            j$('[id$=-Date]').datepicker({
                showOn: "button",
                buttonImage: "{!$Resource.CalendarIcon}",
                buttonImageOnly: true,
                onClose : function(dateSelected){
                    var className = j$(this).attr('class').split('-');
                    if(className[0]){
                        if(className[0] == 'S'){
                            j$('.E-' + className[1] + '-').datepicker( "option", "minDate", dateSelected );
                        }
                        if(className[0] == 'E'){
                            j$('.S-' + className[1] + '-').datepicker( "option", "maxDate", dateSelected );
                        }
                    }
                }
            });
        }      
        $(document).ready(function() {            
            var out = false;
            var bodyout = false;
        
            if(!{!pageError} && ({!UploadedDocumentList.size} > 0)) {
                $('html, body').animate({scrollTop: $(document).height()}, 1000);
            }
            
            $("body").mouseover(function() {
                out = false;
            }).mouseout(function() {
                out = true;
            });
            $("a:not([href^='javascript:'])").click(function(e) {
                bodyout = out = true;
            });
            $(window).bind('beforeunload', function(e) {
                if ((out || bodyout)) {
                    return "You have not saved your changes. Are you sure that you want to leave this page?";
                }
            });  
        } ); 
        function startAttachmentUpload() {
            startLoading();
            $(".attachModal").show();
            $(".disable").attr("disabled", true);
            $(".js-cancel-button").bind("click", false);
        }
        function stopAttachmentUpload() {
            $(".attachModal").hide();
            endLoading();
            $(".disable").removeAttr("disabled");
             //$(".disable").attr("disabled",false);
            $(".js-cancel-button").unbind("click", false);
        }        
        function hideModal() {
            $(".attachModal").hide();
        }
        function HandleFileButtonClick() {
            $(".fileInputHidden").click();
            $(".txtFakeText").value = $(".fileInputHidden").value;
        }        
        function setFileName() {
            $(".txtFakeText").val($(".fileInputHidden").val());
            $('.attachError').hide();
            $('.attachError').empty();                    
        }

        /* This function is used to invoke Command Button for Upload Button*/
        function uploadDocument() {

            $(".attachModal").hide();

            /* This is a work around for IE*/
            $(".uploadButton").click();
            $(".uploadButton").click();
            $(".uploadButton").click();
            $(".button").attr("disabled", true);
            $(".js-cancel-button").bind("click", false);
        }
        function flipCheckbox(c) {            
            var isChecked = $('.' + c).is(':checked');
            if(isChecked) {
                $('.' + c).removeAttr('checked');
            }
            else {
                $('.' + c).attr('checked','checked');
            }
        }
        
        function unselect(id){
            $('.' + id).removeAttr('checked');
            $('#' + id).hide();
        }
        function updateInstructions() {
            $('.instructionsFooter').hide();
            $('.instructionsDiv').empty();
            if($('.caseCategory').val() in instructionsArray) {
                $('.instructionsDiv').append("<label>Instructions</label>");
                $('.instructionsDiv').append(instructionsArray[$('.caseCategory').val()]);
                $(".instructionsDiv li").addClass("instrow");
                $('.instructionsFooter').show();
            }        
        }
        function disableButtons() {
            $("#fakeSubmit").bind("click", false);
            $(".disable").attr("disabled", true);
            $(".submitButton").click();
        }
        var isClicked = false;
        function checkDoubleSubmit(obj){
            if (isClicked) {
                return false;
            }else {
                isClicked = true;
                $(".disable").attr("disabled", true);
                $(".js-cancel-button").bind("click", false);
                //obj.disabled=true;//= 'btnDisabled';//only shows the button as disabled.
                CallApexMethod();
            }
        }

    </script>
    <style>
        /*CSS Override*/
        legend {
            padding: 2px;
        }

        .instrow {
            line-height: 20px;
        }

        .blueArea{
            color: #2795b6;
            padding: 5px;
        }

        .greyArea{
            color: #C0C0C0;
        }

        .mousePointer{
            cursor: pointer;
        }
        .dateFormat{
            padding:0 2px;
            display:none;
        }
        hr{
            margin: 3px 0;
        }

                #helpBlock{
            display: none;
            background-color: #EEEEEE;
            border: 1px solid #000000;
            left: 20px;
            padding: 5px;
            position: absolute;
            top: 30px;
            z-index: 99999;
            width:500px;
        }
    </style>
    
    <apex:outputText rendered="{!(!invalidEmployee)}">
        <apex:form >
            <div id="content-wrapper" class="popup-container popup-large">
            
                <!--  Header and Close Icon-->
                <header class="title" style="padding-left:12px;">EAD Information Form</header>
                
                 <!-- Page Error Message Block -->
                 <apex:outputText rendered="{!pageError}">
                        <article class="large-12 columns">
                            <h4 class="subheader title" style="color:red;"><b>Error</b></h4>
                        </article>
                        <div id="pageError" class="large-12 form">
                            <div class="large-12 columns" style="color:red;">
                                <label></label>
                                {!pageErrorMessage}
                                {!supportAreaErrorMesssage}
                            </div>
                        </div>
                        <hr/>
                    </apex:outputText>
                
                    <!-- Form Fields -->
                    
                <div class="popup-content form large-12">
                    <div class="row margin">
                        <div class="small-6 columns">
                            <legend>Name</legend>
                            <b>&nbsp;{!loggedInContact.Name}</b>
                        </div>
                        <div class="small-6 columns">
                            <legend>Email</legend>
                            <b>&nbsp;{!loggedInContact.Email}</b>
                        </div>
                      </div>
                       <div class="row margin">
                          <div class="small-12 columns">
                              <legend>Mobile Phone</legend>
                          <b>&nbsp;{!loggedInContact.Phone}</b>
                        </div>
                    </div>
                  <!--  <header class="title" style="padding-left:12px;">Approved Visa Information</header>-->
                    <div class="popup-content form large-12">
                    <apex:outputPanel rendered="true">

                    <div class="row margin">
                        <div class="small-12 columns">
                            <h4 class="subheader title">Immigration Information</h4>
                            <span style="float:right;line-height: 1.6;vertical-align: top;" id="helpBlockTrigger">
                                <span class="icon info-icon"> </span> 
                                Instructions
                            </span>
                            <hr/>
                        </div>
                    </div>

                    <div class="large-12 columns" id="helpBlock">
                        <span class="dark-icon large-2 column"> </span>
                        <div class="large-10 column margin disclosure-msg instructionsDiv">
                            <li class="instrow">Upload EAD related information, including primary and dependent visa details.</li>
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="small-6 columns">
                            <label>Visa Type:</label>
                            <b>{!ImmigrationRecord.WCT_Immigration_Status__c}</b>   
                        </div>
                        <div class="small-6 columns">
                            <label><b style="color:red;">*</b>Application Initiation Date</label>
                            <apex:inputText id="Application-Date" styleClass="S-Group1-" value="{!applicationdate}"></apex:inputText>  
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="small-12 columns">
                            <h4 class="subheader title">Employee L2 Visa Information</h4>
                            <hr/>
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="small-6 columns">
                            <label><b style="color:red;">*</b>EAD Status:</label>
                            <apex:inputField value="{!ImmigrationRecord.WCT_EAD_Status__c}"/>
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="small-6 columns">
                            <label><b style="color:red;">*</b>L2 Visa Start Date:</label>
                            <apex:inputText id="L2VisaStart-Date" styleClass="S-Group2-" value="{!l2visaStartDate}"></apex:inputText>  
                        </div>
                        <div class="small-6 columns">
                            <label><b style="color:red;">*</b>EAD Valid From:</label>
                            <apex:inputText id="EadStart-Date" styleClass="S-Group4-" value="{!eadstart}"></apex:inputText>
                        </div>
                    </div>
                     <div class="small-6 columns">
                            <label><b style="color:red;">*</b>L2 Visa Expiration Date:</label>
                            <apex:inputText id="L2VisaEnd-Date" styleClass="E-Group2-" value="{!l2visaEndDate}"></apex:inputText>  
                     </div>
                     <div class="row margin">
                        <div class="small-6 columns">
                            <label><b style="color:red;">*</b>EAD Card Expires On:</label>
                            <apex:inputText id="EadEnd-Date" styleClass="E-Group4-" value="{!eadexpire}"></apex:inputText>
                        </div>
      
                    </div>


                    <div class="row margin">
                        <div class="small-12 columns">
                            <h4 class="subheader title">Primary Applicant L1 Visa Information</h4>
                            <hr/>
                        </div>
                    </div>

                    <div class="row margin">
                       
                        <div class="small-6 columns">
                            <label><b style="color:red;">*</b>L1 Visa Start Date</label>
                            <apex:inputText id="L1VisaStart-Date" styleClass="S-Group3-" value="{!l1visaStartDate}"></apex:inputText>  
                        </div>
                         <div class="small-6 columns">
                            <label><b style="color:red;">*</b>L1 Visa Expiration Date:</label>
                            <apex:inputText id="L1VisaEnd-Date" styleClass="E-Group3-" value="{!l1visaEndDate}"></apex:inputText>  
                        </div>
                    </div>

                   
                    </apex:outputPanel>

                      <div class="row margin">
                    <div class="small-12 columns">
                        <h4 class="subheader title">Attachment</h4>
                        <hr/>
                    </div>
                </div>
                    </div>
                                         
                   <div class="row margin">
                        
                        <div class="large-12 columns">
                           
                           <button type="button" class="disable button radius5 green" style="text-align:center;" onclick="startAttachmentUpload();">Add</button>
                        </div>
                    </div>
                    
                    
                                       
                    <div class="row margin" style="display:{!IF(UploadedDocumentList.size > 0, 'block', 'none')};">
                        <div class="large-12 column">
                            <apex:outputPanel >
                                <apex:repeat value="{!UploadedDocumentList}" var="att">
                                    <div id="{!att.documentId}">
                                        <apex:outputPanel rendered="{!IF(att.isSelected == true,true,false)}">
                                            <tr>
                                                <td class="large-1">
                                                    <apex:inputcheckbox value="{!att.isSelected}" styleClass="{!att.documentId}" style="display:none;"/>
                                                    <span class="icon close-icon mousePointer checked" onClick="unselect('{!att.documentId}')"></span>
                                                    <!-- 
                                                        <label style="min-height:13px;" onclick="flipCheckbox('{!att.documentId}');"/>
                                                    -->
                                                </td>
                                                <td class="large-8">
                                                    <span class="blueArea">
                                                        {!att.docName}
                                                    </span>
                                                </td>
                                                <td class="large-3">
                                                    <span class="greyArea">
                                                        {!att.size}
                                                    </span>
                                                </td>
                                            </tr>
                                        </apex:outputPanel>
                                    </div>
                                </apex:repeat>
                            </apex:outputPanel>
                        </div>
                    </div>
                </div>
                
                <footer>
                <div class="buttons" style="padding-left:11px;">
                            <div  class="large-16 form" style="color:black;text-decoration:underline;font-weight:bold;">
                            **Note: You must attach applicable documents prior to submitting this form. You will no longer have access post-submission.
                            </div>
                            <br/>
                    <apex:commandButton value="Submit" onclick="checkDoubleSubmit(this);"  styleClass="disable js-save-button button green submitButton" style="display:show;"/>
                    <apex:actionFunction name="CallApexMethod" action="{!save}" />
                    <a class="js-cancel-button" href="javascript:var win = window.open('', '_self');win.close();">Cancel</a>
                </div>
                </footer>

            </div>
                    <!-- Model Window for Upload -->
            <div class="attachModal" style="display:none;">
                <div class="modal nested-overlay-center radius5">
                    <div class="row">
                        <a class="icon close-icon large-1 column right" href="javascript:stopAttachmentUpload();"></a>
                    </div>
                    <div class="row">
                        <span class="large-12 column">
                            <h3 class="subheader">Select File (Maximum Size: 25MB)</h3>
                        </span>
                    </div>   
                    <hr/>
                 <div class="row modal-content">                  
                        <div class="large-8 form">    
                            <div class="row">
                                <div class="small-6 columns">                    
                                    <apex:inputFile value="{!doc.body}" styleclass="fileInputHidden" style="position: absolute;z-index:9999;width:355px;height:40px;opacity:0;"
                                            filename="{!doc.Name}" contentType="{!doc.ContentType}" onchange="setFileName();"/>                                  

                                    <!-- Fake field to fool the user -->
                                    <input type="text" class="txtFakeText" readonly="true" style="width:250px;"/>
                                </div>
                                <div class="small-2 columns">                    
                                    <!-- Button to invoke the click of the File Input -->
                                    <button type="button" class="button radius5 green" >Browse</button>
                                </div>
                                <div class="large-8 columns attachError" style="display:none;">
                                </div>
                            </div>
                        </div>                                            
                        <apex:commandButton value="Upload" action="{!uploadAttachment}" 
                                styleClass="button radius5 green uploadButton" style="display:none;"/>
                        <button type="button" class="button radius5 green" onclick="uploadDocument();">Upload</button>                            
                        <button type="button" class="button radius5 green" onclick="stopAttachmentUpload();">Cancel</button>                    
                    </div>
                </div>
            </div>
            <!-- End of Model Window -->
        </apex:form>
    </apex:outputText>
    <script>

        $("#helpBlockTrigger").hover(function() {
            $("#helpBlock").show();
        },
        function() {
        $('#helpBlock').hide();
        });
    </script>

</apex:page>