<apex:page showHeader="false" sidebar="false"  cache="true">
    <apex:include pageName="SitesTodHeader"/>
    <apex:stylesheet value="{!URLFOR($Resource.JquerySites, '/Jquery/ui/jquery-ui.css')}"/>
     <script type="text/javascript">
         /* Height Adjust */
         var minheight;
         $( window ).ready(function() {
                minheight= $("#content-wrapper").height()+40;
                if($(window).height() > minheight )
                {
                    $( "#MobilityForm").css( "height",$(window).height()-20) ;
                }
                else
                {
                    $( "#MobilityForm").css( "height",minheight) ;
                }
          });
        $( window ).resize(function() {
            var windowHeight = $(window).height(); //retrieve current window height
            if(windowHeight > minheight )
            {
                $( "#MobilityForm").css( "height",windowHeight -20 ) ;
            }
            else
            {
                $( "#MobilityForm").css( "height",minheight) ;
            }
        });
        </script>
    <style>
        hr{
            margin: 3px 0;
        }
    </style>

    <apex:outputText >
            <div id="MobilityForm"  class="popup-container popup-large">
                
                <header class="title" style="padding-left:12px;">
                    <p>
                        <b>
                        <font color="#002060">Thank you for Submitting</font>
                        <font color="#92D400">Mobility Request Form</font>
                        </b>
                    </p>
               </header>

                <p style="text-autospace:none">
                    <span style="font-size:10.0pt;font-family:Verdana,sans-serif;color:#002060">&nbsp;</span>
                </p>

                <p style="text-autospace:none">
                    Your request has been received and is being assigned to one of our Mobility Team Members to address within          
                    the next 3 - 5 business days. We will be reviewing cases on a regular basis and 
                    will reach out with any additional questions. 
                </p>

            </div>
    </apex:outputText>
</apex:page>