<apex:page controller="WCT_CreateCandidateTracker_Controller">
  <apex:form >
      <apex:pagemessages />
      <apex:pageBlock >
      <apex:pageBlockSection title="Candidate Tracker Creation" rendered="{!booCand}">
          <apex:inputfield value="{!candidateReq.WCT_Requisition__c}" />
      </apex:pageBlockSection>
      <apex:pageBlockSection title="Candidate Tracker Creation" rendered="{!booAdhocCand}" columns="2">
          <apex:inputfield value="{!candidateReq.WCT_Requisition__c}" />
          <apex:inputField value="{!candidateReq.WCT_Adjusted_Requisition__c}"/>
          <apex:inputfield value="{!candidateReq.WCT_Candidate_Requisition_Status__c}" />
          <apex:inputField value="{!candidateReq.WCT_Office_Preference__c}"/>
          <apex:inputField value="{!candidateReq.WCT_Interview_Step__c}"/>
          <apex:inputField value="{!candidateReq.WCT_Recommended_Level__c}"/>
          <apex:inputField value="{!candidateReq.WCT_Interview_Status__c}"/>
          
      </apex:pageBlockSection>
      <apex:pageBlockButtons >
      <apex:commandButton value="Save" action="{!saveCandTracker}" style="align:center;"/>
      <apex:commandButton value="Cancel" action="{!can}" immediate="true" />
      </apex:pageBlockButtons>
      </apex:pageBlock>
  
  </apex:form>
</apex:page>