<apex:page standardController="WCT_Leave__c" standardStylesheets="false" contentType="application/msWord#msword.doc">
<!--<apex:image value="{!$Resource.Immigration_Upload_pic9}" width="500" height="70"/>-->
<div>
<table ><tr><td style="vertical-align:top;width:680px" valign="top">

<apex:image url="https://talent--wctuat--c.cs15.content.force.com/servlet/servlet.ImageServer?id=015e0000000Gtok&oid=00De0000005PKS0" width="220" height="55"/>
</td><td  style="vertical-align:top" valign="top">
<table>
<tr><td>Deloitte Services LP</td></tr>
<tr><td>U.S. Leaves Team</td></tr>
<tr><td>4022 Sells Drive</td></tr><tr><td>Hermitage, TN 37076-2930 USA</td></tr>
<tr><td>Tel: 1-800-335-6488</td></tr>
<tr><td>Fax: (615) 884-0860</td></tr>
<tr><td>www.us.deloitte.com</td></tr>
</table>
</td></tr>
</table>

</div>
<table>

<div style="float:left" align="bottom" >
<br><apex:outputText value="{0,date,MMMM d, YYYY}">
       <apex:param value="{!WCT_Leave__c.WCT_Current_Date__c }"/>
   </apex:outputText></br>
<br/>
<table><tr>
{!WCT_Leave__c.WCT_Employee_Name__c}</tr><tr>
{!WCT_Leave__c.WCT_Home_Address__c}</tr>
</table>
<br>Dear :  {!WCT_Leave__c.WCT_Employee_Name__c}</br>

<br>On <a></a> <apex:outputText value="{0,date,MMMM d, YYYY}"><apex:param value="{!TODAY()}"/></apex:outputText>, you notified us of your need to take family/medical leave due to: {!WCT_Leave__c.WCT_Leave_Reason__c}</br>

<br>You notified us that you need this leave beginning on <a></a> 
<apex:outputText value="{0,date,MMMM d, YYYY}">
       <apex:param value="{!WCT_Leave__c.WCT_FMLA_StartDate__c}"/>
   </apex:outputText> and that you expect leave to continue until on or about <a></a>  <apex:outputText value="{0,date,MMMM d, YYYY}">
       <apex:param value="{!WCT_Leave__c.WCT_FMLA_EndDate__c}"/>
   </apex:outputText>.</br>
<br>
As explained below, you may have a right under the Family and Medical Leave Act (FMLA) for up to 12 weeks of unpaid leave in a 12-month period for the reasons listed above. Also, under FMLA, your health benefits must be maintained during any period of unpaid FMLA leave under the same conditions as if you continued to work. Upon return from FMLA leave, you will, in most instances, be restored to your original or an equivalent position with equivalent pay, benefits, and other employment terms and conditions.
</br>
<br>This is to inform you that:</br>
<br>
1.You {!if (WCT_Leave__c.WCT_FMLA_Eligibility__c = 'Eligible' ,'are eligible for leave under the FMLA.',' are not eligible for leave under the FMLA. Reason: '+WCT_Leave__c.WCT_FMLA_Reason_Not_Eligible__c) } 
</br>
<br></br>
2.The requested leave {!if (WCT_Leave__c.WCT_FMLA_Eligibility__c = 'Eligible',' will be ', ' will not be ')}counted against your {!WCT_Leave__c.FMLA_Remaining__c} remaining of FMLA leave entitlement.
<br></br>
<br>3.You will be required to furnish medical certification of a serious health 
  condition by <a> </a><apex:outputText value="{0,date,MMMM d, YYYY}">
       <apex:param value="{!WCT_Leave__c.WCT_Medical_Certification_duedate__c}"/>
   </apex:outputText>.
(must be at least 15 days after you are notified of this requirement) or we may delay the commencement of your leave until the certification is submitted.
</br>
<br>4.We {!if (WCT_Leave__c.WCT_PTO_Required__c= true, 'will require that you substitute accrued PTO time for unpaid FMLA leave.' ,'will not require that you substitute accrued PTO time for unpaid FMLA leave.')} </br>
<br>
5.(a) If you normally pay a portion of the premiums for your health insurance, these payments will continue during the period of FMLA leave. Arrangements for payment have been discussed with you and it is agreed that you will make premium payments as follows:</br>
<br>If you are receiving pay during your leave, your benefit premiums will continue to be deducted from your paycheck.</br>
<br>If you enter into an unpaid FMLA leave (generally up to one month), your benefit premiums will be deducted from your pay when you return to work.</br>
<br>If you enter into an unpaid FMLA leave (generally for more than one month), your benefit premiums will be billed monthly to your home address.</br>
<br>
(b) You have a 30-day grace period in which to make your premium payment. If payment is not made timely, your group health insurance may be canceled provided we notify you in writing at least 15 days before the date that your health coverage will lapse.  We will not pay your share of health insurance while you are on leave.
</br>
<br>(c) We will do the same with other benefits (e.g., life insurance, disability insurance, etc.) while you are on FMLA leave.</br>
<br>
6.You will be required to present a fitness-for-duty certificate prior to being restored to employment for FMLA leaves due to your own serious health condition.  If such certification is not received, your return to work may be delayed until such certification is provided.
</br>
<br>7.While on leave, you may be required to furnish us with periodic reports of your status
and intent to return to work.  If the circumstances of your leave change and you are able to return to work earlier than the date indicated on the front page of this letter, you will be required to notify us at least two days prior to the date you intend to report for work.</br>
<br>8.You may be required to furnish re-certification relating to a serious health condition.</br>
<br>9.In {!WCT_Leave__c.WCT_Employee_Work_Tax_Area__c}, you {!if (WCT_Leave__c.WCT_Insert_State_Information__c= true,'are','are not')} eligible for additional leave.</br>
{!if (WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'CA-State of California'||WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'CA01-San Francisco' ,$Label.WCT_If_work_tax_area_is_CA,'')}
{!if (WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'CT-State of Connecticut',($Label.WCT_If_work_tax_area_is_CT),'')} 
{!if (WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'DC-State of District Of Columbia',($Label.WCT_If_work_tax_area_is_DC),'')} 
{!if (WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'IA-State of Iowa',($Label.WCT_If_work_tax_area_is_IA),'')} 
{!if (WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'KY-Kentucky'||WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'KY0D-Metro Louisville/Jefferson'||WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'KY2H-Louisville' ,$Label.WCT_If_work_tax_area_is_KY,'')}
{!if (WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'LA-State of Louisiana',($Label.WCT_If_work_tax_area_is_LA),'')}
{!if (WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'MA-State of Massachusetts',($Label.WCT_If_work_tax_area_is_MA),'')}
{!if (WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'NJ-State of New Jersey',($Label.WCT_If_NJ),'')}
{!if (WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'OR-State of Oregon',($Label.WCT_If_work_tax_area_is_OR),'')}
{!if (WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'TN-State of Tennessee',($Label.WCT_If_work_tax_area_is_TN),'')}
{!if (WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'WA-State of Washington'||WCT_Leave__c.WCT_Employee_Work_Tax_Area__c = 'WA01-Seattle',$Label.WCT_If_work_tax_area_is_WA,'')}
<br>10.Based upon the information you have provided, the following is an estimate of your leave of absence:</br>
<br></br>
<br><i><b><center>Dates of the Leave are to be determined. Estimated start date is:<a> </a> <apex:outputText value="{0,date,MMMM d, YYYY}">
       <apex:param value="{!WCT_Leave__c.WCT_Leave_Start_Date__c}"/>
   </apex:outputText></center></b></i> </br>
<br></br>
<br></br>
<table>
<tr>Thank you,</tr>
<tr></tr>
<tr></tr>
<tr></tr>
<tr>U. S. Leaves Team | CTS ELE - Leaves Team</tr> 
<tr>Deloitte Services, LP</tr>
<tr>4022 Sells Drive, Hermitage, TN, 37076, USA Tel: +1 800 335 6488 | Fax:  +1 615 884 0860</tr>
<tr></tr>
<tr></tr>
<tr></tr>
<tr><font color="green">Please consider the environment before printing.</font></tr>
</table>
</div>
</table> 
</apex:page>