<apex:page controller="SOSLController" showHeader="true" sidebar="true" id="pbb1" tabStyle="Home__tab" readOnly="true">
   <apex:form id="form1">

    <apex:actionFunction name="af_reRenderSearchBlock" reRender="searchBlock"/>

    <apex:pageBlock id="searchBlock" >
            <apex:pageMessages rendered="{!searchResults.size = 0}" id="pg1"></apex:pageMessages>
            
        <apex:pageBlockButtons location="top">
            <input type="button" class="btn" value="Search" onclick="af_reRenderSearchBlock()"/>
        </apex:pageBlockButtons>
        <apex:pageBlockSection collapsible="false" columns="1">
            <apex:pageBlockSectionItem helpText="Will search on FMLA Designation and FMLA Eligibility Letters">
                <apex:outputLabel for="searchParam">Search String</apex:outputLabel>
                <apex:inputText id="searchParam" value="{!searchText}"/>
                
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem helpText="Date Format MM/DD/YYYY">
            <apex:outputLabel for="searchParam1">Start Date</apex:outputLabel>
            <apex:inputText id="searchParam1" value="{!Startdate}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem helpText="Date Format MM/DD/YYYY">
            <apex:outputLabel for="searchParam2">End Date</apex:outputLabel>
                <apex:inputText id="searchParam2" value="{!EndDate}"/>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection collapsible="false" columns="1" title="FMLA ELIGIBILITY RESULTS" rendered="{!searchResults.size > 0}">
            <apex:pageblocktable value="{!searchResults}" var="row">
                <apex:column headerValue="Name">
                <apex:outputLink target="_blank" value="/{!row.record['id']}">{!row.record['name']}</apex:outputLink>

                </apex:column>  
                <apex:column value="{!row.record['Createddate']}"/> 
            </apex:pageblocktable>
            
        </apex:pageBlockSection>
        <apex:pageBlockSection collapsible="false" columns="1" title="FMLA DESIGNATION RESULTS" rendered="{!searchResults1.size > 0}">
            <apex:pageblocktable value="{!searchResults1}" var="row">
                
                
                 <apex:column headerValue="Name">
                <apex:outputLink target="_blank" value="/{!row.record1['id']}">{!row.record1['subject']}</apex:outputLink>

                </apex:column>
                 <apex:column value="{!row.record1['Createddate']}"/>
            </apex:pageblocktable>
            
        </apex:pageBlockSection>
        
    </apex:pageBlock>

</apex:form>
</apex:page>