<apex:page showHeader="false" sidebar="false" cache="true" controller="WCT_Apply_Dependent_Visa_FormController" action="{!updateTaskFlags}">
    <apex:include pageName="SitesTodHeader"/>
        <script type="text/javascript">
         /* Height Adjust */
         var minheight;
         $( window ).ready(function() {
                minheight= $("#content-wrapper").height()+40;
                if($(window).height() > minheight )
                {
                    $( "#content-wrapper").css( "height",$(window).height()-20) ;
                }
                else
                {
                    $( "#content-wrapper").css( "height",minheight) ;
                }
          });
        $( window ).resize(function() {
            var windowHeight = $(window).height(); //retrieve current window height
            if(windowHeight > minheight )
            {
                $( "#content-wrapper").css( "height",windowHeight -20 ) ;
            }
            else
            {
                $( "#content-wrapper").css( "height",minheight) ;
            }
        });
        </script>
    <apex:form >
    <apex:outputText rendered="{!display}"> 
       
     <!--   <div id="WebToCaseForm"  class="popup-container popup-large">        
            <header class="title">Your Task associated with "{!taskSubject}" has been successfully completed.</header>
            
        </div>   -->
        
        <div id="WebToCaseForm" class="popup-container popup-large" style="font-family:arial;font-size:17px;color:#0A6499;">        
           
           <apex:outputField value="{!taskRefRecord.Form_Verbiage__c}"/>
           
           <a href="{!siteURL}" target="_blank">Dependent Visa Form</a><br/><br/>

           
        </div>
    </apex:outputText> 
    </apex:form>
</apex:page>