<apex:page standardController="WCT_Interview__c"  showHeader="false" sidebar="false" standardStylesheets="false">
<style>
.test1
{
//width:50px;
height:50px;
}
.form1{
background-color:#E7E7E7;
}
.buttonStyle { width:100%; background:#92D400; text-align:center; height:30px; }
.no-close .ui-dialog-titlebar {
display: none;
}
</style>
<apex:stylesheet value="{!$Resource.Jquery_Dialogue_CSS}"/>
<apex:includeScript value="{!$Resource.jquery_1_10_2}"/>
<apex:includeScript value="{!$Resource.Jquery_UI_Dialogue}"/>
<script>
function TaleoConfirmation() {
    $(function() {
        $( "<div>Did Candidate apply through Taleo?</div>" ).dialog({
        dialogClass: "no-close",
        resizable: false,
        height:150,
        zIndex: 10000, 
        autoOpen: true,
        width:350, 
        modal: false,
            buttons: {
                "Yes": function(){
                   window.top.location="/apex/WCT_SubmitCandidate_Page";
                },
                "No": function() {
                window.top.location="/apex/WCT_SubmitAdHocCandidate_Page";
                }
            }
        });
    });
return false;
}
function submitCandidate(){
    //alert('entered');
    window.top.location="/apex/WCT_SubmitCandidate_Page";
    return false;
}
</script>

    <apex:form id="form1">
    
        <apex:pageBlock >
       <br/>                
            <apex:pageBlockSection columns="1" showHeader="true"  collapsible="false" >                
                <apex:pageBlockSectionItem dataStyleClass="test1" id="RecruiterSection" >
                  <apex:outputPanel >
                         <apex:commandButton style="background:#92D400;color:black;" styleClass="buttonStyle" value="{!$Label.WCT_Home_page_Button_Name_for_US}" action="{!URLFOR($Action.Account.New)}" onclick=" return TaleoConfirmation();" immediate="true" />
                  </apex:outputPanel>                     
                     
                    </apex:pageBlockSectionItem>
                    <!--
                     <apex:pageBlockSectionItem dataStyleClass="test1" id="RecruiterSectionIndia" rendered="{!$User.Country == 'India' || $User.Country == 'INDIA'}">
                          <apex:outputPanel >
                             <apex:commandButton style="background:#92D400;color:black;" styleClass="buttonStyle" value="{!$Label.WCT_Home_page_Button_Name_for_INDIA}" onclick=" return submitCandidate();" immediate="true" />
                          </apex:outputPanel>                     
                     
                    </apex:pageBlockSectionItem> -->                      
            </apex:pageBlockSection>  
        </apex:pageBlock>
    </apex:form>
</apex:page>